<script>
    import { _ } from 'svelte-i18n';

    import ScrollToEnds from '../../components/ScrollToEnds.svelte';
    import Header from '../_components/Header.svelte';
    import CollectionInterface from '../vihari/res/_components/CollectionInterface.svelte';
</script>


<Header/>

<div class="container">
    <div class="nalanda">
        <!--img class="nalanda__repr" src="nalanda.jpg" alt="{$_('projects.nalanda.name')}"-->
        {$_('projects.nalanda.welcome')}
    </div>

    <div class="colln-interface-wrapper">
        <CollectionInterface
            allowedClassNames="{['Library']}"
            addNewURL="vihari/actions/create-library"
            shouldEnableAddNew="{true}"
            shouldEnableDelete="{true}"
            hideFlags="{{}}"
            anchorTarget="_self"
            interfaceTitle="{$_('g.libraries')}"
            multiSelect="{true}"
            parentView="{{}}"
            resClassLabel="{$_('g.library')}"
            searchInputSanityFlags="{{ noSimple: true, noConst: true }}"
            advancedSearchEnabled="{true}"
        />
    </div>
</div>

<ScrollToEnds/>

<style>
    .container {
        max-width: 65em;
        padding: 0.5em;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-items: center;
        gap: 0.5em;
        min-height: calc(100vh - 3.7em);
    }

    .nalanda {
        font-weight: bold;
        text-align: center;
        width: max-content;
        margin: 0 auto 0.3em auto;
    }

    .colln-interface-wrapper {
        width: 100%;
    }
</style>
