<script>
    import ResourceRepr from '../ResourceRepr.svelte';

    export let repr;
    export let accessor;
    export let inheritanceBranch;

    export let hideFlags;
    export let selected;
    export let parentView;
    export let membershipAction;
</script>


<div class="view-container">

    <ResourceRepr
        {repr} {accessor} {inheritanceBranch} {membershipAction}
        {hideFlags} {parentView} bind:selected
    />

</div>


<style>

    .view-container {
        max-width: 25rem;
        padding: 0.5rem;
        border: 1px solid var(--c-sep);
        border-radius: 0.3rem;
    }

</style>
