<script>
    import { _ } from 'svelte-i18n';
    import { createEventDispatcher } from 'svelte';
    import { slide } from 'svelte/transition';

    import { lc } from '../../../context-stores';

    import TaskDetailsPoller from '../../../components/tasks/TaskDetailsPoller.svelte';
    import StateIndicator from '../../../components/tasks/StateIndicator.svelte';
    import ResourceRepr from '../../vihari/_components/res/ResourceRepr.svelte';
    import AgentChip from '../../sangha/_components/agents/AgentChip.svelte';
    
    const dispatch = createEventDispatcher();
    export let task;

    export let reprsMap = {};
    export let accessorsMap = {};
    export let agentsGraph = {};

    export let membershipAction = 'select';

    export let selected = false;
    export let statusExpanded = false;
    export let statusExpandedEffective = false;
    export let hideFlags = {};

    function getName() {
        const label = $lc.getLocalizedText(task.label);
        if (label) {
            return label.chars;
        }
        return task.name || '---';
    }

    const onMemberRemoveRequest = () => dispatch('member-remove-request', {
        task,
    });

    const onSelectionChange = (e) => dispatch('selection-change', {
        task,
        checked: e.target.checked,
    });

    function toggleStatusView() {
        statusExpanded = !statusExpanded;
    }

    function onTaskStateChange({ detail }) {
        if (task.resolved) return;
        task.status.state = detail.state;
        if (['SUCCESS', 'FAILURE', 'PARTIAL'].includes(detail.state)) {
            task.resolved = true;
        }
        // TODO also update work succeeded/failed quntities
    }

    function onPollError() {
        //
    }
</script>


<div class="container">
    <div class="tb">
        {#if !hideFlags.memaction}
            <div class="tb__memaction">
                {#if membershipAction === 'select'}
                    <label>
                        <input type="checkbox"
                            bind:checked="{selected}"
                            class="tb__memaction__select"
                            value="{task}"
                            on:change="{onSelectionChange}"
                        > 
                        {$_('g.select')}
                    </label>
                {:else}
                    <button type="button" class="tb__memaction__remove reset__button" on:click="{onMemberRemoveRequest}" title="{$_('g.remove')}">
                        <svg class="kicon">
                            <use xlink:href="symbol-defs.svg#icon-close-outline"></use>
                        </svg>
                    </button>
                {/if}
            </div>
        {/if}
        <h3 class="tb__content">
            
            <a class="tb__content__name" href="tasks/{task._id}">
                <StateIndicator state="{task.status.state}"/>
                {$lc, getName()}
            </a>
            <!--div class="sub-tb">
                <div class="sub-tb__id">{task._id}</div>
            </div-->
        </h3>
        <button class="reset__button tb__status-view-toggle" type="button" on:click="{toggleStatusView}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-{statusExpanded ? 'arrow-thin-right' : 'menu'}"></use>
            </svg>
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-time"></use>
            </svg>
        </button>
        <div class="tb__status-view-toggle-placeholder"></div>
    </div>

    <div class="info">
        <table class="info__meta">
            {#if reprsMap && reprsMap[task.on.target.id]}
                <tr>
                    <td>{$_('tasks.g.target')}</td>
                    <td>
                        <div class="repr-wrapper">
                            <ResourceRepr
                                repr="{reprsMap[task.on.target.id]}"
                                accessor="{accessorsMap[(reprsMap[task.on.target.id] || {}).jsonClass]}"
                                hideFlags="{{ info: true, memaction: true, defaultApp: true }}"
                                anchorTarget="_blank"
                            />
                        </div>
                    </td>
                </tr>
            {/if}
            {#if task.on.path && task.on.path.length > 1}
                 <tr>
                    <td>{$_('tasks.g.path')}</td>
                    <td>
                        <div><a href="tasks/{task.on.path[1].target.id}">{$_('tasks.g.parent-target').toLowerCase()}</a></div>
                        {#if reprsMap && reprsMap[task.on.path[1].target.id]}
                            <div class="repr-wrapper">
                                <ResourceRepr
                                    repr="{reprsMap[task.on.path[1].target.id]}"
                                    accessor="{accessorsMap[reprsMap[task.on.path[1].target.id].jsonClass]}"
                                    hideFlags="{{ info: true, memaction: true, defaultApp: true }}"
                                    anchorTarget="_blank"
                                />
                            </div>
                        {/if}
                    </td>
                </tr>
            {/if}
            <tr>
                <td>{$_('tasks.g.service')}</td>
                <td>{task.service.name}</td>
            </tr>
            {#if agentsGraph && agentsGraph[task.agent.user.id]}
                <tr>
                    <td>{$_('tasks.g.user')}</td>
                    <td>
                        <div class="repr-wrapper">
                            <AgentChip agent="{agentsGraph[task.agent.user.id]}" agentAnchorTarget="_blank"/>
                        </div>
                    </td>
                </tr>
            {/if}
            <tr>
                <td>{$_('tasks.g.state')}</td>
                <td>{$_(`states.${task.status.state.toLowerCase()}`)}</td>
            </tr>
            {#each ['started_at', 'updated_at', 'resolved_at'] as bound(bound)}
                 {#if task.chronology[bound]}
                     <tr>
                         <td>{$_(`tasks.g.${bound}`)}</td>
                         <td>{task.chronology[bound].split('.')[0]}</td>
                     </tr>
                 {/if}
            {/each}
            <tr>
                <td>{$_('tasks.g.work')}</td>
                <td>
                    <span class="work__type">{task.work.work_type}</span>
                    {#if task.work.quantum && task.work.quantity}
                         <div class="work__quanta">
                             <span class="work__quantum">{$_(task.work.quantum)}({$_('g.plu-note')})</span>: 
                             <span class="work__quantity">{$_(task.work.quantity)}</span>
                         </div>
                    {/if}
                </td>
            </tr>
        </table>
        {#if statusExpanded}
            <!-- so that, when collapsed, component cease to exist, and polling will also stop-->
            <!--@see bug for transition on page-load: https://github.com/sveltejs/svelte/issues/3685-->
            <div
                class="info__status"
                in:slide|local="{{ y: 200, duration: 700 }}"
                out:slide|local="{{ y: 200, duration: 300 }}"
                on:introstart="{() => { statusExpandedEffective = false; }}"
                on:introend="{() => { statusExpandedEffective = true; }}"
                on:outrostart="{() => { statusExpandedEffective = true; }}"
                on:outroend="{() => { statusExpandedEffective = false; }}"
            >
                <TaskDetailsPoller
                    statusURL="{task.status.url}"
                    initDetails="{task.status}"
                    meta="{{ name: getName() }}"
                    barTextSize="{80}"
                    on:state-change="{onTaskStateChange}"
                    on:error="{onPollError}"
                />
            </div>
        {/if}
    </div>
</div>


<style>
    .tb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0.3em;
        /* padding-bottom: 0.1em; */
    }

    .tb__memaction {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 0.85em;
        color: var(--c-s);
        text-align: center;
        margin-left: 0.2em;
    }

    .tb__memaction__select {
        height: 0.9em;
        width: 0.9em;
        vertical-align: middle;
    }

    .tb__content {
        margin: 0em;
    }

    .tb__content__name {
        font-size: 1em;
        color: var(--c-s);
        display: block;
        padding-bottom: 0.1em;
        max-height: 3.6em;
        overflow-y: auto;
        word-break: break-word;
        --ind-ml: 0em;
        --ind-mr: 0.2em
    }

    .tb__status-view-toggle-placeholder {
        /* For creating symetry */
        width: 2.3em;
    }

    .tb__status-view-toggle {
        position: absolute;
        top: 0em;
        right: 0em;
        height: 100%;

        /*align-self: stretch;
        justify-self: end;
        */
        padding: 0.2em;
        background-color: var(--c-surface);

        border-top-right-radius: var(--ts-toggle-trr, 0em);
        border: none;
        outline: none;
        font-size: 0.8em;
        border-left: 1px dotted var(--c-sep);
    }

    .info {
        display: flex;
        justify-content: space-between;
    }

    .info__meta {
        border-top: 1px dotted;
        padding: 0.5em;
        flex-grow: 1;
    }

    .info__status {
        display: flex;
        padding: 0.5em;
        justify-content: center;
        min-width: 25%;
        align-items: center;
        --task-bg: inherit;
        background-color: var(--c-surface);
        border-top-left-radius: 0.3em;
    }

    td {
        padding: .25rem .75rem;
        word-break: break-word;
        border-bottom: 1px dashed var(--c-sep);
        height: 2.3em;
        font-size: 0.95em;
    }

    td:first-child {
        color: var(--c-sd);
    }

    tr:last-child > td {
        border-bottom: none;
    }

    .repr-wrapper {
        background-color: var(--c-contrast2);
        max-width: 15em;
        border: 1px solid var(--c-os);
        border-radius: 1.5em;
        font-size: 0.7em;
        padding: 0.5em;
        overflow: auto;
    }


</style>
