<script>
    import TaskRepr from './TaskRepr.svelte';

    export let tasks = [];
    export let targetReprsMap = {};
    export let targetAccessorsMap = {};
    export let usersGraph = {}; // Should we compute them here instead?

    export let collectionViewMode = 'list';
    $: isInGridMode = collectionViewMode === 'grid';

    export let membershipAction = 'select';
    export let multiSelect = false;
    const selection = {};
    export let selectedItems = [];

    export let hideFlags;
    export let anchorTarget = '_self';

    const expandedMap = {};

    const onItemSelectionChange = (e) => {
        // console.log(e.detail);
        const { task, checked } = e.detail;
        if (checked) {
            if (multiSelect) {
                selectedItems.push(task);
            } else {
                selectedItems.length = 0;
                selectedItems.push(task);
                Object.keys(selection).forEach((id) => {
                    if (id !== task._id) selection[id] = false;
                });
            }
        } else {
            selectedItems.splice(selectedItems.indexOf(task), 1);
        }
        selectedItems = selectedItems;
    };

    // $: console.log({ selectedItems, selection });
</script>


<div
    class="container"
    class:container--list="{!isInGridMode}"
    class:container--grid="{isInGridMode}"
>

    {#each tasks as task(task._id || task)}
        <div class="task" class:task--list="{!isInGridMode}" class:task--grid="{isInGridMode}" class:task--grid--expanded="{isInGridMode && expandedMap[task._id]}">
            <TaskRepr
                task="{task}"
                reprsMap="{targetReprsMap}"
                accessorsMap="{targetAccessorsMap}"
                agentsGraph="{usersGraph}"
                {hideFlags}
                {membershipAction}
                {anchorTarget}
                bind:selected="{selection[task._id]}"
                on:selection-change="{onItemSelectionChange}"
                on:member-remove-request
                bind:statusExpanded="{expandedMap[task._id]}"
            />
        </div>
    {/each}

</div>


<style>

    .container {
        display: grid;
        max-width: 100%;
        gap: 0.3em;
        padding-bottom: 0.3em;
    }

    .container--list {
        grid-template-columns: 1fr;
    }

    .container--grid {
        /* grid-template-columns: repeat(auto-fill, minmax(auto, var(--repr-max-width, 25em))); */
        grid-template-columns: repeat(auto-fill, minmax(25em, auto));
        justify-content: var(--repr-grid-justify, center);
        align-content: center;
        grid-row-gap: 1.3em;
        grid-column-gap: 1em;
    }

    .task {
        border-radius: var(--repr-border-radius, 0.5em);
        --ts-toggle-trr: var(--repr-border-radius, 0.5em);
        /* max-width: var(--repr-max-width, none) */
        background: var(--repr-bg, inherit);
        overflow: auto; /*necessary?*/
    }

    .task--list {
        border-bottom: 1px solid var(--c-sep);
    }

    .task--grid {
        border: var(--repr-grid-border, 1px solid var(--c-sep));
        box-shadow: var(--repr-grid-shadow, 1px 0px 3px #aaa);
        /* max-width: var(--repr-max-width, 25em); */
    }

    .task--grid--expanded {
        grid-column: 1/-1;
        /* max-width: var(--repr-max-width-exp, 50em); */
    }

</style>
