<script>
    import { onMount } from 'svelte';
    import { URLSearchParams } from '@vedavaapi/web';
    import { _ } from 'svelte-i18n';
    
    import { constraintsToMapsGroup } from './_components/search/query-helper';

    import ScrollToEnds from '../../components/ScrollToEnds.svelte';
    import Header from '../_components/Header.svelte';
    import CollectionInterface from './res/_components/CollectionInterface.svelte';

    let allowedClassNames;
    let pmg;

    onMount(() => {
        const constraints = new URLSearchParams(document.location.search.substring(1));
        if (constraints.has('className')) {
            allowedClassNames = [constraints.get('className')];
            constraints.delete('className');
        }

        const constraintsMap = {};
        constraints.forEach((v, k) => {
            constraintsMap[k] = v;
        });
        pmg = constraintsToMapsGroup(constraintsMap);
    });
</script>


<Header/>

<div class="container">
    <div class="vihari">
        <!--img class="vihari__repr" src="vihari.jpg" alt="{$_('projects.vihari.name')}"-->
        {$_('projects.vihari.welcome')}
    </div>

    <div class="colln-interface-wrapper">
        <CollectionInterface
            { allowedClassNames }
            preConstraintsMapsGroup="{pmg}"
            shouldEnableAddNew="{false}"
            shouldEnableDelete="{false}"
            hideFlags="{{ memaction: true }}"
            anchorTarget="_self"
            interfaceTitle="{$_('g.browse')}"
        />
    </div>
</div>

<ScrollToEnds/>

<style>
    .container {
        max-width: 65em;
        padding: 0.5em;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-items: center;
        gap: 0.5em;
        height: calc(100vh - 3.7em);
    }

    .vihari {
        font-weight: bold;
        text-align: center;
        width: max-content;
        margin: 0 auto 0.3em auto;
    }

    .colln-interface-wrapper {
        width: 100%;
    }
</style>
