<script context="module">

    export async function preload(page) {
        const { resId } = page.params;
        // no need to preload the data
        return {
            resId,
        };
    }
</script>

<script>
    import { vc, session } from '../../../context-stores';

    import Header from '../../_components/Header.svelte';
    import AclsManager from '../_components/acls/AclsManager.svelte';

    export let resId;
</script>


<Header/>

<div class="acls-manager-wrapper">

    {#if $session.authorized}
        <AclsManager
            vc="{$vc}"
            {resId}
        />
    {:else}
        <div class="status_unauthorized">
            This action mandates authorization
        </div>
    {/if}

</div>


<style>

    .acls-manager-wrapper {
        height: calc(100vh - 3.5rem);
    }

    .status_unauthorized {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        font-size: 0.8rem;
        color: indianred;
    }

</style>
