<script>
    import { request } from '@vedavaapi/web';
    import { createForm } from 'svelte-forms-lib';

    import { session } from '../../context-stores';
    import Header from '../_components/Header.svelte';

    let status;

    const { form, handleSubmit } = createForm({
        initialValues: { ...$session },
        onSubmit: async (data) => {
            try {
                const response = await request('auth/-manipulate', {
                    body: JSON.stringify({
                        sessionUpdate: data,
                    }),
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                    },
                });
                $session = response.data.session;
            } catch (e) {
                status = 'error in manipulating session. see console';
                console.log(e);
            }
        },
    });

    let expiresIn;
    let timeSpent;
    setInterval(() => {
        if (!$session.expiresIn || !$session.issuedAt) {
            return;
        }
        expiresIn = ($session.issuedAt + $session.expiresIn * 1000) - Date.now();
        timeSpent = $session.expiresIn * 1000 - expiresIn;
    }, 3000);
</script>

<style>
</style>

<Header/>
<h1>Manipulate Session</h1>
<hr>
<pre class="session">{JSON.stringify($session, undefined, 4)}</pre>

{#if status}
    <div>${status}</div>
{/if}

{#if expiresIn !== undefined}
    <div>
        session will expire in {expiresIn / 1000} seconds<br>
        and {timeSpent / 1000} secons passed<br>
        <br>
    </div>
{/if}

<form on:submit={handleSubmit}>
    <fieldset>
    <legend>Session</legend>
        <div>
            <label>
                accessToken<br>
                <input type="text" name="accessToken" bind:value={$form.accessToken}>
            </label>
        </div>
        
        <div>
            <label>
                issuedAt<br>
                <input type="number" name="issuedAt" bind:value={$form.issuedAt}>
            </label>
        </div>
        
        <div>
            <label>
                expiresIn<br>
                <input type="number" name="expiresIn" bind:value={$form.expiresIn}>
            </label>
        </div>
    </fieldset>
    <button type="submit">manipulate</button>
</form>
