<script>
    import { request } from '@vedavaapi/web';
    import { accounts } from '@vedavaapi/client';
    import { onMount } from 'svelte';

    // eslint-disable-next-line import/no-unresolved
    import { stores } from '@sapper/app';
    import { site } from '../../context-stores';

    const { session } = stores(); // we will use sapper session directly.


    let status = 'logging you out....';

    onMount(async () => {
        try {
            await accounts.auth.SignOut.get({
                vc: { base: $site.url, accessToken: $session },
                init: {
                    credentials: 'include',
                },
            });
            status = 'logged out from api. clearing cookies.';
        } catch (e) {
            status = 'error in logging out';
            // return; // TODO NOTE, even if is logged out from outside, we forget authorized creds
        }

        try {
            await request('auth/logout');
            status = 'logged out successfully';
            $session = {};
        } catch (e) {
            status = 'error in logging out';
            return; // TODO NOTE, even if is logged out from outside, we forget authorized creds
        }

        if (!window.opener || !window.opener.setFlowResult) {
            return;
        }
        window.opener.setFlowResult({
            event: 'UNAUTHORIZED',
            status: 'SUCCESS',
            session: $session,
        });
        window.close();
});
</script>

<div>{status}</div>
