<script>
    import IdsInput from '../IdsInput.svelte';
    
    export let allowedClassNames;
    export let resId;
    export let resIds;
    export let mode = 'single';
</script>

<div class="view-container">
    <IdsInput
        {allowedClassNames}
        {resIds}
        {resId}
        {mode}
    />
</div>


<style>

    .view-container {
        border: 1px solid var(--c-onpxl);
        padding: 0.3em;
    }

</style>
