<!--

    It is behaviour only component, which executes search

-->

<script>
    import { objstore, tasker } from '@vedavaapi/client';
    import { createEventDispatcher } from 'svelte';
    import { UiProfilesManager } from '../res/UiProfilesManager';

    import { lc, vc } from '../../../../context-stores';
    import { uiProfileStoreSq } from '../../../../classdefs-stores';

    const endpoints = {
        resources: objstore.Resources,
        tasks: tasker.manager.Tasks,
    };

    export let endpointId = 'resources';
    $: endpoint = endpoints[endpointId];

    // following are params
    export let selectorDoc;
    export let sortDoc;
    export let projection = { resolvedPermissions: 0, content: 0, hierarchy: 0 }; // TODO projection map should be supported

    export let reprTemplateData;

    // following are meant for bindings
    export let currentPage = 0;
    export let count = 10;
    let countCorrection = 0;
    export let total;

    const dispatch = createEventDispatcher();

    export let resources = [];
    export let resourceReprs = [];
    const profilesManager = new UiProfilesManager({
        upStore: $uiProfileStoreSq,
        lc: $lc,
        vc: $vc,
    });
    // eslint-disable-next-line no-unused-expressions
    $: $uiProfileStoreSq && profilesManager.resetStores({ upStore: $uiProfileStoreSq });

    const onContextUpdate = () => {
        profilesManager.resetContexts({ lc: $lc, vc: $vc });
        dispatch('accessors-update', profilesManager.accessorsMap);
    };
    // eslint-disable-next-line no-unused-expressions
    $: $lc, $vc, onContextUpdate();

    const reset = () => {
        resources.length = 0;
        resourceReprs.length = 0;
        currentPage = 0;
        total = undefined;
    };

    // eslint-disable-next-line no-unused-expressions
    $: selectorDoc, sortDoc, projection, reset();

    const getNormalizedProjection = (p) => {
        if (!p) return p;
        const keys = Object.keys(p);
        if (!keys.length) return undefined;
        const mode = !!p[keys[0]];
        const np = { ...p };
        if (mode) {
            np.jsonClass = 1;
            np._id = 1;
        } else {
            delete np.jsonClass;
            delete np._id;
        }
        return np;
    };

    export const getResultsPage = async (page, append = true) => {
        if (!endpoint) {
            throw Error('invalid endpoint id');
        }
        if (!append || !resources) {
            resources = [];
            resourceReprs = [];
        }
        const start = (page - 1) * count + countCorrection;
        if (total !== undefined && start >= total) {
            currentPage = page;
            return { resources, resourceReprs, accessorsMap: profilesManager.accessorsMap, exhausted: true };
        }

        const response = await endpoint.get({
            vc: $vc,
            params: {
                selector_doc: selectorDoc,
                count,
                projection: getNormalizedProjection(projection),
                sort_doc: sortDoc,
                start,
            },
        });
        const { items, total_count, effective_count = count } = response.data;
        total = total_count;
        if (effective_count > count) {
            countCorrection += effective_count - count;
        }
        await profilesManager.ensureFor(items);

        items.forEach((item) => {
            const templateData = { ...reprTemplateData };
            resources.push(item);
            templateData._ = item;
            const repr = profilesManager.profilesMap[item.jsonClass].repr.instance(templateData);
            // console.log({ item, repr, templateData });
            resourceReprs.push(repr);
        });
        currentPage = page;
        return { resources, resourceReprs, accessorsMap: profilesManager.accessorsMap, exhausted: false };
    };

    export const getNextPage = (append = true) => getResultsPage(currentPage + 1, append);
</script>

<svelte:options accessors={true}/>
