<script>
    import { _ } from 'svelte-i18n';
    import { tick, createEventDispatcher } from 'svelte';
    import { LightPaginationNav } from 'svelte-paginate';
    import { Circle } from 'svelte-loading-spinners';

    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';
    import ResourceCollection from '../res/ResourceCollection.svelte';
    import Anveshi from './Anveshi.svelte';
    import SearchEmitterFlowActive from './SearchEmitterFlowActive.svelte';


    export let title = $_('s.select-res');
    export let allowedClassNames;
    export let multiSelect = false;
    export let invokeConstantSearch;
    export let autoExecute = true;

    const dispatch = createEventDispatcher();

    let anveshi;

    let searchedOnce = false;

    let resourceReprs;
    let accessorsMap = {};
    let currentPage = 1;

    let searchInProgress = false;
    let searchError;

    let siVisible = false;

    export let selectedResources = []; // TODO test with multiselect
    // $: console.log({ selectedResources });

    const getPage = async (pageNo) => {
        // console.log({ pageNo });
        searchInProgress = true;
        searchError = undefined;

        try {
            ({ resourceReprs, accessorsMap } = await anveshi.getResultsPage(pageNo || anveshi.currentPage + 1, false));
        } catch (e) {
            searchError = e;
        }
        searchInProgress = false;
    };

    const search = async (e) => {
        // console.log('in search', e);
        anveshi.selectorDoc = e.detail.selectorDoc;
        anveshi.sortDoc = e.detail.sortDoc;
        anveshi.projection = e.detail.projection;

        searchedOnce = true;
        if (searchedOnce) {
            siVisible = false;
        }

        await tick;
        await getPage(1);
    };

    const toggleSI = () => {
        siVisible = !siVisible;
    };

    const closeRequest = () => dispatch('close-request');
    const commitRequest = () => dispatch('commit-request', {
        reprs: selectedResources,
        accessorsMap,
    });


    const onGlobalKeyUp = (e) => {
        const keyCode = Number(e.keyCode);
        if (keyCode === 27) {
            // escape
            closeRequest();
        }
    };

    // eslint-disable-next-line no-unused-expressions
    $: !searchedOnce && autoExecute && invokeConstantSearch && invokeConstantSearch();
</script>



<div class="container" class:container--alt="{searchedOnce}" on:keyup="{onGlobalKeyUp}">

    <Anveshi bind:this="{anveshi}" on:accessors-update="{(u) => { accessorsMap = u; }}"/>

    <div class="header">
        <button type="button" class="h__toggle reset__button" on:click="{toggleSI}" class:hidden="{!searchedOnce}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-search"></use>
            </svg>
        </button>
        <h2 class="h__title">{title}</h2>
        <button type="button" class="h__close reset__button" on:click="{closeRequest}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-close-outline"></use>
            </svg>
        </button>
    </div>

    <div class="paginator" class:hidden="{!searchedOnce}">
        <div class="paginator__ui">
            {#if anveshi && anveshi.total > 0}
                <LightPaginationNav
                    totalItems="{anveshi.total}"
                    pageSize="{anveshi.count}"
                    currentPage="{currentPage}"
                    limit="{1}"
                    showStepOptions="{true}"
                    on:setPage="{async (e) => {
                        await getPage(e.detail.page);
                        currentPage = e.detail.page;
                    }}"
                />
            {/if}
        </div>
    </div>

    <div class="resp" class:hidden="{!searchedOnce}">
        <div class="res-list" class:hidden="{searchError || searchInProgress}">
            {#if resourceReprs && resourceReprs.length}
                <ResourceCollection
                    {resourceReprs}
                    {accessorsMap}
                    hideFlags="{{
                        info: true,
                        defaultApp: true,
                    }}"
                    bind:selectedItems="{selectedResources}"
                    anchorTarget="_blank"
                    collectionViewMode="list"
                    { multiSelect }
                />
            {:else}
                <div class="no-results">
                    {$_('g.no-results-found')}.
                </div>
            {/if}
        </div>
        <div class="response__loading" class:hidden="{!searchInProgress}">
            <div class="response_loading_ui">
                <Circle
                    size="60"
                    color="var(--c-sd)"
                    unit="px"
                />
                {$_('g.loading')}
            </div>
        </div>
        <div class="response__error" class:hidden="{!searchError}">
            <FetchErrorReport
                action="search"
                on:retry="{() => getPage(currentPage)}"
                error="{searchError}"
            />
        </div>
    </div>

    <div class="search-input" class:search-input--alt="{searchedOnce}" class:hidden="{searchedOnce && !siVisible}">
        <SearchEmitterFlowActive
            on:search="{search}"
            {allowedClassNames}
            bind:invokeConstantSearch="{invokeConstantSearch}"
        />
    </div>

    <div class="go" class:hidden="{!(resourceReprs && resourceReprs.length)}">
        <button type="button" class="reset__button go__button" on:click="{commitRequest}">Select</button>
    </div>

</div>


<style>

    .container {
        background-color: var(--c-p);
        height: 100%;
        position: relative;
        padding: 0em;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5em 1fr auto;
        grid-template-areas: 
            "header"
            "search-input"
            "go"
        ;
        gap: 0.3em;
        border-radius: var(--rs-border-radius, 0em);
    }

    .container--alt {
        grid-template-rows: 1.5em auto 1fr auto;
        grid-template-areas: 
            "header"
            "paginator"
            "resp"
            "go"
        ;
    }

    .header {
        background-color: var(--c-sd);
        color: var(--c-p);
        grid-area: header;

        display: grid;
        grid-template-columns: 2em auto 2em;
        grid-template-areas: 
            "search-toggle title close"
        ;
        align-content: center;
        align-items: center;

        height: 1.5em;
        padding: 0.15em 0.3em;
        /* box-shadow: 3px 5px 10px 0px #ccc; */
        border-top-left-radius: var(--rs-border-radius, 0em);
        border-top-right-radius: var(--rs-border-radius, 0em);
    }

    .h__title {
        justify-self: center;
        grid-area: title;
        font-size: 1em;
        text-align: center;
        margin: 0em;
    }

    .h__toggle {
        justify-self: start;;
        grid-area: search-toggle;
    }

    .h__close {
        grid-area: close;
        justify-self: end;
    }

    .search-input {
        position: relative;
        overflow-y: auto;
        grid-area: search-input;
        padding: 0.3em;
        font-size: 0.9em;
    }

    .search-input--alt {
        position: absolute;
        min-width: 25em;
        max-width: 90%;
        box-shadow: 3px 3px 20px 0px #888;
        /* z-index: 500; */
        max-height: calc(100% - 5em);
        left: 0.1em;
        top: 1.65em;
        background: inherit;
        border-radius: 0em 0em 0.5em 0.5em;
    }

    .si__close {
        position: absolute;
        z-index: 550;
    }

    .paginator {
        height: 2em;
        grid-area: paginator;
    }

    .resp {
        overflow: auto;
        grid-area: resp;
        padding: 1em;
        font-size: 0.8em;
    }

    .response__loading {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .res-list {
        min-height: 100%;
    }

    .no-results {
        font-weight: bold;
        color: grey;
        display: flex;
        justify-content: center;
    }

    .response__error {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .go {
        grid-area: go;
        font-size: 1em;
        height: 1.65em;
        border-bottom-left-radius: var(--rs-border-radius, 0em);
        border-bottom-right-radius: var(--rs-border-radius, 0em);
    }

    .go__button {
        width: 100%;
        background-color: var(--c-action-bar);
        padding: 0.3em;
        text-align: center;
        border-bottom-left-radius: var(--rs-border-radius, 0em);
        border-bottom-right-radius: var(--rs-border-radius, 0em);
    }

</style>
