<script>
    import { _ } from 'svelte-i18n';

    import { getAllFields } from './query-helper';

    import ConstantSearchParamsEmitter from './constant/ConstantSearchParamsEmitter.svelte';
    import AdvancedSearchParamsEmitter from './advanced/AdvancedSearchParamsEmitter.svelte';
    import SimpleSearchParamsEmitter from './simple/SimpleSearchParamsEmitter.svelte';

    export let lc;
    export let cmg;
    export let simpleSearchSpecs;
    export let advancedSearchFieldSpecs;
    export let asInitialValues;
    export let uiSanityFlags = {};

    export let advancedSearchEnabled = false;
    export let invokeConstantSearch;
    export let invokeAdvancedSearch;
    const toggleAS = () => {
        advancedSearchEnabled = !advancedSearchEnabled;
    };

    $: allConstantFields = getAllFields(cmg || {});
    $: varAdvancedSearchFieldSpecs = (advancedSearchFieldSpecs || []).filter((fs) => !allConstantFields.has(fs.field));
    $:console.log({ asInitialValues });
</script>


<div class="container">

    <div class="c" class:hidden="{uiSanityFlags.noConst}">
        <div class="c__title">{$_('s.pre-sets')}</div>
            <div class="c__input">
                <ConstantSearchParamsEmitter
                    fieldSpecs="{advancedSearchFieldSpecs || []}"
                    {lc}
                    {cmg}
                    bind:invokeSearch="{invokeConstantSearch}"
                    on:search
                />
            </div>
    </div>

    <div class="s" class:hidden="{uiSanityFlags.noSimple}">
        <div class="s__filler" class:hidden="{!advancedSearchEnabled}"></div>
        <div class="s__emitter">
            <SimpleSearchParamsEmitter
                {simpleSearchSpecs}
                {lc}
                {cmg}
                on:search
            />
        </div>
    </div>

    <div class="toggle" class:hidden="{uiSanityFlags.noSimple}">
        <a class="toggle__a" href="javascript: void(0)" on:click="{toggleAS}">
            {$_('s.advanced-search')}
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-{advancedSearchEnabled ? 'close-outline' : 'cheveron-outline-down'}"></use>
            </svg>
        </a>
    </div>

    <div class="a" class:hidden="{uiSanityFlags.noAdvanced || !advancedSearchEnabled}">
        <div class="a__emitter">
            <AdvancedSearchParamsEmitter
                advancedSearchFieldSpecs="{varAdvancedSearchFieldSpecs}"
                {lc}
                {cmg}
                on:search
                bind:invokeSearch="{invokeAdvancedSearch}"
                initialValues="{asInitialValues}"
            />
        </div>
    </div>

</div>


<style>

    .c {
        position: relative;
        margin-bottom: 1em;
    }

    .c__title {
        font-size: 0.8em;
        position: absolute;
        left: 0.3em;
        top: 0em;
        margin: 0rem;
        background: var(--c-action-bar);
        padding: 0.2em;
        color: var(--c-onp);
    }

    .c__input {
        background: var(--c-contrast2);
        border: 1px dotted var(--c-action-bar);
        padding: 0.3em;
        font-size: 0.8em;
        border-radius: 0.15em;
    }

    .s {
        position: relative;
    }

    .s__filler {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--c-surface);
        z-index: 10;
        opacity: 0.6;
    }

    .toggle {
        text-align: center;
        margin: 0.5em 0;
        font-size: 0.9em;
    }

</style>
