<script>
    import { onMount } from 'svelte';

    import { vc, lc } from '../../../../context-stores';
    import { initClassdefsStores, uiProfileStoreSq, classHierarchyStoreSq } from '../../../../classdefs-stores';

    import SearchEmitterFlow from './SearchEmitterFlow.svelte';

    export let selectedClass;
    export let advancedSearchEnabled;
    export let allowedClassNames;
    export let preConstraintsMapsGroup;
    export let uiSanityFlags;
    export let asInitialValues;

    export let invokeConstantSearch;
    export let invokeAdvancedSearch;

    let allClassNames = [];
    let classNamesWithUI = [];

    let effectiveClassNames = [];

    const computeEffectiveClassNames = () => {
        if (!allowedClassNames) return allClassNames;
        return allowedClassNames.filter((n) => allClassNames.includes(n));
    };
    
    // eslint-disable-next-line no-unused-expressions
    $: allClassNames, allowedClassNames, effectiveClassNames = computeEffectiveClassNames();
    $: effectiveClassNamesWithUI = (allowedClassNames && allowedClassNames.length) ? allowedClassNames : classNamesWithUI;

    onMount(async () => {
        await initClassdefsStores($vc, 3);
        allClassNames = await $classHierarchyStoreSq.names(); // TODO feedback should be provided
        classNamesWithUI = await $uiProfileStoreSq.getExistingProfileNames();
    });
</script>


<div class="container">

    <SearchEmitterFlow
        lc={$lc}
        vc="{$vc}"
        upStore="{$uiProfileStoreSq}"
        classNames="{effectiveClassNames}"
        {preConstraintsMapsGroup}
        compactClassNames="{effectiveClassNamesWithUI}"
        bind:selectedClass
        bind:advancedSearchEnabled
        on:search
        bind:invokeConstantSearch
        bind:invokeAdvancedSearch
        {uiSanityFlags}
        { asInitialValues }
    />

</div>
