<script>
    import { onMount, createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';

    import { Circle } from 'svelte-loading-spinners';

    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';
    import Switch from '../../../../components/Switch.svelte';
    import JsonClassSearchInput from './jc/JsonClassSearchInput.svelte';
    import SearchParamsEmitter from './SearchParamsEmitter.svelte';
    import { QueryManager } from './query-helper';

    export let classNames = [];
    export let compactClassNames;
    export let preConstraintsMapsGroup;
    export let asInitialValues;
    export let uiSanityFlags;

    export let hideRedundantClassSelector = true;
    
    let showAllClasses = false;

    export let selectedClass = '';
    const initializeSelectedClass = () => {
        if (selectedClass) return;
        // If only one class is allowed, it selects that one automatically.
        selectedClass = compactClassNames.length === 1 ? compactClassNames[0] : '';
    };
    // eslint-disable-next-line no-unused-expressions
    $: classNames && initializeSelectedClass();

    export let upStore;
    export let vc;
    export let lc;

    export let advancedSearchEnabled;

    const dispatch = createEventDispatcher();

    let isMounted = false;
    onMount(() => {
        isMounted = true;
    });

    let searchProfilePromice;
    export let cmg;

    export let invokeConstantSearch;
    export let invokeAdvancedSearch;

    let reprProjection;

    const updateSearchInputs = async () => {
        const qm = new QueryManager();
        if (preConstraintsMapsGroup) qm.mergeToConstantGroup(preConstraintsMapsGroup);
        qm.mergeToConstantGroup({ and: { fvMap: { jsonClass: selectedClass }, frMap: { jsonClass: 'is' } } });
        cmg = qm.getMapGroup('c');
    
        const uiProfiles = await upStore.getMany([selectedClass], vc);
        /*
        if (!uiProfiles[selectedClass]) {
            throw new Error($_('s.err-ui-prof-not-exists', { values: { c: selectedClass } }));
        }
        */
        const up = uiProfiles[selectedClass] || {};
        reprProjection = (up.repr || {}).projection;
        const sp = up.search || {};
        return sp;
    };

    // eslint-disable-next-line no-unused-expressions
    $: upStore && isMounted && selectedClass && (searchProfilePromice = updateSearchInputs());

    const search = (e) => {
        dispatch('search', { ...e.detail, projection: reprProjection });
    };
</script>


<div class="container">

    <div class="jc" class:hidden="{hideRedundantClassSelector && classNames && classNames.length === 1}">
        <span class="jc__label">
            {$_('g.pick-a')}: 
        </span>
        <div class="jc__input">
            <JsonClassSearchInput
                classNames="{showAllClasses || compactClassNames === undefined ? classNames : compactClassNames}"
                bind:selectedClass="{selectedClass}"
            />
        </div>
        <div class="jc__advanced-toggle" title="{$_(showAllClasses ? 's.full-list' : 's.compact-list')}">
            <Switch bind:checked="{showAllClasses}"/>
        </div>
    </div>

    <div class="divider" class:hidden="{!selectedClass}"/>

    <div class="sp">
        {#if searchProfilePromice}
            {#await searchProfilePromice}
                <div class="sp__loading">
                    <div class="sp__loading__spinner">
                        <Circle size="{60}" color="var(--c-sml)"/><br>        
                    </div>
                    <div class="sp__loading__status">
                        {$_('s.loading-ui-prof', { values: { c: selectedClass } })}        
                    </div>
                </div>
            {:then sp}
                <div class="sp__loaded">
                    <SearchParamsEmitter
                        {lc}
                        {cmg}
                        simpleSearchSpecs="{sp.simple}"
                        advancedSearchFieldSpecs="{sp.advanced}"
                        bind:advancedSearchEnabled
                        on:search="{search}"
                        bind:invokeConstantSearch
                        bind:invokeAdvancedSearch
                        {uiSanityFlags}
                        {asInitialValues}
                    />
                </div>
            {:catch error}
                <div class="sp__error">
                    <FetchErrorReport
                        {error}
                        status="{$_('s.err-ui-prof-not-found', { values: { c: selectedClass } })}"
                        retryLabel="{$_('g.retry')}"
                        on:retry="{updateSearchInputs}"
                    />
                </div>
            {/await}
        {/if}
    </div>

</div>


<style>

    .jc {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.5em;
        font-size: 0.9em;
        color: darkgreen; /*TODO*/
    }

    .jc__input {
        margin-right: 0.5em;
    }

    .jc__label {
        margin-right: 0.5em;   
    }

    .divider {
        height: 2px;
        width: 100%;
        border-bottom: 1px dotted var(--c-on-contrast);
    }

    .sp {
        margin-top: 0.5em;
    }

    .sp__loading {
        width: 100%;
        text-align: center;        
    }

    .sp__loading__spinner {
        display: flex;
        justify-content: center;
    }

    .sp__loading__status {
        font-size: 0.8em;
        color: var(--c-onpl);
    }

</style>
