<script context="module">

    import delve from 'dlv';
    import { isLoading, waitLocale, locale } from 'svelte-i18n';

    export async function preload(page, session) {
        const lang = delve(session, 'conf.lang');
        if (lang) {
            locale.set(lang);
        }
        return waitLocale();
    }
</script>

<script>
    import { writable } from 'svelte/store';
    // eslint-disable-next-line import/no-unresolved
    import { stores } from '@sapper/app';
    import PageLoadingBar from 'sapper-page-loading-bar/PageLoadingBar.svelte';

    const { preloading } = stores();
    import { session, site } from '../context-stores';

    session.init();

    // $:console.log({session: $session});

    const apiHost = `//${$site.url.split('/', 3)}`;

    const thresholdPreloading = writable(false);

    function setupPreloadThreshold() {
        if ($preloading) {
            setTimeout(() => {
                if ($preloading) {
                    thresholdPreloading.set(true);
                }
            }, 250);
        } else {
            thresholdPreloading.set(false);
        }
    }

    // eslint-disable-next-line no-unused-expressions
    $: $preloading, setupPreloadThreshold();
</script>


<svelte:head>
    <link rel="preconnect" href="{apiHost}">
</svelte:head>

{#if $isLoading}
  <div class="loading">Loading...</div>
{/if}


<PageLoadingBar preloading="{thresholdPreloading}" color1="var(--c-s)" color2="var(--c-sxl)"/>

<main>
    <slot></slot>
</main>


<style>
    main {
        position: relative;
        background-color: white;
/*        max-width: 56em;
        padding: 2em;
        margin: 0 auto;
        */
    }

    .loading {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-family: monospace;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
  }
</style>
