<script>    
    import Header from './_components/Header.svelte';
    import Home from './_components/Home.svelte';
</script>

<Header/>

<main>
    <Home/>
</main>


<style>
    main {
        padding-bottom: 2em;
    }

    @media screen and (min-width: 860px) {
        main {
            height: calc(100vh - 3.7em);
        }
    }
</style>
