<!--
    this page's only service is notifications to appWindow, about sessionChanges.
    it only notifies to those apps which are authorized by user.
    it doesn't share new session with notification, and thus app have to request again to server, where it will go through scrutiny.
-->
<script>
    import { request } from '@vedavaapi/web';
    import { onMount } from 'svelte';
    import AuthMachine from '../auth/_components/AuthMachine.svelte';

    let initialized = false;
    let isInIframe = false;
    let appWindow;
    let appOrigin;
    let isAppAuthorized = false;

    let authMachine;

    const onSessionChange = ({ detail }) => {
        if (!isAppAuthorized) {
            return;
        }
        appWindow.postMessage({
            type: detail.event,
        }, appOrigin);
    };


    const listenAuthRequests = () => {
        window.addEventListener('message', (event) => {
            console.log({ event });
            if (event.origin !== appOrigin || !isAppAuthorized) {
                return;
            }
            if (event.data.type === 'authorizationRequest') {
                authMachine.send('CMD_AUTH');
            }
            if (event.data.type === 'unAuthorizationRequest') {
                authMachine.send('CMD_UNAUTH');
            }
        });
    };

    const init = async (event) => {
        console.log('message got', event);
        if (event.data.type !== 'initRequest') return;
        if (initialized) {
            console.log('cannot be initialized multiple times');
            return;
        }
        initialized = true;

        appOrigin = event.origin;

        let trialsCount = 0;
        const checkAppStatus = async () => {
            try {
                // eslint-disable-next-line no-unused-vars
                const app = await request(`apps/status?appURL=${encodeURIComponent(appOrigin)}`);
                window.removeEventListener('message', init);
                console.log('app is authorized');
                isAppAuthorized = true;
            } catch (e) {
                if (e.networkError && trialsCount < 5) {
                    trialsCount += 1;
                    await checkAppStatus();
                }
                // app is not authorized.
                console.log('app is not authorized');
            }
        };

        await checkAppStatus();
        listenAuthRequests();
    };

    onMount(async () => {
        isInIframe = window.parent !== window;
        appWindow = window.parent;
        if (!isInIframe || !appWindow) {
            console.log('embedded in no app', { isInIframe, appWindow });
            return;
        }
        window.addEventListener('message', init);
        appWindow.postMessage({ type: 'ready' }, '*');
    });
</script>

<AuthMachine on:sessionchange={onSessionChange} bind:this="{authMachine}"/>

{#if !isInIframe}
    this page is for embedding in other applications for quick auth flow. not meant for end users
{/if}
