<script context="module">
    import { get as getStoreValue } from 'svelte/store';

    import { vc, lc, site } from '../../../context-stores';
    import { initClassdefsStores, uiProfileStoreSq } from '../../../classdefs-stores';
    import { UiProfilesManager } from '../_components/res/UiProfilesManager';
    import { getResourceLoad } from './_lib';

    export async function preload(page, session) {
        // console.log('in res/resId preload', page);
        const { resId } = page.params;
        const $vc = { base: getStoreValue(site).url, accessToken: session.accessToken };
        const $lc = getStoreValue(lc);
        await initClassdefsStores($vc, 3);
        const $upStore = getStoreValue(uiProfileStoreSq);

        const { res, parent } = await getResourceLoad($vc, resId); // TODO errors
        // console.log('res retrieved', res);
        if (!res) {
            return {};
        }

        const profilesManager = new UiProfilesManager({
            upStore: $upStore,
            lc: $lc,
            vc: $vc,
        });
        const allItems = [res];
        if (parent) allItems.push(parent);
        await profilesManager.ensureFor(allItems); // initialize in preload
        // console.log('profiles ensured');

        return { resId, res, parent, profilesManager };
    }
</script>


<script>
    import { onMount } from 'svelte';
    import { _ } from 'svelte-i18n';

    import { STATUS_SUCCESS } from '../../../constants';
    import Modal from '../../../components/Modal.svelte';
    import ScrollToEnds from '../../../components/ScrollToEnds.svelte';
    import Header from '../../_components/Header.svelte';
    import ResourceRepr from '../_components/res/ResourcePermaRepr.svelte';
    import ReferrerBrowser from './_components/ReferrerBrowser2.svelte';
    import Tabs from '../../_components/Tabs.svelte';
    import DeleteResFlow from '../actions/_components/DeleteResFlow.svelte';

    export let resId;
    export let res;
    export let parent;
    export let profilesManager;

    let uiProfile;
    let accessor;
    let repr;
    let view;
    let parentView;

    $: refclassTabSpecs = [{ id: 'source', label: $_('g.children') }, { id: 'target', label: $_('g.annos') }];
    let currentReferrersTabId = 'source';

    let mounted = false;
    onMount(() => {
        mounted = true;
    });

    const computeReprs = () => {
        if (!res || !res.jsonClass || !profilesManager) return;
        profilesManager.resetContexts({ lc: $lc, vc: $vc });
    
        uiProfile = profilesManager.profilesMap[res.jsonClass];
        accessor = profilesManager.accessorsMap[res.jsonClass];
        const parentAccessor = parent ? profilesManager.accessorsMap[parent.jsonClass] : null;
        const parentRepr = parent ? profilesManager.profilesMap[parent.jsonClass].repr.instance({
            _: parent,
        }) : null;
        parentView = parent ? parentAccessor.view(parentRepr) : null;

        repr = uiProfile.repr.instance({
            _: res, p: parent, pr: parentRepr,
        });
        view = accessor.view(repr);
        // console.log(repr, accessor);
    };

    // eslint-disable-next-line no-unused-expressions
    $: $lc && $vc && profilesManager && res && computeReprs();

    let deleteFlowActive = false;

    function onDeleteRequest() {
        deleteFlowActive = true;
    }

    async function onDeleteFlowClose({ detail }) {
        deleteFlowActive = false;
        const { opStatus } = detail;
        if (opStatus === STATUS_SUCCESS) {
            resId = resId;
            view = null;
            repr = null;
        }
    }

    // $: console.log({ uiProfile });
</script>


<svelte:head>
    {#if view}
        <meta property="og:site_name" content="Ebharati indic text repository"/>
        <meta property="og:type" content="{view.classLabel}" />
        <meta property="og:title" content="{view.name}" />
        <meta property="og:description" content="{view.description || `${view.name} resource`}" />
        <meta property="og:image" content="{view.imgReprUrl}"/>

        <meta name="twitter:card" content="summary_large_image"/>
    {/if}
</svelte:head>

<Header/>

<div class="container">

    {#if repr}
        <div class="repr">
            <ResourceRepr
                {repr}
                {accessor}
                {parentView}
                on:delete-request="{onDeleteRequest}"
            />
        </div>
    {:else}
        <div class="cannot-access">{$_('g.cannot-access-res')}</div>
    {/if}

    {#if mounted && uiProfile && uiProfile.nav && view}
        <div class="referrers">
            <div class="refclass-tabs">
                <Tabs
                    tabSpecs="{refclassTabSpecs}"
                    bind:currentTabId="{currentReferrersTabId}"
                />
            </div>
            <div class="ref-link-triangle"></div>
            {#each ['source', 'target'] as referringField (referringField)}
                {#if uiProfile.nav[referringField] && uiProfile.nav[referringField].length}
                    <div class="ref-browser" class:hidden="{currentReferrersTabId !== referringField}">
                        <ReferrerBrowser
                            {referringField}
                            parentView="{view}"
                            parentRepr="{repr}"
                            navSpecs="{uiProfile.nav[referringField] || []}"
                            advancedSearchEnabled="{true}"
                            searchInputSanityFlags="{{ noSimple: true }}"
                        />
                    </div>
                {:else}
                    <div class="no-ref-browser" class:hidden="{currentReferrersTabId !== referringField}">
                        {$_('g.no-referrers-nav', { values: { rcp: $_(`g.${referringField === 'source' ? 'children' : 'annos'}`) } })}
                    </div>
                {/if}
            {/each}
        </div>
    {/if}

</div>

<div class="modal-wrapper">
    {#if deleteFlowActive}
        <Modal visible="{true}">
            <div class="modal-content-wrapper">
                <DeleteResFlow
                    on:close-request="{onDeleteFlowClose}"
                    resIds="{[resId]}"
                    vc="{$vc}"
                    resClassLabel="{res.jsonClass}"
                />
            </div>
        </Modal>
    {/if}
</div>

<ScrollToEnds/>

<style>

    .container {
        background-color: var(--c-p);
        height: calc(100vh - 3.5rem);
        padding: 0.2em;
    }

    .repr{
        max-width: 35em;
        margin: 0 auto 0 auto;
    }

    .cannot-access {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--c-onpl);
    }

    .refclass-tabs {
        height: 2.3em;
        width: max-content;
        margin: 0.3em auto 0 auto;
        --tabs-justify: center;
        --tabs-sel-border-bottom-width: 5px;
        --tabs-sel-border-bottom-color: var(--c-onpl);
        --tabs-text-color: var(--c-onp-hd);
        --tabs-selected-tab-bg: var(--c-action-bar);
        --tabs-tab-border-color: #ddd;
        --tabs-anchor-hover-color: var(--c-sd);
        background: var(--c-action-bar);
        padding: 0.15em;
        font-size: 1.1em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }
    
    .ref-link-triangle {
        margin: 0 auto;
        width: 0; 
        height: 0; 
        border-left: 0.8em solid transparent;
        border-right: 0.8em solid transparent;
        border-bottom: 0.8em solid var(--c-surface);
    }

    .referrers {
        max-width: 65rem;
        min-width: 70%;
        margin: 1em auto 0 auto;
        padding: 0.3em;
    }

    .no-ref-browser {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--c-onpl);
    }

    .modal-wrapper {
        --content-max-width: 32rem;
        --content-height: 75vh;
    }

    .modal-content-wrapper {
        height: 100%;
        --mhdr-btrr: 0.5em;
        --mhdr-btlr: 0.5em;
        --mgo-bblr: 0.5em;
        --mgo-bbrr: 0.5em;
    }

</style>
