<script>
    import { _ } from 'svelte-i18n';

    import { vc } from '../../context-stores';

    import Header from '../_components/Header.svelte';
    import TeamsEditor from './teams/_components/TeamsEditor.svelte';

    let teamsExpanded = true;
</script>


<Header/>

<div class="container">
    <div class="sangha">
        <img class="sangha__repr" src="sangha.jpg" alt="{$_('projects.sangha.name')}">
        {$_('projects.sangha.welcome')}
    </div>
    <div class="teams-editor" class:teams-editor--collapsed="{!teamsExpanded}">
        <TeamsEditor
            vc="{$vc}"
            bind:teamsExpanded="{teamsExpanded}"
        />
    </div>
</div>

<style>
    .container {
        max-width: 55.8em;
        padding: 0.5em;
        margin: 0 auto;
        display: grid;
        height: 100%;
        grid-template-rows: auto 1fr;
        justify-items: center;
        gap: 0.5em;
        height: calc(100vh - 3.7em);
    }

    .sangha {
        font-weight: bold;
        text-align: center;
    }

    img {
        margin: 0.2em auto 0.5em auto;
    }

    .teams-editor {
        justify-self: normal;
        border: 1px solid var(--c-onpxl);
        border-radius: 1em;
        --tb-btr: 1em;
        --tb-bbr: 1em;
        --sal-aw-br: 0em;
        height: 100%;
        overflow: auto;
        box-shadow: 0 0 2px 0 #aaa;
    }

    .teams-editor--collapsed {
        height: 2.3em;
        height: fit-content;
        box-shadow: none;
    }
</style>
