<script>
    import { _ } from 'svelte-i18n';

    export let state = 'PENDING';
</script>

<span class="ind--{state.toLowerCase()}" title="{$_('g.task-state')}: {$_(`states.${state.toLowerCase()}`)}"></span>


<style>
    

    span {
        display: inline-block;
        height: 1em;
        width: 1em;
        border-radius: 0.1em;
        margin-left: var(--ind-ml, 0em);
        margin-right: var(--ind-mr, 0em);
        vertical-align: text-top;
    }

    .ind--success {
        background-color: green;
    }

    .ind--failure {
        background-color: var(--c-st-err-red);
    }

    .ind--partial {
        background-color: brown;
    }

    .ind--progress, .ind--pending {
        background-color: khaki;
    }
</style>
