<!--
    this component, takes a promice representing a task, and sets status according to that promice's resolution
    when passing promice to it, it is recommonded to chain original promice with your business logic first, and then feed result promice here.
-->

<script>
    import { createEventDispatcher } from 'svelte';

    import TaskDetails from './TaskDetails.svelte';

    export let taskPromice;
    let exhausted = false; // TODO remove this flag
    let taskResult = null;
    let error = null;
    export let stateDescriptions = {
        PENDING: 'Initializing task',
        PROGRESS: 'Task in progress',
        SUCCESS: 'Task successfull',
        FAILURE: 'Task failed',
    };

    const dispatch = createEventDispatcher();
    export let meta = {};
    let details = {};

    const init = async () => {
        if (exhausted) return;
        exhausted = true; // to fix issue of init being called twice at begining. should fix that
    
        details = { ...meta, staus: stateDescriptions.PROGRESS || 'PROGRESS' }; // NOTE that we initialize with PROGRESS status, as promices are implicitly in progress
        try {
            Object.assign(details, {
                status: stateDescriptions.SUCCESS || 'SUCCESS',
            });
            details = details;
            taskResult = await taskPromice;
            // console.log('dispatching task success');
            dispatch('state-change', {
                state: 'SUCCESS',
                result: taskResult,
            });
        } catch (e) {
            // console.log({ e });
            Object.assign(details, {
                status: stateDescriptions.FAILURE || 'FAILURE',
            });
            details = details;
            error = e;
            dispatch('state-change', {
                state: 'FAILURE',
                error,
            });
        }
    };

    $: if (taskPromice) {
        if (!taskResult && !error) { // limits it to be pure one task handler thus. so that race conditions, etc doen't happen
            init();
        }
    }

</script>

<TaskDetails {details}/>
