<!--
    TODO policy on auto clearing
    imanual clearing
    component to display notifications
-->

<script>
    import { createEventDispatcher } from 'svelte';
    import { notifier } from '@beyonk/svelte-notifications';

    import TaskDetailsResolver from './TaskDetailsResolver.svelte';
    import TaskDetailsPoller from './TaskDetailsPoller.svelte';

    export let stack = []; // TODO cann hide parts if empty

    const dispatch = createEventDispatcher();
    export let selectedTask;

    $: if (stack.length && !selectedTask) {
        [selectedTask] = stack; // setting default
    }

    const getTaskId = (task) => task.id || task.statusURL; // for status pollable tasks, statusURL can also serve as implicit id

    const selectTask = (task) => {
        selectedTask = task;
    };

    const onTaskStateChange = (task, event) => {
        console.log('task state change', { task, event });
        const taskIndex = stack.indexOf(task);
        // eslint-disable-next-line no-param-reassign
        task.state = event.detail.state;
        stack[taskIndex] = task; // to trigger update
        dispatch('task-state-change', { task, detail: event.detail });
    
        if (task.state === 'SUCCESS' && task.notifications && task.notifications.success) {
            notifier.success(`${taskIndex}: ${task.notifications.success}`);
        }
        if (task.state === 'FAILURE' && task.notifications && task.notifications.failure) {
            notifier.danger(`${taskIndex}: ${task.notifications.failure}`);
        }
    };

    const onTaskDetailsPollError = (task, event) => {
        if (task.notifications && task.notifications.error) {
            notifier.danger(`${stack.indexOf(task)}: ${task.notifications.error}`);
        }
    };

    const clearResolvedTasks = () => {
        stack = stack.filter((task) => !['SUCCESS', 'FAILURE'].includes(task.state));
        if (!stack.includes(selectedTask) && stack.length) {
            [selectedTask] = stack;
        }
    };

</script>

<div class="stack">
    <div class="stack__header">
        <h4 class="stack__header__title">Running tasks</h4>
        <button class="stack__header__clear-resolved reset__button" on:click="{clearResolvedTasks}" title="Clear resolved tasks">
            <svg class="kicon kicon-close"><use xlink:href="symbol-defs.svg#icon-close"></use></svg>
        </button>
    </div>
    <ul class="stack__nav">
        {#each stack as task,i (getTaskId(task))}
            <li class="stack__nav__item" class:stack__nav__item--selected="{selectedTask && (getTaskId(selectedTask) === getTaskId(task))}" on:click="{() => selectTask(task)}">
                <button class="stack__nav__item__button reset__button" title="{`Task: ${task.name}: ${task.state || 'PENDING'}`}">
                    <span class="stack__nav__item__status-indicator" style="background-color:{{ SUCCESS: 'yellowgreen', FAILURE: 'indianred', PROGRESS: 'goldenrod' }[task.state]}"></span>
                    <span class="stack__nav__item__index">{i}</span>
                </button>
            </li>
        {/each}
    </ul>
    <div class="stack__tasks">
        {#each stack as task,i (getTaskId(task))}
            <div class="stack__task" class:stack__task--selected={selectedTask && (getTaskId(selectedTask) === getTaskId(task))}>
                {#if task.promice}
                    <TaskDetailsResolver taskPromice="{task.promice}" on:state-change="{(event) => onTaskStateChange(task, event)}" meta="{{ name: task.name, startedAt: task.startedAt }}"/>
                {:else}
                     <TaskDetailsPoller statusURL="{task.statusURL}" on:state-change="{(event) => onTaskStateChange(task, event)}" on:error="{onTaskDetailsPollError}" meta="{{ name: task.name, startedAt: task.startedAt }}"/>
                {/if}
            </div>
        {/each}
    </div>
</div>

<!--NotificationDisplay/-->


<style>
    .stack {
        margin-top: 1rem;
        border: 1px dotted grey;
        padding: 0.1rem;
    }

    .stack__header {
        display: flex;
        justify-content: space-between;
    }

    .stack__header__clear-resolved {
        color: inherit;
    }

    .stack__header__title {
        margin: 0rem;
        margin-bottom: 0.2rem;
        font-size: 0.8rem;
    }

    .stack__nav {
        display: flex; /* inline-flex? */
        flex-wrap: wrap;
        justify-self: left;

        padding-left: 1px;
        padding-right: 1px;
        list-style: none;

        margin: 0rem;
        margin-bottom: 0.5rem;
        background-color: var(--c-surface);
    }

    .stack__nav__item{
        display: inline-block;
        border-bottom: 2px solid transparent;
        padding: 0.2rem;
        margin-right: 0.1rem;
    }

    .stack__nav__item--selected {
        border-bottom: 2px solid var(--c-sd);
    }

    .stack__nav__item__status-indicator {
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
    }

    .stack__task {
        display: none;
    }

    .stack__task--selected {
        display: block;
    }
</style>
