<!--
    this component, will poll status url and , and updates status display periodically, and fires events when appropriate
    It is to for use of one task only normally
-->

<script>
    import { createEventDispatcher, onMount } from 'svelte';

    import { pollStatus } from './task-details';
    import MultiItemsTaskProgressBar from '../../routes/vihari/actions/_components/MultiItemsTaskProgressBar.svelte';
    import TaskDetails from './TaskDetails.svelte';

    export let statusURL = null;
    export let stateDescriptions;
    export let initDetails = null;
    export let barThickness = 10;
    export let barTextSize = 40;

    const dispatch = createEventDispatcher();
    let taskDetails;
    let pollPromise;
    let pollStopper;
    export let meta = {};
    let details = {};
    let counts = {};

    let previousState = 'PENDING'; // NOTE

    const init = () => {
        previousState = null;
        details = { ...meta };

        const onPoll = (val) => {
            details = { ...meta };
            if (val === null) {
                return;
            }
            Object.assign(details, val);
            details.progress = (val.current !== undefined && val.total) ? `${val.current}/${val.total}` : null;
            counts = {};
            if (details.total) {
                counts.success = typeof details.succeeded === 'number' ? details.succeeded : details.current;
                if (typeof details.failed === 'number') {
                    counts.failure = details.failed;
                }
            }
            if (val.state && val.state !== previousState) {
                dispatch('state-change', val);
                previousState = val.state;
            }
        };

        if (initDetails) {
            onPoll(initDetails);
            if (initDetails.state === 'SUCCESS' || initDetails.state === 'FAILURE' || initDetails.state === 'PARTIAL') {
                return;
            }
        }

        ({ taskDetails, pollPromise, pollStopper } = pollStatus(statusURL));
        taskDetails.subscribe(onPoll);
        pollPromise.catch((e) => {
            dispatch('error', e);
            Object.assign(details, {
                status: 'error in polling status',
                info: null,
                progress: null,
            });
            details = details;
        });
    };

    $: if (statusURL) {
        if (!pollPromise) { // limits it to be pure one task handler thus. so that race conditions, etc doen't happen
            init();
        }
    }

    onMount(() => () => {
        if (pollStopper) {
            pollStopper();
        }
    });
</script>

<div class="container">
    {#if details && details.total}
        <div class="bar">
            <MultiItemsTaskProgressBar
                total="{details.total}"
                counts="{counts}"
                thickness="{barThickness}"
                textSize="{barTextSize}"
            />
        </div>
        <div class="divider"></div>
    {/if}
    <div class="details">
        <TaskDetails {details} {stateDescriptions}/>
    </div>
</div>


<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divider {
        height: 0.1em;
        width: 100%;
        background-color: var(--c-sl);
        margin: 1em 0em;
    }
</style>
