<script>
    import { _ } from 'svelte-i18n';

    import StateIndicator from './StateIndicator.svelte';

    export let stateDescriptions = {
        PENDING: $_('tasks.flow.descr-pending'),
        PROGRESS: $_('tasks.flow.descr-progress'),
        PARTIAL: $_('tasks.flow.descr-partial'),
        SUCCESS: $_('tasks.flow.descr-success'),
        FAILURE: $_('tasks.flow.descr-failure'),
    };

    export let details = {};
</script>

<div class="task-details">
    <table class="task-details-table">
        <tr class="task-detail" class:task-detail--hidden={!details.name}>
            <td class="task-detail__title">{$_('g.name')}</td>
            <td class="task-detail__val">{details.name}</td>
        </tr>
        <tr class="task-detail" class:task-detail--hidden={!details.startedAt}>
            <td class="task-detail__title">{$_('tasks.g.started_at')}</td>
            <td class="task-detail__val">{details.startedAt}</td>
        </tr>
        <tr class="task-detail">
            <td class="task-detail__title">{$_('g.state')}</td>
            <td class="task-detail__val si-wrapper">
                <StateIndicator state="{details.state}"/>
                {(stateDescriptions && stateDescriptions[details.state]) || details.state}
            </td>
        </tr>
        <tr class="task-detail" class:task-detail--hidden={!details.status}>
            <td class="task-detail__title">{$_('g.info')}</td>
            <td class="task-detail__val">{details.status}</td>
        </tr>
        <tr class="task-detail" class:task-detail--hidden={!details.progress}>
            <td class="task-detail__title">{$_('g.progress')}</td>
            <td class="task-detail__val">{details.progress}</td>
        </tr>
    </table>
</div>


<style>
    .task-details {
        background-color: var(--task-bg, --c-contrast);
        padding: 0.3rem;
        font-size: 0.8rem;
    }

    .task-detail__title {
        font-weight: 550;
        padding-right: 1em;
        color: var(--c-s);
    }

    .task-detail--hidden {
        display: none!important;
    }

    .si-wrapper {
        --ind-ml: 0em;
        --ind-mr: 0.1em;
    }
</style>
