<script>
    import FileReprChip from './FileReprChip.svelte';

    export let reprs;

    let reprsList = [];

    function aggregateReprs() {
        reprsList = [];
        ['stillImage', 'interactiveResource'].forEach((rt) => {
            if (!reprs[rt]) return;
            reprsList = reprsList.concat(reprs[rt]);
        });
    }

    // eslint-disable-next-line no-unused-expressions
    $: reprs && aggregateReprs();
</script>


<div class="reprs">
    {#each reprsList as repr}
        <div class="repr">
            <FileReprChip
                {repr}
                anchorTarget="_blank"
            />
        </div>
    {/each}
</div>


<style>
    .reprs {
        width: 100%;
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(auto-fit, minmax(2em, 7em));;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        color: var(--c-s);
    }

    .repr {
        overflow: auto;
    }
</style>
