<script>
    import { onMount } from 'svelte';

    import { UiProfilesManager } from './UiProfilesManager';

    import ActionChip from './ActionChip.svelte';

    export let res;

    let pm;
    export let actionSpecs = [];
    let isMounted = false;

    async function getActionSpecs() {
        pm = await UiProfilesManager.initForResources([res]);
        const up = pm.profilesMap[res.jsonClass];
        actionSpecs = up.actions;
        console.log({ actionSpecs });
    }

    onMount(async () => {
        isMounted = true;
    });

    // eslint-disable-next-line no-unused-expressions
    $: isMounted && res && getActionSpecs();
</script>


<div class="actions">
    {#each actionSpecs as spec}
        <div class="action">
            <ActionChip
                actionSpec="{spec}"
                {res} 
            />
        </div>
    {/each}
</div>


<style>
    .actions {
        width: 100%;
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(auto-fit, minmax(7em, 11em));;
        align-items: stretch;
        justify-content: center;
    }

    .action {
        border: 1px dotted var(--c-s);
        border-radius: 0.3em;
        background-color: var(--c-surface);
        color: var(--c-onpm);
        padding: 0.2em 0.3em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
