<script>
    import { _ } from 'svelte-i18n';

    import { lc, vc } from '../../../../context-stores';
    import { ResourceReprAccessor } from './accessors';

    import ResourceRepr from './ResourceRepr.svelte';

    export let parentView; // exception to support siblings; TODO pass parentViews to generify
    export let resourceReprs = [];
    export let accessorsMap = {};
    // TODO inheritance branches should be proxied

    export let collectionViewMode = 'list';
    $: isInGridMode = collectionViewMode === 'grid';

    export let membershipAction = 'select';
    export let multiSelect = false;
    const selection = {};
    export let selectedItems = [];

    export let hideFlags;
    export let anchorTarget = '_self';

    $: defaultAccessor = new ResourceReprAccessor({ lc: $lc, vc: $vc, $_ });

    const onItemSelectionChange = (e) => {
        // console.log(e.detail);
        const { repr, checked } = e.detail;
        if (checked) {
            if (multiSelect) {
                selectedItems.push(repr);
            } else {
                selectedItems.length = 0;
                selectedItems.push(repr);
                Object.keys(selection).forEach((id) => {
                    if (id !== repr._id) selection[id] = false;
                });
            }
        } else {
            selectedItems.splice(selectedItems.indexOf(repr), 1);
        }
        selectedItems = selectedItems;
    };

    // $: console.log({ selectedItems, selection });
</script>


<div
    class="container"
    class:container--list="{!isInGridMode}"
    class:container--grid="{isInGridMode}"
>

    {#each resourceReprs as repr(repr._id || repr)}
        <div class="repr" class:repr--list="{!isInGridMode}" class:repr--grid="{isInGridMode}">
            <ResourceRepr
                repr="{repr}"
                accessor="{accessorsMap[repr.jsonClass] || defaultAccessor}"
                { parentView }
                {hideFlags}
                {anchorTarget}
                bind:selected="{selection[repr._id]}"
                on:selection-change="{onItemSelectionChange}"
                {membershipAction}
                on:member-remove-request
            />
        </div>
    {/each}

</div>


<style>

    .container {
        display: grid;
        max-width: 100%;
        gap: 0.3em;
        padding-bottom: 0.3em;
    }

    .container--list {
        grid-template-columns: 1fr;
    }

    .container--grid {
        grid-template-columns: repeat(auto-fill, minmax(auto, var(--repr-max-width, 25em)));
        justify-content: var(--repr-grid-justify, center);
        align-content: center;
        grid-row-gap: 1em;
        grid-column-gap: 0.7em;
    }

    .repr {
        padding: 0.5rem;
        border-radius: var(--repr-border-radius, 0.3em);
        /* max-width: var(--repr-max-width, none) */
        background: var(--repr-bg, inherit);
        overflow: auto; /*necessary?*/
    }

    .repr--list {
        border-bottom: 1px solid var(--c-sep);
    }

    .repr--grid {
        border: var(--repr-grid-border, 1px solid var(--c-sep));
        box-shadow: var(--repr-grid-shadow, 1px 0px 3px #aaa);
    }

</style>
