<script>
    import { _ } from 'svelte-i18n';
    import { createEventDispatcher, onMount } from 'svelte';
    import { ResourceResolvedRepr } from '@vedavaapi/classdefs/dist/models/repr';

    import { lc, vc } from '../../../../context-stores';
    import { NativeAppManager } from '../../_apps/native-pages-manager';
    import { DefaultAppsManager } from '../../_apps/default-apps-manager';

    import { ResourceReprAccessor } from './accessors';

    import LinkChip from '../../../../components/LinkChip.svelte';
    import ResourceMeta from './ResourceMeta.svelte';
    import { IconsRegistry } from './icons-registry';

    export let repr;
    const defaultAccessor = new ResourceReprAccessor({ lc: $lc, vc: $vc, $_ });
    export let accessor = defaultAccessor; // TODO default accessor
    export let parentView;
    export let inheritanceBranch = [];

    export let hideFlags = {};
    export let selected = false;
    export let anchorTarget = '_self';
    export let membershipAction = 'select';

    const dispatch = createEventDispatcher();

    $: view = (accessor || defaultAccessor).view(repr, ['description', 'by'], false);

    const nativePageURL = NativeAppManager.getPageUrl({ res: repr, inheritanceBranch });
    let defaultApp;

    const onSelectionChange = (e) => dispatch('selection-change', {
        repr,
        checked: e.target.checked,
    });

    const onMemberRemoveRequest = () => dispatch('member-remove-request', {
        repr,
    });

    onMount(() => {
        // NOTE, app links will only render on clinet side, to pass kaveri url
        defaultApp = DefaultAppsManager.getApp({ res: repr, inheritanceBranch });
    });

    // $: console.log(repr, view);
</script>


<div class="container">

    <div class="tb">
        <h3 class="tb__content">
            <a class="tb__content__name" href="{nativePageURL}" target="{anchorTarget}">{view.name}</a>
            <div class="sub-tb">
                <h4 class="sub-tb__clsname">
                    {#if view.classLabel}
                        <svg class="kicon">
                            <use xlink:href="symbol-defs.svg#icon-{IconsRegistry[repr.jsonClass] || 'document'}"></use>
                        </svg>
                        {view.classLabel}
                    {/if}
                </h4>
                {#if defaultApp && !hideFlags.defaultApp}
                    <div class="sub-tb__app">
                        <LinkChip href="{defaultApp.url}" target="_blank" text="{$_('apps.open_in', { values: { app: defaultApp.name } })}" iconClass="cog"/>
                    </div>
                {/if}
            </div>
        </h3>
        {#if !hideFlags.memaction}
            <div class="tb__memaction">
                {#if membershipAction === 'select'}
                    <label>
                        <input type="checkbox"
                            bind:checked="{selected}"
                            class="tb__memaction__select"
                            value="{repr}"
                            on:change="{onSelectionChange}"
                        > 
                        {$_('g.select')}
                    </label>
                {:else}
                    <button type="button" class="tb__memaction__remove reset__button" on:click="{onMemberRemoveRequest}" title="{$_('g.remove')}">
                        <svg class="kicon">
                            <use xlink:href="symbol-defs.svg#icon-close-outline"></use>
                        </svg>
                    </button>
                {/if}
            </div>
        {/if}
        <!--
            TODO custom slot
        -->
    </div>

    {#if !hideFlags.info}
        <div class="info" class:info--img-only="{hideFlags.infoMeta}">
            {#if !hideFlags.infoMeta}
                <div class="info__meta">
                    <ResourceMeta {repr} accessor="{accessor || defaultAccessor}" {parentView} {anchorTarget}/>
                </div>
            {/if}
            {#if !hideFlags.infoImg}
                <div class="info__repr">
                    {#if view.imgReprUrl}
                        <img src="{view.imgReprUrl}" alt="" class="repr-image">
                    {:else if view.txtRepr}
                        <div class="info__repr--content">{@html view.txtRepr}</div>
                    {/if}
                </div>
            {/if}
        </div>
    {/if}
</div>


<style>

    h3, h4 {
        margin: 0em;
    }

    .tb{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.1em;
    }

    .tb__content__name {
        font-size: 1em;
        color: var(--c-s);

        display: block;
        padding-bottom: 0.1em;
        max-height: 3.6em;
        overflow-y: auto;
        word-break: break-word;
    }

    .sub-tb {
        display: flex;
        align-items: center;

        font-size: 0.8em;
    }

    .sub-tb__clsname {
        color: var(--c-st-err-red);
        margin-right: 1em;
    }

    .sub-tb__app {
        border: 1px dotted var(--c-s);
        border-radius: 0.3em;
        background-color: var(--c-surface);
        color: var(--c-onp-hd);

        padding: 0.1em 0.3em;
    }

    .tb__memaction {
        padding-right: 1em;
        font-size: 0.85em;
        color: var(--c-s);
        text-align: center;
        margin-left: 0.2em;
    }

    .tb__memaction__select {
        height: 0.9em;
        width: 0.9em;
        vertical-align: middle;
    }

    .info {
        display: flex;
        justify-content: space-between;

        padding-top: 0.3em;
        border-top: 1px dotted;
    }

    .info--img-only {
        justify-content: space-around;
        align-items: center;
        min-height: 7.5em;
    }

    .info__meta {
        min-width: 5em;
        max-height: 16em;
        overflow-y: auto;
        margin-right: 0.3em;
    }

    .info__repr {
        /* min-width: 200px; TODO */
    }

    .info__repr--content {
        font-weight: bold;
        font-size: 0.8em;
    }

    .repr-image {
        max-height: 16em;
    }

</style>
