<script>
    import { _ } from 'svelte-i18n';
    import delve from 'dlv';
    import { createEventDispatcher, onMount } from 'svelte';
    import { ResourceResolvedRepr } from '@vedavaapi/classdefs/dist/models/repr';

    import { lc, vc } from '../../../../context-stores';
    import { DefaultAppsManager } from '../../_apps/default-apps-manager';
    import { PrimaryActionsRegistry } from '../../actions/_registry';

    import { ResourceReprAccessor } from './accessors';
    import ResourceMetaTable from './ResourceMetaTable.svelte';
    import ResActions from './ResActions.svelte';
    import { IconsRegistry } from './icons-registry';

    export let repr = new ResourceResolvedRepr();
    export let accessor = new ResourceReprAccessor({ lc: $lc, vc: $vc, $_ }); // TODO default accessor
    export let parentView;
    export let inheritanceBranch = [];

    const dispatch = createEventDispatcher();
    $: view = accessor.view(repr, ['description', 'by'], false);
    let defaultApp;

    let actionSpecs = [];

    onMount(() => {
        // NOTE, app links will only render on clinet side, to pass kaveri url
        defaultApp = DefaultAppsManager.getApp({ res: repr, inheritanceBranch });
    });
</script>


<div class="container">
    <div class="header">
        <div class="header__name">
            <span class="cls__repr">
                {#if view.classLabel}
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-{IconsRegistry[repr.jsonClass || 'document']}"></use>
                    </svg>
                    {view.classLabel}
                {/if}
            </span> :
            <span class="name">{view.name}</span>
        </div>
        <div class="header__primary-actions">
            {#if defaultApp}
                <a class="action" href="{defaultApp.url}" target="_blank" rel="noopener">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-plugin"></use>
                    </svg>
                    {$_('apps.open_in', { values: { app: defaultApp.name } })}
                </a>
            {/if}
            {#if repr.raw.resolvedPermissions.updatePermissions}
                <a class="action action__update-perms" href="sangha/acls/{repr._id}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-shield"></use>
                    </svg>
                    {$_('g.permissions')}
                </a>
            {/if}
            {#if repr.raw.resolvedPermissions.updateContent && delve(PrimaryActionsRegistry, [repr.jsonClass, 'update'])}
                <a  class="action action__update" href="{delve(PrimaryActionsRegistry, [repr.jsonClass, 'update'])}?_id={repr._id}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-edit-pencil"></use>
                    </svg>
                    {$_('g.update')}
                </a>
            {/if}
            {#if repr.raw.resolvedPermissions.delete}
                <a  class="action action__relete" href="?" on:click|preventDefault="{() => dispatch('delete-request')}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-trash"></use>
                    </svg>
                    {$_('g.delete')}
                </a>
            {/if}
        </div>
    </div>
    <div class="img-meta">
        <div class="image">
            {#if view.imgReprUrl}
                <img src="{view.imgReprUrl}" alt="" class="repr-image">
            {/if}
        </div>
        <div class="meta">
            <ResourceMetaTable
                {repr}
                {accessor}
                {parentView}
            />
        </div>
    </div>
    <fieldset class="actions" class:hidden="{!actionSpecs || !actionSpecs.length}">
        <legend>{$_('actions._.actions')}</legend>
        <ResActions
            res="{repr.raw}"
            bind:actionSpecs
        />
    </fieldset>
</div>


<style>
    .header {
        margin: 0.5em auto 0.5em auto;
        border-bottom: 1px dashed var(--c-onpl);
        padding: 0.3em;
        border-radius: 1em;
    }

    .header__name, .header__primary-actions {
        text-align: center;
    }

    .header__name {
        padding: 0.2em;
        word-break: break-word;
    }

    .header__primary-actions{
        margin-top: 0.5em;
    }

    .cls__repr {
        color: var(--c-st-err-red);
    }

    .name {
        font-weight: 600;
    }

    .action {
        margin: 0.5em;
        text-transform: lowercase;
    }

    a:visited {
        color: blue;
    }

    img {
        max-height: 16em;
    }

    .meta {
        max-height: 16em;
        overflow: auto;
        font-size: 0.8em;
        background-color: var(--c-surface);
    }

    .img-meta {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5em;
        justify-content: center;
        margin-top: 0.5em;
    }

    .image {
        box-shadow: 0 0 5px #ccc;
    }

    .actions {
        margin-top: 0.8em;
        padding: 0.5em;
        border-radius: 0.5em;
        border: 1px dotted;
        font-size: 0.8em;
    }

    legend {
        font-size: 1.2em;
        margin-left: 1em;
        color: var(--c-onpl);
    }
</style>
