<script>
    import toSentenceCase from 'to-sentence-case';
    import { _ } from 'svelte-i18n';

    export let repr;
    export let accessor;
    export let parentView;
    export let anchorTarget = '_self';

    $: implicitMetadataItems = [
        ['By', accessor.by(repr)], // TODO i18n
        ['Description', accessor.description(repr)],
        ['Created', repr.raw && repr.raw.created ? repr.raw.created.split(' ')[0] : null],
    ].map((p) => ({ label: p[0], value: p[1] }));
</script>

<div class="container">

    <dl class="implicit">
        {#each implicitMetadataItems as item(item.label)}
            {#if item.value}
                <dt class="item__label">{toSentenceCase(item.label)}</dt>
                <dd class="item__value">{@html item.value}</dd>
            {/if}
        {/each}
        {#if parentView && parentView._id}
            <dt class="item__label">{$_('g.part-of')}</dt>
            <dd class="item__value">
                {parentView.classLabel}: <a href="vihari/res/{parentView._id}" target="{anchorTarget}">{parentView.name}</a>
            </dd>
        {/if}
    </dl>

</div>


<style>

    dl {
        margin: 0rem;
    }

    dt {
        color: var(--c-onpl);
        font-size: 0.8rem;
        margin-top: 0.3rem;
    }

    dt:first-child {
        margin-top: unset;
    }

    dd {
        font-size: 0.8rem;
        color: var(--c-onpd);
        max-height: 5rem;
        overflow-y: auto;
        word-break: break-word;
    }

</style>
