<script>
    import { _ } from 'svelte-i18n';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';

    import AgentChipActive from '../../../sangha/_components/agents/AgentChipActive.svelte';
    import FileRepresentations from './FileRepresentations.svelte';

    export let repr;
    export let accessor;
    export let parentView;
</script>

<table>
    {#if repr}
        {#if parentView && parentView._id}
            <tr>
                <td>{$_(repr.raw.source ? 'g.part-of' : 'g.targets')}</td>
                <td>{parentView.classLabel}: <a href="vihari/res/{parentView._id}" target="_self">{parentView.name}</a></td>
            </tr>
        {/if}
        {#if accessor.by(repr)}
            <tr>
                <td>{$_('g.by')}</td>
                <td>{accessor.by(repr)}</td>
            </tr>
        {/if}
        {#if accessor.description(repr)}
            <tr>
                <td>{$_('g.description')}</td>
                <td>{accessor.description(repr)}</td>
            </tr>
        {/if}
        {#if repr.raw.creator}
            <tr>
                <td>{$_('g.creator')}</td>
                <td>
                    <div class="agent">
                        <AgentChipActive agentId="{repr.raw.creator}" agentType="{AclAgentType.USERS}"/>
                    </div>
                </td>
            </tr>
        {/if}
        {#if repr.raw && repr.raw.created}
            <tr>
                <td>{$_('g.created')}</td>
                <td>{repr.raw.created.split(' ')[0]}</td>
            </tr>
        {/if}
        {#if repr.raw && repr.raw.representations}
            <tr>
                <td>{$_('reprs._.reprs')}</td>
                <td>
                    <FileRepresentations
                        reprs="{repr.raw.representations}"
                    />
                </td>
            </tr>
        {/if}
        <tr>
            <td>{$_('g.tasks')}</td>
            <td>
                <a href="tasks?on.target.id={repr._id}&status.state=PROGRESS">
                    <svg class="kicon kicon-agent"><use xlink:href="symbol-defs.svg#icon-link"></use></svg> In Progress
                </a>
                <a href="tasks?on.target.id={repr._id}">
                    <svg class="kicon kicon-agent"><use xlink:href="symbol-defs.svg#icon-link"></use></svg> All
                </a>
            </td>
        </tr>
    {/if}
</table>


<style>
    table {
        border: 1px dotted grey;
        margin: 0 auto;
    }

    tr {
        padding: 0.5em;
        height: 2.3em;
    }

    td {
        min-height: 1.5em;
        margin-left: 0.5em;
        text-align: left;
        border: .0625rem solid #dadce0;
        padding: .25rem .75rem;
        word-break: break-word;
    }

    td:first-child {
        color: var(--c-sd);
    }

    tr:nth-child(2n+1) {
        /*background-color: #f8f9fa;
        border-color: #dadce0;*/
    }

    a:visited {
        color: blue;
    }
</style>
