<script>
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    import { _ } from 'svelte-i18n';
    import { tick, onMount } from 'svelte';
    import { LightPaginationNav } from 'svelte-paginate';
    import { Circle } from 'svelte-loading-spinners';

    import { vc } from '../../../../context-stores';
    import { collectTargetsAndAgents, getTargets, getAgents } from '../../../tasks/_components/tasks-view-helper';
    import { UiProfilesManager } from '../../_components/res/UiProfilesManager';

    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';
    import ResourceCollection from '../../_components/res/ResourceCollection.svelte';
    import TaskCollection from '../../../tasks/_components/TaskCollection.svelte';
    import Anveshi from '../../_components/search/Anveshi.svelte';
    import SearchEmitterFlowActive from '../../_components/search/SearchEmitterFlowActive.svelte';

    export let allowedClassNames;
    export let preConstraintsMapsGroup;

    export let parentRepr;
    $: reprTemplateData = { pr: parentRepr };
    export let parentView; // ! exception to support sibling collection
    // $: console.log({parentView})
    export let hideFlags = { memaction: true };

    export let expanded = false;
    export let autoExecute = true;
    export let anchorTarget = '_blank';
    export let multiSelect = false;
    export let mode = 'resources';
    export let advancedSearchEnabled;
    export let searchInputSanityFlags;
    export let asInitialValues = {};
    
    // let defaultProjection; // TODO projection map should be supported by api

    let anveshi;

    export let searchedOnce = false;
    let invokeConstantSearch;
    let invokeAdvancedSearch;

    let resources;
    let resourceReprs;
    let accessorsMap = {};
    let currentPage = 1;
    let tasksAssociates = {};

    let searchInProgress = false;
    let searchError;

    export let siVisible = false;

    export let selectedResources = [];
    // $: console.log({ selectedResources });

    async function computeTaskAssociates(tasks) {
        try {
            const { targetIds, userIds } = collectTargetsAndAgents(tasks);
            tasksAssociates = {};

            if (targetIds && targetIds.length) {
                const targets = await getTargets($vc, targetIds);
                const { reprs: targetReprs, accessorsMap: targetAccessorsMap } = await UiProfilesManager.getReprsAndAccessors(targets);
                tasksAssociates.targetReprsMap = {};
                targetReprs.forEach((repr) => { tasksAssociates.targetReprsMap[repr._id] = repr; });
                tasksAssociates.targetAccessorsMap = targetAccessorsMap;
                await tick;
            }

            if (userIds && userIds.length) {
                tasksAssociates.usersGraph = await getAgents($vc, userIds, AclAgentType.USERS);
                await tick;
            }
        } catch (error) {
            //
        }
    }

    const getPage = async (pageNo) => {
        searchInProgress = true;
        searchError = undefined;

        try {
            ({ resources, resourceReprs, accessorsMap } = await anveshi.getResultsPage(pageNo || anveshi.currentPage + 1, false));
        } catch (e) {
            searchError = e;
        }
        searchInProgress = false;
        await tick;
        if (mode === 'tasks') {
            computeTaskAssociates(resources);
        }
    };

    const search = async (e) => {
        // console.log('in search', e);
        anveshi.selectorDoc = e.detail.selectorDoc;
        anveshi.sortDoc = e.detail.sortDoc;
        let { projection } = e.detail;
        if (!projection) {
            projection = { resolvedPermissions: 0, hierarchy: 0 };
        }
        anveshi.projection = projection;

        searchedOnce = true;
        if (searchedOnce && !matchMedia('screen and (min-width:860px)').matches) {
            siVisible = false;
        }

        await tick;
        await getPage(1);
    };

    onMount(() => {
        /*
            if (matchMedia('screen and (min-width:860px)').matches) {
                siVisible = true;
            }
        */
    });

    // eslint-disable-next-line no-unused-expressions
    $: expanded && !searchedOnce && autoExecute && invokeAdvancedSearch && invokeAdvancedSearch(false);
</script>


<div class="container" class:container-collapsed="{!expanded}">

    <Anveshi bind:this="{anveshi}" on:accessors-update="{(u) => { accessorsMap = u; }}" { reprTemplateData } endpointId="{mode}"/>

    <div class="main" class:main--alt="{searchedOnce && siVisible}" class:main--alt-nosearch="{searchedOnce && !siVisible}" class:hidden="{!expanded}">
        <div class="paginator" class:hidden="{!searchedOnce}">
            <div class="paginator__ui">
                {#if anveshi && anveshi.total > 0}
                    <LightPaginationNav
                        totalItems="{anveshi.total}"
                        pageSize="{anveshi.count}"
                        currentPage="{currentPage}"
                        limit="{1}"
                        showStepOptions="{true}"
                        on:setPage="{async (e) => {
                            await getPage(e.detail.page);
                            currentPage = e.detail.page;
                        }}"
                    />
                {/if}
            </div>
        </div>

        <div class="resp" class:hidden="{!searchedOnce}">
            <div class="res-list" class:hidden="{searchError || searchInProgress}">
                {#if resourceReprs && resourceReprs.length}
                    {#if mode === 'resources'}
                        <ResourceCollection
                            {resourceReprs}
                            {accessorsMap}
                            { parentView }
                            { hideFlags }
                            { multiSelect }
                            bind:selectedItems="{selectedResources}"
                            { anchorTarget }
                            collectionViewMode="grid"
                        />
                    {:else}
                         <TaskCollection
                            tasks="{resources}"
                            {...tasksAssociates}
                            {anchorTarget}
                            collectionViewMode="grid"
                            {hideFlags}
                            {multiSelect}
                            bind:selectedItems="{selectedResources}"
                         />
                    {/if}
                {:else}
                    <div class="no-results">
                        {$_('g.no-results-found')}.
                    </div>
                {/if}
            </div>
            <div class="response__loading" class:hidden="{!searchInProgress}">
                <div class="response_loading_ui">
                    <Circle
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    {$_('g.loading')}
                </div>
            </div>
            <div class="response__error" class:hidden="{!searchError}">
                <FetchErrorReport
                    action="search"
                    on:retry="{() => getPage(currentPage)}"
                    error="{searchError}"
                />
            </div>
        </div>

        <div class="search-input__title" class:hidden="{!searchedOnce || !siVisible}"><span>{$_('g.refine-search')}</span></div>

        <div class="search-input" class:search-input--alt="{searchedOnce}" class:hidden="{searchedOnce && !siVisible}" >
            <SearchEmitterFlowActive
                on:search="{search}"
                {allowedClassNames}
                bind:invokeConstantSearch="{invokeConstantSearch}"
                bind:invokeAdvancedSearch
                { preConstraintsMapsGroup }
                bind:advancedSearchEnabled
                uiSanityFlags="{searchInputSanityFlags}"
                { asInitialValues }
            />
        </div>
    </div>

</div>


<style>

    .container {
        position: relative;
        padding: 0em;
    }

    .main {
        display: grid;
        height: calc(100% - 1.5em);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "search-input"
        ;
        column-gap: 0.7em;
    }

    .main--alt-nosearch, .main--alt {
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "paginator"
            "resp"
        ;
    }

    .search-input {
        position: relative;
        overflow-y: auto;
        grid-area: search-input;
        padding: 0.3em;
        font-size: 0.9em;
        min-width: 25em;
        max-width: 55.8em;
        justify-self: center;
        background: var(--c-p);
        min-height: calc(15 * (1rem + 10px) + 1.5rem + 30px);  /* from autoselect component */ 

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .search-input--alt {
        display: block;
        position: absolute;
        min-width: 25em;
        max-width: 90%;
        box-shadow: 0 0 8px #aaa;
        border-bottom-right-radius: 0.5em;
        left: 0em;
        top: 0.3em;
        padding: 1em;
        background: var(--c-p);
    }

    .paginator {
        height: 2em;
        grid-area: paginator;
    }

    .resp {
        overflow: auto;
        grid-area: resp;
        padding: 1em;
        font-size: 0.8em;
        max-height: var(--colln-resp-max-height, none);
    }

    .response__loading {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .res-list {
        min-height: 100%;
    }

    .no-results {
        font-weight: bold;
        color: grey;
        display: flex;
        justify-content: center;
    }

    .response__error {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 860px) {
        .main--alt {
            grid-template-columns: 3fr 7fr;
            grid-template-rows: auto 1fr;
            grid-template-areas: 
                "search-input__title paginator"
                "search-input resp"
            ;
            align-items: start;
        }

        .search-input--alt {
            position: relative;
            max-width: unset;
            min-width: unset;
            min-height: unset;
            max-height: unset;
            left: unset;
            top: -1.7em;
            background: var(--c-p);
            box-shadow: none;
            padding: 1em;
            padding-top: 2.7em;
            /* border-right: 1px dashed gray;
            border-bottom: 1px dashed gray; */
            border-bottom-right-radius: 0.5em;
        }

        .search-input__title {
            grid-area: search-input__title;
            align-self: stretch;
            justify-self: center;
            background: var(--c-p);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--c-onp-hd);
            box-shadow: none;
            z-index: 10;
        }

        .search-input__title>span {
            display: inline-block;
            padding: 0.1em;
            border-bottom: 1px solid var(--c-contrast-on);
        }
    }

</style>
