<script>
    import { _ } from 'svelte-i18n';
    import { tick } from 'svelte';

    import { vc } from '../../../../context-stores';
    import { STATUS_SUCCESS } from '../../../../constants';
    import Modal from '../../../../components/Modal.svelte';
    import CollectionBrowser from './CollectionBrowser2.svelte';
    import DeleteResFlow from '../../actions/_components/DeleteResFlow.svelte';

    export let searchedOnce = false;
    export let siVisible = false;
    export let autoExecute = true;
    export let selectedResources;
    export let allowedClassNames;
    export let showTitleBar = true;

    export let addNewURL;
    export let shouldEnableAddNew = false;
    export let shouldEnableDelete = false;
    export let hideFlags = {};
    export let multiSelect = false;
    export let parentView;
    export let parentRepr;
    export let anchorTarget = '_self';
    export let resClassLabel = $_('actions.upsert-res.res');
    export let interfaceTitle = resClassLabel;
    export let mode;
    export let asInitialValues = {};
    export let preConstraintsMapsGroup;
    export let advancedSearchEnabled;
    export let searchInputSanityFlags;

    $: selectedResIds = selectedResources ? selectedResources.map((r) => r._id) : [];

    let deleteFlowActive = false;

    export const onAddNewClick = () => {
        window.location.href = addNewURL;
    };

    export const onDeleteResourcesClick = () => {
        deleteFlowActive = true;
    };

    async function onDeleteFlowClose({ detail }) {
        deleteFlowActive = false;
        const { opStatus } = detail;
        if (opStatus === STATUS_SUCCESS) {
            selectedResIds = [];
            selectedResources = [];
            searchedOnce = false;
            await tick;
            searchedOnce = true;
        }
    }
</script>


<div class="res-editor">
    {#if showTitleBar}
        <div class="tb">
            <button type="button" class="search-toggler" class:hidden="{!searchedOnce}" on:click="{() => { siVisible = !siVisible; }}" title="{$_(`g.${siVisible ? 'hide' : 'show'}-search`)}">
                <svg class="kicon">
                    <use xlink:href="symbol-defs.svg#icon-search"></use>
                </svg>
                <svg class="kicon">
                    <use xlink:href="symbol-defs.svg#icon-{siVisible ? 'arrow-thin-left' : 'menu'}"></use>
                </svg>
            </button>
            <div class="tb__title">{interfaceTitle}</div>
            <div class="tb__actions">
                {#if shouldEnableDelete}
                    <button type="button" class="action-delete" class:hidden="{!selectedResIds || !selectedResIds.length}" on:click="{onDeleteResourcesClick}">
                        <svg class="kicon">
                            <use xlink:href="symbol-defs.svg#icon-trash"></use>
                        </svg>
                        { $_('g.delete') }
                    </button>
                {/if}
                {#if shouldEnableAddNew}
                    <button type="button" class="action-new" on:click="{onAddNewClick}">
                        <svg class="kicon">
                            <use xlink:href="symbol-defs.svg#icon-user-group"></use>
                        </svg>
                        { $_('g.new') }
                    </button>
                {/if}
            </div>
        </div>
    {/if}

    <!--div class="lib-colln"-->
        <CollectionBrowser
            { allowedClassNames }
            {anchorTarget}
            {autoExecute}
            {parentView}
            {parentRepr}
            bind:searchedOnce
            bind:siVisible
            bind:selectedResources
            {hideFlags}
            expanded="{true}"
            {multiSelect}
            { preConstraintsMapsGroup }
            { mode }
            bind:advancedSearchEnabled
            { searchInputSanityFlags }
            { asInitialValues }
        />
    <!--/div-->
</div>


<div class="modal-wrapper">
    {#if deleteFlowActive}
        <Modal visible="{true}">
            <div class="modal-content-wrapper">
                <DeleteResFlow
                    on:close-request="{onDeleteFlowClose}"
                    resIds="{selectedResIds}"
                    vc="{$vc}"
                    {resClassLabel}
                />
            </div>
        </Modal>
    {/if}
</div>


<style>
    .tb {
        display: grid;
        background-color: var(--c-surface);
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        justify-content: space-between;
    }

    .tb__title {
        padding: 0.5em;
        color: var(--c-sd);
    }

    .tb__actions {
        align-self: center;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 0.85em;
    }

    .action-delete>svg {
        color: var(--c-st-err-red);
    }

    .action-new>svg {
        color: var(--c-sml);
    }

    .search-toggler {
        border-top-left-radius: 1em;
        border: none;
        outline: none;
        font-size: 0.8em;
        border-right: 1px dotted;
        align-self: stretch;
    }

    .res-editor {
        display: grid;
        grid-template-rows: auto 1fr;
        width: 100%;
    }

    .modal-wrapper {
        --content-max-width: 32rem;
        --content-height: 75vh;
    }

    .modal-content-wrapper {
        height: 100%;
        --mhdr-btrr: 0.5em;
        --mhdr-btlr: 0.5em;
        --mgo-bblr: 0.5em;
        --mgo-bbrr: 0.5em;
    }
</style>
