<script context="module">
    export async function preload() {
        console.log('in mci preload');
    }
</script>

<script>
    import { _ } from 'svelte-i18n';

    import Tabs from '../../../_components/Tabs.svelte';
    import CollectionInterface from './CollectionInterface.svelte';

    export let collectionsSpecs = [];
    export let anchorTarget;
    export let hideFlags = {};
    export let multiSelect = false;
    export let shouldEnableDelete;
    export let shouldEnableAddNew;
    export let advancedSearchEnabled;
    export let searchInputSanityFlags;

    export let currentTabId;
    export let tabsClickCount = {};
    const siVisibleMap = {};
    const searchedOnceMap = {};
    const selectedResMap = {};
    const addListenersMap = {};
    const deleteListenersMap = {};

    function onSearchToggleClick() {
        siVisibleMap[currentTabId] = !siVisibleMap[currentTabId];
    }
</script>


<div class="container">
    <div class="header">
        <button type="button" class="search-toggler" class:hidden="{!searchedOnceMap[currentTabId]}" on:click="{onSearchToggleClick}" title="{$_(`g.${searchedOnceMap[currentTabId] ? 'hide' : 'show'}-search`)}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-search"></use>
            </svg>
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-{siVisibleMap[currentTabId] ? 'arrow-thin-left' : 'menu'}"></use>
            </svg>
        </button>
        <Tabs
            bind:currentTabId
            tabSpecs="{collectionsSpecs}"
            bind:clickEventsCount="{tabsClickCount}"
        />
        <div class="header__actions">
            {#if shouldEnableDelete}
                <button type="button" class="action-delete" class:hidden="{!selectedResMap[currentTabId] || !selectedResMap[currentTabId].length}" on:click="{deleteListenersMap[currentTabId]}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-trash"></use>
                    </svg>
                    { $_('g.delete') }
                </button>
            {/if}
            {#if shouldEnableAddNew}
                <button type="button" class="action-new" on:click="{addListenersMap[currentTabId]}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-user-group"></use>
                    </svg>
                    { $_('g.new') }
                </button>
            {/if}
        </div>
    </div>
    {#each collectionsSpecs as spec(spec.id)}
        <div class="colln-interface" class:hidden="{currentTabId !== spec.id}">
            <CollectionInterface
                parentView="{spec.parentView}"
                parentRepr="{spec.parentRepr}"
                allowedClassNames="{spec.allowedClassNames}"
                preConstraintsMapsGroup="{spec.preConstraintsMapsGroup}"
                addNewURL="{spec.addNewURL}"
                resClassLabel="{spec.resClassLabel}"
                autoExecute="{tabsClickCount && tabsClickCount[spec.id]}"
                {shouldEnableAddNew}
                {shouldEnableDelete}
                { anchorTarget }
                { hideFlags }
                { multiSelect }
                bind:siVisible="{siVisibleMap[spec.id]}"
                bind:searchedOnce="{searchedOnceMap[spec.id]}"
                showTitleBar="{false}"
                bind:onAddNewClick="{addListenersMap[spec.id]}"
                bind:onDeleteResourcesClick="{deleteListenersMap[spec.id]}"
                bind:selectedResources="{selectedResMap[spec.id]}"
                bind:advancedSearchEnabled
                { searchInputSanityFlags }
            />
        </div>
    {/each}
</div>


<style>
    .header {
        display: flex;
        background-color: var(--c-surface);
        height: 2.3rem;
        font-size: 1.2em;
        --tabs-text-color: darkslategrey;
        --tabs-selected-tab-bg: var(--c-p);
        --tabs-tab-border-color: #ddd;
        --tabs-anchor-hover-color: var(--c-sd);

        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    .search-toggler {
        border-top-left-radius: 1em;
        border: none;
        outline: none;
        font-size: 0.8em;
        border-right: 1px dotted;
    }

    .header__actions {
        justify-self: flex-end;
        align-self: center;
        margin-left: auto;
    }

    .header__actions {
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 0.85em;
    }

    .action-delete>svg {
        color: var(--c-st-err-red);
    }

    .action-new>svg {
        color: var(--c-sml);
    }


</style>
