<script context="module">
    export async function preload({ params }) {
        const { userId } = params;
        return { userId };
    }
</script>

<script>
    import { onMount } from 'svelte';
    import { accounts } from '@vedavaapi/client';
    import { _ } from 'svelte-i18n';
    import { Circle } from 'svelte-loading-spinners';

    import { vc } from '../../../../context-stores';

    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';
    import Header from '../../../_components/Header.svelte';
    import AgentChip from '../../_components/agents/AgentChip.svelte';
    import TeamsEditor from '../../teams/_components/TeamsEditor.svelte';

    export let userId;
    let userPromise;
    let user;

    let teamsExpanded = false;

    async function getUser() {
        userPromise = accounts.users.User.get({
            vc: $vc,
            params: { user_id: userId, projection: { hierarchy: 0, members: 0 } },
        }).then((resp) => {
            user = resp.data;
            return user;
        });
    }

    onMount(() => {
        if (!userId) return;
        getUser();
    });

    function reset() {
        teamsExpanded = false;
        user = null;
        getUser();
    }

    // eslint-disable-next-line no-unused-expressions
    $: userId, reset();
</script>


<Header/>


<div class="container">
    {#if !userId}
        <div class="fc no-user">Invalid user id</div>
    {:else if userPromise}
        <div class="resp">
            {#await userPromise}
                <div class="fc resp__loading">
                    <Circle
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    {$_('actions.upsert-user.fetching-user')}...
                </div>
            {:then team}
                <div class="primary">
                    <div class="user">
                        <AgentChip
                            agent="{team}"
                            agentAnchorTarget="_self"
                        />
                    </div>
                    <div class="actions">
                        {#if team.resolvedPermissions.updatePermissions}
                            <a class="action action__update-perms" href="sangha/acls/{userId}">
                                <svg class="kicon">
                                    <use xlink:href="symbol-defs.svg#icon-shield"></use>
                                </svg>
                                {$_('g.permissions')}
                            </a>
                        {/if}
                    </div>
                    <div class="teams-editor" class:teams-editor--collapsed="{!teamsExpanded}">
                        <TeamsEditor
                            vc="{$vc}"
                            bind:teamsExpanded="{teamsExpanded}"
                            resolvedPermissions="{{}}"
                            memberId="{user._id}"
                        />
                    </div>
                </div>
            {:catch error}
                <div class="fc resp__error">
                    <FetchErrorReport
                        action="{$_('actions.upsert-user.fetching-user')}"
                        { error }
                        on:retry="{getUser}"
                    />
                </div>
            {/await}
        </div>
    {/if}
</div>


<style>
    .container {
        width: 100%;
    }

    .fc {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 3.7em);
    }

    .no-user {
        color: var(--c-st-err-red);
    }

    .resp {
        width: 100%;
        height: calc(100vh - 3.7em);
    }

    .resp__loading {
        flex-direction: column;
    }

    .primary {
        max-width: 55.8em;
        padding: 0.5em;
        margin: 0 auto;
        display: grid;
        height: 100%;
        grid-template-rows: auto auto 1fr;
        justify-items: center;
        gap: 0.5em;
    }

    .user {
        font-weight: bold;
    }

    .action {
        margin: 0.5em;
        text-transform: lowercase;
    }

    .teams-editor {
        justify-self: normal;
        border: 1px solid var(--c-onpxl);
        border-radius: 1em;
        --tb-btr: 1em;
        --tb-bbr: 1em;
        --sal-aw-br: 0em;
        height: 100%;
        overflow: auto;
        box-shadow: 0 0 2px 0 #aaa;
    }

    .teams-editor--collapsed {
        height: 2.3em;
        height: fit-content;
        box-shadow: none;
    }

</style>
