<script>
    import { _ } from 'svelte-i18n';
    import { notifier } from '@beyonk/svelte-notifications';

    import { vc } from '../../../../context-stores';
    import BookUpserter from './BookUpserter.svelte';
    import PagesSequenceInspector from './PagesSequenceInspector.svelte';
    import PagesUpserter from './PagesUpserter.svelte';
    import ActiveResourceRepr from '../../_components/res/ActiveResourceRepr.svelte';

    export let currentBook;
    export let mode = 'create';

    let resetBookUpsertForm;
    let book;
    let sequence;

    const OP_BOOK_UPSERT = 'book-upsert';
    const OP_SEQUENCE_INSPECT = 'seq-inspect';
    const OP_PAGES_UPSERT = 'pages-upsert';
    const OP_RESOLVED_VIEW = 'resolved-view';

    let currentOp = OP_BOOK_UPSERT;

    const resolvedStatuses = {};

    $: upsertBookTitle = $_(`actions.upsert-res.${mode === 'create' ? 'creating' : 'updating'}-res`, { values: { c: $_('g.book') } });
    $: seqInspectTitle = $_('actions.upsert-book.seq-summery');
    $: pagesUpsertTitle = $_('actions.upsert-book.add-pages');

    $: titlesMap = { [OP_BOOK_UPSERT]: upsertBookTitle, [OP_SEQUENCE_INSPECT]: seqInspectTitle, [OP_PAGES_UPSERT]: pagesUpsertTitle };

    function onBookUpsertSuccess({ detail }) {
        ({ res: book } = detail);
        resolvedStatuses[OP_BOOK_UPSERT] = 'success';
        if (notifier) notifier.success($_('g.success-in', { values: { a: upsertBookTitle } }));
        currentOp = mode === 'create' ? OP_PAGES_UPSERT : OP_SEQUENCE_INSPECT;
    }

    function onBookUpsertCancel() {
        resolvedStatuses[OP_BOOK_UPSERT] = 'cancel';
        if (mode === 'update') {
            book = currentBook;
        }
        currentOp = OP_RESOLVED_VIEW;
    }

    function onBookUpsertSkip() {
        // mode in update, as skip enabled for update only
        book = currentBook;
        resolvedStatuses[OP_BOOK_UPSERT] = 'skip';
        currentOp = OP_SEQUENCE_INSPECT;
    }

    function onSeqInspectSkip() {
        resolvedStatuses[OP_SEQUENCE_INSPECT] = 'skip';
        currentOp = OP_RESOLVED_VIEW;
    }

    function onSeqInspectAddReq({ detail }) {
        ({ sequence } = detail);
        resolvedStatuses[OP_SEQUENCE_INSPECT] = 'success';
        currentOp = OP_PAGES_UPSERT;
    }

    function onPagesUpsertSkip() {
        resolvedStatuses[OP_PAGES_UPSERT] = 'skip';
        currentOp = OP_RESOLVED_VIEW;
    }

    function onPagesUpsertFinish({ detail }) {
        // console.log('upsert-finish');
        ({ sequence } = detail);
        resolvedStatuses[OP_PAGES_UPSERT] = 'success';
        currentOp = OP_RESOLVED_VIEW;
    }

    function reset() {
        book = null;
        sequence = null;
        currentOp = OP_BOOK_UPSERT;
    }
</script>


<div class="container">
    <div class="title">
        {#if currentOp !== OP_RESOLVED_VIEW}
            { titlesMap[currentOp] }
        {/if}
    </div>
    {#if currentOp === OP_BOOK_UPSERT}
        <div class="op book-upserter">
            <BookUpserter
                bind:reset="{resetBookUpsertForm}"
                enableSkip="{mode === 'update'}"
                on:cancel="{onBookUpsertCancel}"
                on:skip="{onBookUpsertSkip}"
                on:success="{onBookUpsertSuccess}"
                book="{currentBook}"
                { mode }
            />
        </div>
    {/if}

    {#if currentOp === OP_SEQUENCE_INSPECT}
        <div class="op seq-inspector">
            <PagesSequenceInspector
                vc="{$vc}"
                bookId="{book._id}"
                on:skip="{onSeqInspectSkip}"
                on:add-pages-request="{onSeqInspectAddReq}"
            />
        </div>
    {/if}

    {#if currentOp === OP_PAGES_UPSERT}
        <div class="op pages-upserter">
            <PagesUpserter
                vc="{$vc}"
                bookId="{book._id}"
                currentSequence="{sequence}"
                on:skip="{onPagesUpsertSkip}"
                on:finish="{onPagesUpsertFinish}"
            />
        </div>
    {/if}

    {#if currentOp === OP_RESOLVED_VIEW}
        <div class="op resolved">
            <div class="resolved__container">
                {#if resolvedStatuses[OP_BOOK_UPSERT] === 'cancel'}
                    <div class="resolved__cancel">{$_('g.cancelled-for', { values: { a: upsertBookTitle } })}</div>
                {:else}
                    <div class="resolved__success">
                        {$_('g.success-in', { values: { a: upsertBookTitle } })}
                    </div>
                    <div class="repr">
                        <ActiveResourceRepr
                            resource="{book}"
                            hideFlags="{{
                                memaction: true,
                            }}"
                        />
                    </div>
                {/if}
                {#if mode === 'create'}
                    <div class="create-another">
                        <button on:click="{reset}">{$_('actions.upsert-res.create-another', { values: { c: $_('g.book') } })}</button>
                    </div>
                {/if}
                {#if currentBook && currentBook.source}
                    <div class="after-anchor">
                        <a href="vihari/res/{currentBook.source}">{$_('actions.upsert-book.go-back-to-lib')}</a>
                    </div>
                {/if}
            </div>
        </div>
    {/if}
</div>


<style>
    .container {
        max-width: 55.8em;
        margin: 0 auto;
        padding: 0.5em;
    }

    .title {
        font-weight: bold;
        text-align: center;
        margin: 0 auto 0.3em auto;
        border-bottom: 1px dotted grey;
        background: var(--c-surface);
        color: var(--c-s);
        padding: 0.3em;
    }

    .seq-inspector {
        height: 15em;
        display: grid;
        /* align-items: center; */
        justify-content: center;
        align-content: center;
    }

    .resolved__success {
        margin: 0 auto 0.5em auto;
        text-align: center;
        color: green;
        max-width: 15em;
        background: var(--c-contrast2);
    }

    .repr {
        max-width: 25em;
        margin: 0 auto;
        border: 1px solid silver;
        padding: 0.5em;
        border-radius: 1em;
    }

    .resolved__cancel {
        margin: 0 auto 0.5em auto;
        text-align: center;
        max-width: 15em;
        background: var(--c-st-bg-red);
        color: var(--c-st-err-red);
    }

    .create-another, .after-anchor {
        margin: 0.5em auto;
        max-width: 15em;
        text-align: center;
    }
</style>
