<script>
    // TODO use xstate machine for flow instead

    import { objstore } from '@vedavaapi/client';
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';

    import { STATUS_PENDING, STATUS_PROGRESS, STATUS_SUCCESS, STATUS_FAILURE } from '../../../../constants';

    import StatusScreen from '../../../../components/StatusScreen.svelte';
    import ConfirmScreen from '../../../../components/ConfirmScreen.svelte';

    export let vc;
    export let resIds;
    export let resClassLabel = $_('actions.upsert-res.res');

    const dispatch = createEventDispatcher();

    const SCREEN_CONFIRM = 'confirm';
    const SCREEN_STATUS = 'status';

    let currentScreen = SCREEN_CONFIRM;

    let opStatus = STATUS_PENDING;
    let opError;

    const deleteResources = async () => {
        opStatus = STATUS_PROGRESS;

        if (!resIds || !resIds.length) {
            opStatus = STATUS_SUCCESS;
            return;
        }

        try {
            await objstore.Resources.delete({
                vc,
                data: { resource_ids: resIds },
            });
        } catch (e) {
            opError = e;
            opStatus = STATUS_FAILURE;
            return;
        }
        opStatus = STATUS_SUCCESS;
    };

    /*
        Following are state transition methods, which can be refactored to xstate FSM
    */
    const requestClose = () => {
        dispatch('close-request', {
            opStatus,
        });
    };

    function onConfirm() {
        deleteResources();
        currentScreen = SCREEN_STATUS;
    }

    const onClose = () => {
        requestClose();
    };

    const onStatusFailureRetry = () => {
        deleteResources();
    };
</script>


<div class="container">
    <div class="screen confirm" class:hidden="{currentScreen !== SCREEN_CONFIRM}">
        <ConfirmScreen
            action="{$_('resources.deleting-resources', { values: { c: resClassLabel } })}"
            on:confirm="{onConfirm}"
            on:cancel="{onClose}"
        />
    </div>
    <div class="screen status" class:hidden="{currentScreen !== SCREEN_STATUS}">
        <StatusScreen
            status="{opStatus}"
            action="{$_('resources.deleting-resources', { values: { c: resClassLabel } })}"
            error="{opError}"
            on:close-request="{onClose}"
            on:commit-request="{onStatusFailureRetry}"
            on:retry-request="{deleteResources}"
        />
    </div>

</div>


<style>

    .container {
        height: 100%;
    }

    .screen {
        height: 100%
    }

</style>
