<script>
    import { tick } from 'svelte';
    import { _ } from 'svelte-i18n';
    import { objstore } from '@vedavaapi/client';
    import { notifier } from '@beyonk/svelte-notifications';

    import { vc } from '../../../../context-stores';
    import ActiveResourceRepr from '../../_components/res/ActiveResourceRepr.svelte';
    import IiifImporter from './IIIFImporter.svelte';
    import TaskDetailsReporter from './TaskStatusReporter.svelte';

    export let source;
    let book;
    let taskError;

    let taskStatusURL;
    let taskMeta = {};

    let resetIIIFImporter;

    const OP_POST_TASK = 'post-task';
    const OP_POLL_STATUS = 'poll-status';
    const OP_RESOLVED_VIEW = 'resolved-view';

    let currentOp = OP_POST_TASK;

    let resolvedStatuses = {};

    $: flowTitle = $_('actions.import-iiif.importing-iiif');

    function onTaskRegisterSuccess({ detail }) {
        ({ taskStatusURL } = detail);
        resolvedStatuses[OP_POST_TASK] = 'success';
        const date = new Date();
        taskMeta = {
            name: flowTitle,
            startedAt: `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`,
        };
        currentOp = OP_POLL_STATUS;
    }

    function onTaskRegisterCancel() {
        resolvedStatuses[OP_POST_TASK] = 'cancel';
        currentOp = OP_RESOLVED_VIEW;
    }

    async function onTaskSuccess({ detail }) {
        resolvedStatuses[OP_POLL_STATUS] = 'success';
        book = { _id: detail.book_id };
        currentOp = OP_RESOLVED_VIEW;
        await tick;
        try {
            const resp = await objstore.Resource.get({
                vc: $vc,
                params: { resource_id: detail.book_id, projection: { resolvedPermissions: 0, hierarchy: 0 } },
            });
            if (currentOp !== OP_RESOLVED_VIEW || !book || book._id !== resp.data._id) return;
            book = resp.data;
        } catch (e) {
            //
        }
    }

    function onTaskFailure({ detail }) {
        taskError = detail;
        notifier.danger($_('g.error-when', { values: { a: flowTitle } }));
        resolvedStatuses[OP_POLL_STATUS] = 'failure';
        book = null;
        currentOp = OP_RESOLVED_VIEW;
    }

    function reset() {
        /* if (resetIIIFImporter) {
            resetIIIFImporter();
        } */ // We are anyway destroying component
        currentOp = OP_POST_TASK;
        book = null;
        taskError = null;
        taskStatusURL = null;
        resolvedStatuses = {};
    }
</script>


<div class="container">
    {#if currentOp !== OP_RESOLVED_VIEW}
        <div class="title">
            {flowTitle}
        </div>
    {/if}

    {#if currentOp === OP_POST_TASK}
        <div class="op iiif-importer">
            <IiifImporter
                {source}
                bind:reset="{resetIIIFImporter}"
                on:cancel="{onTaskRegisterCancel}"
                on:success="{onTaskRegisterSuccess}"
            />
        </div>
    {/if}

    {#if currentOp === OP_POLL_STATUS}
        <div class="op poll-status">
            <TaskDetailsReporter
                {taskStatusURL}
                {taskMeta}
                on:success="{onTaskSuccess}"
                on:failure="{onTaskFailure}"
            />
        </div>
    {/if}

    {#if currentOp === OP_RESOLVED_VIEW}
        <div class="op resolved">
            {#if resolvedStatuses[OP_POST_TASK] === 'cancel'}
                    <div class="resolved__cancel">{$_('g.cancelled-for', { values: { a: flowTitle } })}</div>
            {:else}
                {#if resolvedStatuses[OP_POLL_STATUS] === 'success'}
                    <div class="resolved__success">
                        {$_('g.success-in', { values: { a: flowTitle } })}
                    </div>
                    <div class="repr">
                        <ActiveResourceRepr
                            resource="{book}"
                            hideFlags="{{
                                memaction: true,
                            }}"
                        />
                    </div>
                {:else}
                     <div class="resolved__error">
                        {$_('g.error-when', { values: { a: flowTitle } })}
                        <div class="resolved__error__status">
                            {taskError.status}
                        </div>
                     </div>
                {/if}
            {/if}
            <div class="import-another">
                <button on:click="{reset}">{$_('actions.import-iiif.import-another')}</button>
            </div>
            <div class="go-back-to-parent">
                <a href="vihari/res/{source}">{$_('actions.import-iiif.go-back-to-lib')}</a>
            </div>
        </div>
    {/if}
</div>


<style>
    .container {
        max-width: 55.8em;
        margin: 0 auto;
        padding: 0.5em;
    }

    .title {
        font-weight: bold;
        text-align: center;
        margin: 0 auto 0.3em auto;
        border-bottom: 1px dotted grey;
        background: var(--c-surface);
        color: var(--c-s);
        padding: 0.3em;
    }

    /* TODO refactor resolved_op */

    .resolved__success, .resolved__error {
        margin: 0 auto 0.5em auto;
        text-align: center;
        color: green;
        max-width: 15em;
        background: var(--c-contrast2);
    }

    .resolved__error {
        color: var(--c-st-err-red);
    }

    .repr {
        max-width: 25em;
        margin: 0 auto;
        border: 1px solid silver;
        padding: 0.5em;
        border-radius: 1em;
    }

    .resolved__cancel {
        margin: 0 auto 0.5em auto;
        text-align: center;
        max-width: 15em;
        background: var(--c-st-bg-red);
        color: var(--c-st-err-red);
    }

    .import-another, .go-back-to-parent {
        margin: 0.5em auto;
        max-width: 15em;
        text-align: center;
    }
</style>
