<script>
    import { _ } from 'svelte-i18n';
    import { tick, createEventDispatcher } from 'svelte';
    import { importer } from '@vedavaapi/client';
    import { SyncLoader } from 'svelte-loading-spinners';

    import { vc } from '../../../../context-stores';
    import SchemaForm from '../../../../components/forms/SchemaForm.svelte';
    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';

    export let source;
    const dispatch = createEventDispatcher();

    $: formSchema = {
        title: $_('actions.import-iiif.iiif-book'),
        submit: $_('g.import'),
        fields: [
            { name: 'library', label: $_('actions.upsert-lib.parent-lib'), type: '_id', allowedClasses: ['Library'], required: true },
            { name: 'url', label: 'URL', type: 'url', required: true },
        ],
    };

    let form;
    let changes;
    let taskPostPromise;
    let resetForm;

    $: actionTitle = $_('actions.import-iiif.importing-iiif');

    let initialValues = {};

    function computeInitialValues() {
        initialValues = {};
        if (source) {
            initialValues.library = source;
        }
    }

    async function onSubmit({ detail }) {
        ({ form, changes } = detail);
        const postData = { ...form, upsert: true };
        taskPostPromise = importer.iiif.ImportTasks.post({
            vc: $vc,
            data: postData,
        });
        try {
            const { data } = await taskPostPromise;
            // taskDetails.startedAt = `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
            const taskStatusURL = data.status_url;
            dispatch('success', { taskStatusURL });
        } catch (e) {
            dispatch('error', e);
        }
    }

    export async function reset() {
        await tick;
        // eslint-disable-next-line no-unused-expressions
        resetForm && resetForm();
        taskPostPromise = null;
    }

    // eslint-disable-next-line no-unused-expressions
    $: source, computeInitialValues(), reset();
</script>


<div class="container">
    <div class="form">
        <SchemaForm
            schema="{formSchema}"
            {initialValues}
            enableCancel="{true}"
            on:submit="{onSubmit}"
            on:cancel
            bind:reset="{resetForm}"
        />
    </div> 

    {#if taskPostPromise}
        <div class="status">
            {#await taskPostPromise}
                <div class="status__posting">
                    <SyncLoader
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    <br>
                    { actionTitle }...
                </div>
            {:then resp}
                { $_('g.success-in', { values: { a: actionTitle } }) }
            {:catch error}
                <FetchErrorReport
                    { error }
                    action="{actionTitle}"
                    on:retry="{() => onSubmit({ detail: { form, changes } })}"
                />
                <button type="button" class="cancel-button" on:click="{() => dispatch('cancel')}">{$_('forms.cancel')}</button>
            {/await}
        </div>
    {/if}
</div>

<style>
    .container {
        position: relative;
    }

    /* TODO refactor status screen*/
    .status {
        position: absolute;
        top: 0em;
        left: 0em;
        z-index: 100;
        background-color: rgba(255, 250, 240, 0.8);
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .status__posting {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cancel-button {
        margin-top: 3em; 
    }
</style>
