<script>
    import { _ } from 'svelte-i18n';
    import ProgressBar from '@okrad/svelte-progressbar';

    import StateIndicator from '../../../../components/tasks/StateIndicator.svelte';

    export let counts = {};
    export let total;
    export let textSize = 40;
    export let thickness = 10;

    const states = ['success', 'progress', 'partial', 'failure'];
    const colors = ['green', 'khaki', 'brown', 'red'];

    let series = [];

    function calculatePercent(count) {
        return Math.floor(((count || 0) / total) * 1000) / 10;
    }

    function computeSeries() {
        series = [];
        states.forEach((state, i) => {
            if (typeof counts[state] !== 'number') return;
            series.push({
                perc: calculatePercent(counts[state]),
                color: colors[i],
            });
        });
        series = series;
        // console.log({ series });
    }

    // eslint-disable-next-line no-unused-expressions
    $: counts && total && computeSeries();
</script>


<div class="container">
    <div class="bar">
        <ProgressBar {series} {thickness} style="radial" {textSize}/>
        <!-- TODO make it radial-->
    </div>
    <div class="total">
        <span class="total__name">{$_('g.total')}: </span>
        <span class="total__count">{total}</span>
    </div>
    <div class="states">
        {#each states as state(state)}
            {#if typeof counts[state] === 'number'}
                <div class="state">
                    <StateIndicator {state}/>
                    <span class="state__name">{$_(`states.${state}`)}: </span>
                    <span class="state__count">{counts[state]}</span>
                </div>
            {/if}
        {/each}
    </div>
</div>


<style>
    .container {
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 0.3em;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .total {
        color: var(--c-onp-hd);
    }

    .states {
        display: grid;
        /* grid-template-columns: repeat(4, auto); */
        gap: 1.5em;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 0.5em;
        text-transform: lowercase;
    }

    span {
        display: inline-block;
        margin-right: 0.1em;
    }

    .state {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        --ind-mr: 0.2em;
        --ind-ml: 0em;
    }

    .state__count {
        margin-left: 0.5em;
    }
</style>
