<script>
    import { _ } from 'svelte-i18n';
    import { onMount, createEventDispatcher } from 'svelte';
    import { objstore } from '@vedavaapi/client';
    import { SyncLoader } from 'svelte-loading-spinners';

    // import { vc } from '../../../../context-stores';
    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';

    const dispatch = createEventDispatcher();
    export let bookId;
    export let vc;

    let sequence;
    let pages;
    let seqPagesResolved = false;
    let confirmationPendingOp = null;

    let addSeqOffset = 0;

    let isMounted = false;

    const SEQ_OP = 'seq';
    const DEL_OP = 'del';
    const ADD_OP = 'cre';

    let currentOp;

    const OP_TITLES_MAP = {
        [SEQ_OP]: $_('actions.upsert-book.seq-fetch'),
        [DEL_OP]: $_('actions.upsert-book.del-seq'),
        [ADD_OP]: $_('actions.upsert-book.create-seq'),
    };

    let opPromises = {};

    async function getSequenceOrPages() {
        const resp = await objstore.Resources.get({
            vc,
            params: {
                selector_doc: { jsonClass: 'SequenceAnnotation', target: bookId },
                projection: { hierarchy: 0, resolvedPermissions: 0 },
            },
        });

        if (resp.data.items.length) {
            [sequence] = resp.data.items;
            return sequence;
        }

        const pResp = await objstore.Resources.get({
            vc,
            params: {
                selector_doc: { jsonClass: 'ScannedPage', source: bookId },
                projection: { _id: 1 },
            },
        });

        pages = pResp.data.items;
        return pages;
    }

    async function deleteSeqPages() {
        const pagesDelPromise = objstore.Referrers.delete({
            vc,
            params: {
                resource_id: bookId,
                referrers_type: 'specific_resources',
            },
            data: {
                filter_doc: { jsonClass: 'ScannedPage' },
            },
        });

        const seqDelPromise = objstore.Referrers.delete({
            vc,
            params: {
                resource_id: bookId,
                referrers_type: 'annotations',
            },
            data: {
                filter_doc: { jsonClass: 'SequenceAnnotation' },
            },
        });

        await Promise.all([pagesDelPromise, seqDelPromise]);
        sequence = null;
        pages = [];
    }

    async function addSeq() {
        const members = pages.map((p, i) => ({
            resource: p._id,
            index: String(i + addSeqOffset || 0),
        }));
        const seqAnno = {
            jsonClass: 'SequenceAnnotation',
            target: bookId,
            body: { members },
            canonical: 'default_canvas_sequence',
        };

        const { data: resources } = await objstore.Resources.post({
            vc,
            data: {
                resource_jsons: [seqAnno],
                return_projection: { resolvedPermissions: 0 },
            },
        });
        [sequence] = resources;
    }

    async function initOp(op, initer) {
        currentOp = op;
        opPromises[op] = initer();
        try {
            await opPromises[op];
            opPromises[op] = null;
            currentOp = null;
        } catch (e) {
            //
        }
    }

    async function setSeqPagesPromise() {
        await initOp(SEQ_OP, getSequenceOrPages);
        seqPagesResolved = true;
    }

    async function initDeleteOp() {
        initOp(DEL_OP, deleteSeqPages);
    }

    async function initAddSeqOp() {
        initOp(ADD_OP, addSeq);
    }

    onMount(() => {
        isMounted = true;
    });

    function reset() {
        sequence = null;
        pages = null;
        opPromises = {};
        setSeqPagesPromise();
    }

    const opRetryFnMap = {
        [SEQ_OP]: setSeqPagesPromise,
        [DEL_OP]: initDeleteOp,
        [ADD_OP]: initAddSeqOp,
    };

    function onSkipClick() {
        dispatch('skip');
    }

    function onDeleteSeqPagesClick() {
        confirmationPendingOp = DEL_OP;
    }

    function onAddSeqClick() {
        initAddSeqOp();
    }

    function onAppendPagesClick() {
        dispatch('add-pages-request', {
            sequence,
        });
    }

    function onConfirmed() {
        if (confirmationPendingOp === DEL_OP) {
            confirmationPendingOp = null;
            initDeleteOp();
        }
        confirmationPendingOp = null;
}

    function onConfirmCancelled() {
        confirmationPendingOp = null;
    }

    // eslint-disable-next-line no-unused-expressions
    $: isMounted && (bookId, reset());
</script>


<div class="container">

    <div class="info-actions">
        {#if seqPagesResolved}
            <div class="info">
                {#if  !sequence && !pages}
                    <span class="info--err">{$_('actions.upsert-book.st-seq-fetch-error')}</span>
                {:else if sequence}
                    <span class="info--seq-present">{$_('actions.upsert-book.st-seq-present')}</span>
                {:else if  pages.length}
                    <span class="info--no-seq">{$_('actions.upsert-book.st-seq-abs-pages-present')}</span>
                {:else}
                    <span class="info--empty">{$_('actions.upsert-book.st-seq-abs-pages-zero')}</span>
                {/if}
            </div>
            <div class="actions">
                <button type="button" on:click="{onSkipClick}" class="action---skip">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-play-outline"></use>
                    </svg>
                    {$_('actions.upsert-book.act-skip')}
                </button>
                {#if (sequence) || (pages.length)}
                     <button type="button" on:click="{onDeleteSeqPagesClick}" class="action--del">
                         <svg class="kicon">
                            <use xlink:href="symbol-defs.svg#icon-trash"></use>
                        </svg>
                         {$_(`actions.upsert-book.act-delete-${sequence ? 'seq' : 'pages'}`)}
                    </button>
                {/if}
                {#if (!sequence) && (pages.length)}
                    <div>
                        <input type="number" min="{0}" bind:value="{addSeqOffset}">
                        <button type="button" on:click="{onAddSeqClick}">{$_('actions.upsert-book.act-add-seq')}</button>
                    </div>
                {/if}
                {#if (sequence) || (!pages.length)}
                    <button type="button" on:click="{onAppendPagesClick}" class="action--add">
                        <svg class="kicon">
                            <use xlink:href="symbol-defs.svg#icon-list-add"></use>
                        </svg>
                        {$_('actions.upsert-book.act-append-seq')}
                    </button>
                {/if}
            </div>
        {/if}
    </div>

    {#if confirmationPendingOp}
        <div class="confirmation">
            <div class="confirmation__text">
                {@html $_('g.are-you-sure-to', { values: { a: OP_TITLES_MAP[confirmationPendingOp] } })}
            </div>
            <div class="confirmation__actions">
                <button on:click="{onConfirmCancelled}">{$_('forms.cancel')}</button>
                <button on:click="{onConfirmed}">{$_('g.confirm')}</button>
            </div>
        </div>
    {/if}

    {#if currentOp && opPromises[currentOp]}
        <div class="status">
            {#await opPromises[currentOp]}
                <div class="status__fetching">
                    <SyncLoader
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    <br>
                    { OP_TITLES_MAP[currentOp] }...
                </div>
            {:then resp}
                { $_('g.success-in', { values: { a: OP_TITLES_MAP[currentOp] } }) }
            {:catch error}
                <FetchErrorReport
                    { error }
                    action="{currentOp}"
                    on:retry="{opRetryFnMap[currentOp]}"
                />
                <button type="button" class="cancel-button" on:click="{() => { currentOp = null; }}">{$_('forms.cancel')}</button>
            {/await}
        </div>
    {/if}
</div>

<style>
    .container {
        position: relative;
        height: 100%;
    }

    .status, .confirmation {
        position: absolute;
        top: 0em;
        left: 0em;
        z-index: 100;
        background-color: rgba(255, 250, 240, 0.95);
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .status__fetching {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cancel-button {
        margin-top: 3em; 
    }

    .confirmation__text {
        text-align: center;
        color: var(--c-st-err-red);
        font-weight: bold;
    }

    .confirmation__actions {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1em;
        justify-content: center;
        margin-top: 0.5em;
    }

    .actions {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 0.3em;
        justify-items: center;
        margin-top: 1.5em;
    }

    .action--del {
        color: var(--c-st-err-red);
    }

    .action--add {
        color: var(--c-sml);
    }

    .info {
        text-align: center;
    }

    .info--err {
        color: var(--c-st-err-red);
    }

    .info--seq-present {
        color: green;
    }

    .info--no-seq {
        color: var(--c-sml);
    }

    .info--empty {
        color: green;
    }
</style>
