<script>
    import { _ } from 'svelte-i18n';
    import { notifier } from '@beyonk/svelte-notifications';

    import LazyObjectImage from '../../../../components/LazyObjectImage.svelte';

    export let startIndex = 0;
    export let orderMode = 'default';
    export let customIndexRegex;

    export let files;
    export let sequence = [];
    let filesElem;
    export let name;

    function computeSequenceDefaultMode(range) {
        sequence = range.map((oi) => ({
            index: startIndex + oi,
            fileIndex: oi,
        }));
    }

    function computeSequenceReverseMode(range) {
        sequence = range.map((oi) => ({
            index: startIndex + oi,
            fileIndex: range.length - 1 - oi,
        }));
    }

    function computeSequenceRegexpMode(re, range) {
        //  console.log({ re, range, files });
        sequence = [];
        let matchedIndexMin = +Infinity;
        range.forEach((oi) => {
            const file = files[oi];
            const match = file.name.match(re);
            if (!match || match.length < 2) return;
            const matchedIndex = +match[1];
            if (typeof matchedIndex !== 'number') {
                return;
            }
            if (matchedIndex < matchedIndexMin) {
                matchedIndexMin = matchedIndex;
            }
            sequence.push({
                index: matchedIndex,
                fileIndex: oi,
            });
        });
        const startDiff = (matchedIndexMin >= startIndex) ? 0 : (startIndex - matchedIndexMin);
        sequence.forEach((item) => {
            // eslint-disable-next-line no-param-reassign
            item.index += startDiff;
        });
        sequence = sequence.sort((item1, item2) => item1.index - item2.index);
        // console.log({ startDiff, sequence, matchedIndexMin, startIndex });
    }

    function computeSequence() {
        sequence = [];
        if (!files || !files.length) {
            filesElem.value = '';
            sequence = [];
            return undefined;
        }
        const range = [...new Array(files.length).keys()];
        if (orderMode === 'default') return computeSequenceDefaultMode(range);
        if (orderMode === 'reverse') return computeSequenceReverseMode(range);
        const indexRegexStr = orderMode === 'infer' ? ('([0-9\.]+)') : customIndexRegex;
        if (!indexRegexStr) return computeSequenceDefaultMode(range);
        let indexRegex;
        try {
            indexRegex = new RegExp(indexRegexStr);
        } catch (e) {
            notifier.danger($_('g.invalid-regex'));
            return computeSequenceDefaultMode(range);
        }
        return computeSequenceRegexpMode(indexRegex, range);
    }

    // eslint-disable-next-line no-unused-expressions
    $: filesElem && (files, startIndex, orderMode, customIndexRegex, computeSequence());
</script>


<div class="container">
    <div class="input">
        <input type="file" multiple="true" bind:files {name} accept="image/*" bind:this="{filesElem}">
    </div>
    {#if sequence && sequence.length}
        <div class="view">
            {#each sequence as item(files[item.fileIndex].name)}
                 <div class="file-view">
                     <div class="file-view__image">
                        <LazyObjectImage file="{files[item.fileIndex]}"/>
                     </div>
                     <div class="file-view__index">
                         <span class="index">{$_('actions.upsert-book.page-no-short')} {item.index}</span>
                         <span class="name">{files[item.fileIndex].name}</span>
                     </div>
                 </div>
            {/each}
        </div>
    {/if}
</div>


<style>
    .container {
        padding: 0.3em;
    }

    .view {
        max-height: 20em;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 7em);
        grid-template-rows: repeat(auto-fit, 10em);
        gap: 0.7em;
        border: 1px solid var(--c-onpxl);
        border-radius: 0.5em;
        padding: 0.5em;
        margin-top: 0.3em;
    }

    .file-view {
        height: 10em;
        width: 7em;
        border-radius: 0.5em;
        box-shadow: 0 0 5px 0 #aaa;
    }

    .file-view__image {
        height: 7.2em;
        width: 100%;
        text-align: center;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        overflow: hidden;
    }

    :global(.svelte-lazy-image) {
        display: inline-block;
    }

    .file-view__index {
        width: 100%;
        height: 2.8em;
        padding: 0.3em;
        border-top: 1px dotted var(--c-onpml);
        text-align: center;
        font-weight: bold;
        overflow: auto;
    }

    .index {
        vertical-align: middle;
    }

    .name {
        height: 0.8em;
        padding: 0.1em;
        text-align: center;
        font-size: 0.6em;
        display: block;
    }
</style>
