<script>
    import { onMount } from 'svelte';
    import { _ } from 'svelte-i18n';

    import PdfBulkImporterInput from './PdfBulkImporterInput.svelte';
    import PdfBulkImporter from './PdfBulkImporter.svelte';
    import ProgressTable from './ProgressTable.svelte';

    export let initialValues;
    let importItems;

    let resultSpecsList;
    // eslint-disable-next-line no-unused-vars
    let erredItemTaskPairs;

    let resetInput;

    const OP_INPUT = 'input';
    const OP_IMPORT = 'import';
    const OP_RESOLVED_VIEW = 'resolved-view';

    let currentOp = OP_INPUT;

    let resolvedStatuses = {};

    $: flowTitle = $_('actions.bulk-import-pdfs.bulk-importing');

    function onInputSubmit({ detail }) {
        resolvedStatuses[OP_INPUT] = 'success';
        ({ items: importItems } = detail);
        currentOp = OP_IMPORT;
    }

    function onInputCancel() {
        resolvedStatuses[OP_INPUT] = 'cancel';
        currentOp = OP_RESOLVED_VIEW;
    }

    async function onImportSuccess({ detail }) {
        resolvedStatuses[OP_IMPORT] = 'success';
        ({ resultSpecsList, erredItemTaskPairs } = detail);
        currentOp = OP_RESOLVED_VIEW;
    }

    function onImportSkip() {
        resolvedStatuses[OP_IMPORT] = 'skip';
        currentOp = OP_RESOLVED_VIEW;
    }

    function reset() {
        /* if (resetInput) {
            resetInput();
        } */ // We are anyway destroying component
        currentOp = OP_INPUT;
        importItems = undefined;

        resultSpecsList = undefined;
        erredItemTaskPairs = undefined;
        resolvedStatuses = {};
    }

    onMount(() => {
        window.addEventListener('beforeunload', (e) => {
            if (currentOp === OP_IMPORT) {
                e.preventDefault();
                e.returnValue = 'Do you want to ignore all changes?';
            }
        });
    });
</script>


<div class="container">
    {#if currentOp !== OP_RESOLVED_VIEW}
        <div class="title">
            {flowTitle}
        </div>
    {/if}

    {#if currentOp === OP_INPUT}
        <div class="op creator">
            <PdfBulkImporterInput
               initialValues="{initialValues}"
               on:cancel="{onInputCancel}" 
               on:submit="{onInputSubmit}"
               bind:reset="{resetInput}"
            />
        </div>
    {/if}

    {#if currentOp === OP_IMPORT}
        <div class="op importer">
            <PdfBulkImporter
                {importItems}
                on:success="{onImportSuccess}"
                on:skip="{onImportSkip}"
            />
        </div>
    {/if}

    {#if currentOp === OP_RESOLVED_VIEW}
        <div class="op resolved">
            {#if resolvedStatuses[OP_INPUT] === 'cancel'}
                    <div class="resolved__cancel">{$_('g.cancelled-for', { values: { a: flowTitle } })}</div>
            {:else}
                {#if resolvedStatuses[OP_IMPORT] === 'success'}
                    <div class="resolved__success">
                        {$_('g.success-in', { values: { a: flowTitle } })}
                    </div>
                    <div class="checkout">
                        <fieldset class="checkout__succeded">
                            <legend>{$_('states.success')}</legend>
                            <ProgressTable
                                specs="{{
                                    fields: { sno: $_('g.s-no'), name: $_('actions.import-pdf.pdf-document'), result: $_('actions.import-pdf.imported-book') },
                                    tasks: resultSpecsList.map(({ book, bookId }) => ({ id: bookId, name: book.title, state: 'SUCCESS', result: { url: `vihari/res/${bookId}` } })),
                                }}"
                            />
                        </fieldset>
                    </div>
                {:else}
                    <div class="resolved__error">
                        {$_('g.error-when', { values: { a: flowTitle } })}
                    </div>
                {/if}
            {/if}
            <div class="import-more">
                <button on:click="{reset}">{$_('actions.bulk-import-pdfs.import-more')}</button>
            </div>
            {#if initialValues && initialValues.source}
                <div class="go-back-to-parent">
                    <a href="vihari/res/{initialValues.source}">{$_('actions.import-iiif.go-back-to-lib')}</a>
                </div>
            {/if}
        </div>
    {/if}
</div>


<style>
    .container {
        max-width: 55.8em;
        min-height: calc(100vh - 3.7em);
        margin: 0 auto;
        padding: 0.5em;
    }

    .title {
        font-weight: bold;
        text-align: center;
        margin: 0 auto 0.3em auto;
        border-bottom: 1px dotted grey;
        background: var(--c-surface);
        color: var(--c-s);
        padding: 0.3em;
    }

    .importer {
        width: 100%;
        height: calc(100% - 2em);
    }

    /* TODO refactor resolved_op */

    .resolved__success, .resolved__error {
        margin: 0 auto 0.5em auto;
        text-align: center;
        color: green;
        max-width: 15em;
        background: var(--c-contrast2);
    }

    .resolved__error {
        color: var(--c-st-err-red);
    }

    .resolved__cancel {
        margin: 0 auto 0.5em auto;
        text-align: center;
        max-width: 15em;
        background: var(--c-st-bg-red);
        color: var(--c-st-err-red);
    }

    .import-more, .go-back-to-parent {
        margin: 0.5em auto;
        max-width: 15em;
        text-align: center;
    }

    fieldset {
        border-radius: 0.5em;
    }

    legend {
        color: var(--c-onpm);
        margin-left: 1em;
    }
</style>
