<script>
    import { objstore } from '@vedavaapi/client';
    import { tick } from 'svelte';
    import { _ } from 'svelte-i18n';

    import { vc } from '../../../../context-stores';
    import ActiveResourceRepr from '../../_components/res/ActiveResourceRepr.svelte';
    import PdfBookCreator from './PdfBookCreator.svelte';
    import PdfImporter from './PdfImporter.svelte';

    export let currentBook;
    let book;
    let pdfRepr;

    let resetCreator;

    const OP_CREATE = 'create';
    const OP_IMPORT = 'import';
    const OP_RESOLVED_VIEW = 'resolved-view';

    let currentOp = OP_CREATE;

    let resolvedStatuses = {};

    $: flowTitle = $_('actions.import-pdf.importing-pdf');
    $: createOpTitle = $_('actions.import-pdf.creating-book');
    $: importOpTitle = $_('actions.import-pdf.importing-pages');

    function onBookCreateSuccess({ detail }) {
        resolvedStatuses[OP_CREATE] = 'success';
        ({ res: book } = detail);
        [pdfRepr] = book.representations.stillImage;
        currentOp = OP_IMPORT;
    }

    function onBookCreateCancel() {
        resolvedStatuses[OP_CREATE] = 'cancel';
        currentOp = OP_RESOLVED_VIEW;
    }

    async function onImportSuccess() {
        resolvedStatuses[OP_IMPORT] = 'success';
        currentOp = OP_RESOLVED_VIEW;
        await tick;
        try {
            const resp = await objstore.Resource.get({
                vc: $vc,
                params: { resource_id: book._id, projection: { resolvedPermissions: 0, hierarchy: 0 } },
            });
            if (currentOp !== OP_RESOLVED_VIEW || !book || book._id !== resp.data._id) return;
            book = resp.data;
        } catch (e) {
            //
        }
    }

    function onImportSkip() {
        resolvedStatuses[OP_IMPORT] = 'skip';
        currentOp = OP_RESOLVED_VIEW;
    }

    function reset() {
        /* if (resetIIIFImporter) {
            resetIIIFImporter();
        } */ // We are anyway destroying component
        currentOp = OP_CREATE;
        book = null;
        resolvedStatuses = {};
    }
</script>


<div class="container">
    {#if currentOp !== OP_RESOLVED_VIEW}
        <div class="title">
            {flowTitle}
        </div>
    {/if}

    {#if currentOp === OP_CREATE}
        <div class="op creator">
            <PdfBookCreator
                book="{currentBook}"
                bind:reset="{resetCreator}"
                enableCancel="{true}"
                on:cancel="{onBookCreateCancel}"
                on:success="{onBookCreateSuccess}"
            />
        </div>
    {/if}

    {#if currentOp === OP_IMPORT}
        <div class="op importer">
            <PdfImporter
                bookId="{book._id}"
                pdfId="{pdfRepr.data.substr(6)}"
                isScannedPdf="{pdfRepr.is_scanned}"
                pdffsArgs="zoom=optimal"
                on:success="{onImportSuccess}"
                on:skip="{onImportSkip}"
            />
        </div>
    {/if}

    {#if currentOp === OP_RESOLVED_VIEW}
        <div class="op resolved">
            {#if resolvedStatuses[OP_CREATE] === 'cancel'}
                    <div class="resolved__cancel">{$_('g.cancelled-for', { values: { a: createOpTitle } })}</div>
            {:else}
                <div class="resolved__success">
                    {$_('g.success-in', { values: { a: createOpTitle } })}
                </div>
                {#if resolvedStatuses[OP_IMPORT] === 'success'}
                    <div class="resolved__success">
                        {$_('g.success-in', { values: { a: importOpTitle } })}
                    </div>
                {:else}
                    <div class="resolved__error">
                        {$_('g.error-when', { values: { a: importOpTitle } })}
                    </div>
                {/if}
                <div class="repr">
                    <ActiveResourceRepr
                        resource="{book}"
                        hideFlags="{{
                            memaction: true,
                        }}"
                    />
                </div>
            {/if}
            <div class="import-another">
                <button on:click="{reset}">{$_('actions.import-pdf.import-another')}</button>
            </div>
            {#if currentBook && currentBook.source}
                <div class="go-back-to-parent">
                    <a href="vihari/res/{currentBook.source}">{$_('actions.import-iiif.go-back-to-lib')}</a>
                </div>
            {/if}
        </div>
    {/if}
</div>


<style>
    .container {
        max-width: 55.8em;
        min-height: calc(100vh - 3.7em);
        margin: 0 auto;
        padding: 0.5em;
    }

    .title {
        font-weight: bold;
        text-align: center;
        margin: 0 auto 0.3em auto;
        border-bottom: 1px dotted grey;
        background: var(--c-surface);
        color: var(--c-s);
        padding: 0.3em;
    }

    .importer {
        width: 100%;
        height: calc(100% - 2em);
    }

    /* TODO refactor resolved_op */

    .resolved__success, .resolved__error {
        margin: 0 auto 0.5em auto;
        text-align: center;
        color: green;
        max-width: 15em;
        background: var(--c-contrast2);
    }

    .resolved__error {
        color: var(--c-st-err-red);
    }

    .repr {
        max-width: 25em;
        margin: 0 auto;
        border: 1px solid silver;
        padding: 0.5em;
        border-radius: 1em;
    }

    .resolved__cancel {
        margin: 0 auto 0.5em auto;
        text-align: center;
        max-width: 15em;
        background: var(--c-st-bg-red);
        color: var(--c-st-err-red);
    }

    .import-another, .go-back-to-parent {
        margin: 0.5em auto;
        max-width: 15em;
        text-align: center;
    }
</style>
