<script>
    import { importer } from '@vedavaapi/client';
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';
    import { SyncLoader } from 'svelte-loading-spinners';

    import { vc } from '../../../../context-stores';
    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';

    export let bookId;
    export let pdfId;
    export let isScannedPdf = false;
    export let setCover = true;
    export let pdffsArgs = null;

    let importPromise;
    const dispatch = createEventDispatcher();

    $: title = $_('actions.import-pdf.importing-pages');

    function importPdfToBook() {
        importPromise = importer.pdf.Importer.post({
            vc: $vc,
            data: {
                book_id: bookId,
                pdf_id: pdfId,
                is_scanned_pdf: !!isScannedPdf,
                pdffs_args: pdffsArgs,
                set_cover: !!setCover,
            },
        }).then((resp) => {
            dispatch('success', resp.data);
            return resp.data;
        });
    }

    function onSkip() {
        dispatch('skip');
    }

    // eslint-disable-next-line no-unused-expressions
    $: bookId && importPdfToBook();
</script>


<div class="status">
    {#await importPromise}
        <div class="status__progress">
            <SyncLoader size="60" color="var(--c-sd)" unit="px"/>
            <br>
            { title }...
        </div>
    {:then res}
        <div class="status__complete">
            <div class="status__complete__info">
                { $_('g.success-in', { values: { a: title } }) }
            </div>
        </div>
    {:catch error}
        <div>
            <FetchErrorReport
                { error }
                action="{title}"
                on:retry="{importPdfToBook}"
            />
        </div>
        <button type="button" class="cancel-button" on:click="{onSkip}">{$_('g.skip')}</button>
    {/await}
</div>


<style>
    .status {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .status__progress {
        width: 100%;
        font-size: 0.9em;;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .status__complete {
        margin: 0 auto;
        background: var(--c-surface);
        padding: 0.5em;
        border-radius: 1em;
        box-shadow: 0 0 5px #aaa;
    }

    .status__complete__info {
        text-align: center;
    }

    .cancel-button {
        margin-top: 3em;
        width: 6em;
        align-self: center;
    }
</style>
