<script>
    import TaskRepr from './TaskRepr.svelte';

    export let specs;
</script>

<table>
    {#if specs}
        <tr>
            <th>{specs.fields.sno}</th>
            <th>{specs.fields.name}</th>
            {#each specs.fields.sub || [] as st(st)}
                <th class="sub-task">{st}</th>
            {/each}
            {#if specs.fields.result}
                <th>{specs.fields.result}</th>
            {/if}
        </tr>
        {#each specs.tasks as task, i(task.id)}
             <tr>
                 <td>{i}</td>
                 <td>
                     <TaskRepr spec="{task}" showName="{true}"/>
                 </td>
                 {#each task.sub || [] as subtask(subtask.id)}
                      <td><TaskRepr spec="{subtask}" showState="{true}"/></td>
                 {/each}
                 {#if specs.fields.result}
                     <td>
                         {#if task.result}
                             <a href="{task.result.url}">
                                 {#if task.result.name}
                                     {task.result.name}
                                 {:else}
                                     <svg class="kicon">
                                        <use xlink:href="symbol-defs.svg#icon-link"></use>
                                    </svg>
                                 {/if}
                             </a>
                         {:else}
                              <!-- else content here -->
                         {/if}
                     </td>
                 {/if}
             </tr>
        {/each}
    {/if}
</table>


<style>
    table {
        width: 100%;
        height: 100%;
        overflow: auto;
        border: 1px dotted grey;
        margin: 1em auto;
    }

    tr {
        padding: 0.5em;
        height: 2em;
    }

    td {
        min-height: 1.5em;
        margin-left: 0.5em;
        text-align: center;
        border: .0625rem solid #dadce0;
        padding: .25rem .75rem;
    }

    tr:nth-child(2n+1) {
        background-color: #f8f9fa;
        border-color: #dadce0;
    }

</style>
