<script>
    import { _ } from 'svelte-i18n';

    import ResUpserter from './ResUpserter.svelte';
    import ActiveResourceRepr from '../../_components/res/ActiveResourceRepr.svelte';

    export let currentRes;
    export let mode = 'create';
    export let className;
    export let classLabel = $_('actions.upsert-res.res');
    export let formSchema = {};

    export let afterAnchorProps;

    let resetUpserter;
    let resolved = null;
    let res;

    $: actionTitle = $_(`actions.upsert-res.${mode === 'create' ? 'creating' : 'updating'}-res`, { values: { c: classLabel } });

    function onSuccess({ detail }) {
        ({ res } = detail);
        resolved = 'success';
    }

    function onCancel() {
        resolved = 'cancel';
    }

    function reset() {
        resetUpserter();
        resolved = null;
    }
</script>


<div class="container">
    <div class="title">
       {actionTitle}
    </div>

    <div class="upserter" class:hidden="{!!resolved}">
        <ResUpserter
            bind:reset="{resetUpserter}"
            on:cancel="{onCancel}"
            on:success="{onSuccess}"
            res="{currentRes}"
            { mode }
            { className }
            {classLabel}
            { formSchema }
        />
    </div>

    {#if resolved}
        <div class="resolved">
            {#if resolved === 'cancel'}
                <div class="resolved__cancel">{$_('g.cancelled-for', { values: { a: actionTitle } })}</div>
            {:else}
                <div class="resolved__success">
                    {$_('g.success-in', { values: { a: actionTitle } })}
                </div>
                <div class="repr">
                    <ActiveResourceRepr
                        resource="{res}"
                        hideFlags="{{
                            memaction: true,
                        }}"
                    />
                </div>
            {/if}

            {#if mode === 'create'}
                <div class="create-another">
                    <button on:click="{reset}">{$_('actions.upsert-res.create-another', { values: { c: classLabel } })}</button>
                </div>
                {#if afterAnchorProps}
                    <div class="after-anchor">
                        <a href="{afterAnchorProps.href}">{afterAnchorProps.title}</a>
                    </div>
                {/if}
            {/if}
        </div>

        {/if}
</div>


<style>
    .container {
        max-width: 55.8em;
        margin: 0 auto;
        padding: 0.5em;
    }

    .title {
        font-weight: bold;
        text-align: center;
        margin: 0 auto 0.3em auto;
        border-bottom: 1px dotted grey;
        background: var(--c-surface);
        color: var(--c-s);
        padding: 0.3em;
    }

    .resolved__success {
        margin: 0 auto 0.5em auto;
        text-align: center;
        color: green;
        max-width: 15em;
        background: var(--c-contrast2);
    }

    .repr {
        max-width: 25em;
        margin: 0 auto;
        border: 1px solid silver;
        padding: 0.5em;
        border-radius: 1em;
    }

    .resolved__cancel {
        margin: 0 auto 0.5em auto;
        text-align: center;
        max-width: 15em;
        background: var(--c-st-bg-red);
        color: var(--c-st-err-red);
    }

    .create-another, .after-anchor {
        margin: 0.5em auto;
        max-width: 15em;
        text-align: center;
    }
</style>
