<script>
    import { onMount } from 'svelte';
    import { objstore } from '@vedavaapi/client';
    import { _ } from 'svelte-i18n';
    import { Circle } from 'svelte-loading-spinners';

    import { vc } from '../../../../context-stores';

    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';
    import Header from '../../../_components/Header.svelte';
    import ResUpserterFlow from './ResUpserterFlow.svelte';

    export let resId;
    export let classLabel;
    export let formSchema;
    let resPromise;

    async function getRes() {
        resPromise = objstore.Resource.get({
            vc: $vc,
            params: { resource_id: resId, projection: { hierarchy: 0 } },
        }).then((resp) => resp.data);
    }

    onMount(() => {
        if (!resId) return;
        getRes();
    });
</script>


<Header/>

<div class="container">
    {#if !resId}
        <div class="fc no-res">{$_('actions.upsert-res.invalid-res-id', { values: { c: classLabel } })}</div>
    {:else if resPromise}
        <div class="resp">
            {#await resPromise}
                <div class="fc resp__loading">
                    <Circle
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    {$_('actions.upsert-res.fetching-res', { values: { c: classLabel } })}...
                </div>
            {:then res}
                {#if res.resolvedPermissions.updateContent}
                    <div class="upserter">
                        <ResUpserterFlow
                            currentRes="{res}"
                            mode="update"
                            { classLabel }
                            className="{res.jsonClass}"
                            { formSchema }
                        />
                    </div>
                {:else}
                     <div class="fc np-perms">
                         {$_('g.no-perms-for', { values: { a: $_('actions.upsert-res.updating-res', { values: { c: classLabel } }) } })}
                     </div>
                {/if}
            {:catch error}
                <div class="fc resp__error">
                    <FetchErrorReport
                        action="{$_('actions.upsert-res.fetching-res', { values: { c: classLabel } })}"
                        { error }
                        on:retry="{getRes}"
                    />
                </div>
            {/await}
        </div>
    {/if}
</div>


<style>

    .container {
        width: 100%;
    }

    .fc {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 3.7em);
    }

    .no-res {
        color: var(--c-st-err-red);
    }

    .resp {
        width: 100%;
    }

    .resp__loading {
        flex-direction: column;
    }

    .upserter {
        width: 100%;
    }

</style>
