<script>
    import { objstore } from '@vedavaapi/client';
    import dset from 'dset';
    import { _ } from 'svelte-i18n';
    import { createEventDispatcher, tick } from 'svelte';
    import { SyncLoader } from 'svelte-loading-spinners';

    import { vc } from '../../../../context-stores';
    import SchemaForm from '../../../../components/forms/SchemaForm.svelte';
    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';

    const dispatch = createEventDispatcher();

    export let mode = 'create';
    export let className = 'Resource';
    export let classLabel = $_('upsert-res.res');
    export let res; // to set initial values. and also to compare for changes in update mode
    export let preProcesser;

    export let enableSkip;
    export let enableCancel;

    let form;
    let changes;
    let postPromise;
    let resetForm;

    $: actionTitle = $_(`actions.upsert-res.${mode === 'create' ? 'creating' : 'updating'}-res`, { values: { c: classLabel } });

    export let formSchema = {};

    let ooldFields = [];
    $: ooldFields = ((formSchema || {}).fields || []).filter((fs) => fs.type === 'file').map((fs) => fs.name);

    let initialValues = {};
    let initialReprs = {};

    function computeInitialValues() {
        initialValues = {};
        initialReprs = {};
        if (!res) return;
        Object.keys(res).forEach((k) => {
            if (ooldFields.includes(k)) return;
            if (res[k]) {
                initialValues[k] = res[k];
            }
        });
        ooldFields.forEach((f) => {
            if (!res[f]) return;
            initialReprs[f] = {
                url: objstore.Files.url({
                    vc: $vc,
                    params: { file_id: res[f].data.substring(6, res[f].data.length) },
                }),
            };
        });
    }

    function getGraphs() {
        const update = { jsonClass: className };
        const effectiveForm = mode === 'update' ? changes : form;
        Object.keys(effectiveForm).forEach((k) => {
            if (!effectiveForm[k]) return;
            if (ooldFields.includes(k)) return;
            dset(update, k, form[k]);
        });
        if (changes.source && !form.source) {
            // update.source = null; // TODO fix api
        }
        update._id = (res || {})._id || '_:res';

        const graph = { [update._id]: update };
        const ooldGraph = {};
        const oolds = {};
        // console.log({ form, changes, ooldFields });
        ooldFields.forEach((f, i) => {
            if (changes[f] && form[f]) {
                const ooldId = `_:oold-${i}`;
                const proto = typeof form[f] === 'string' ? 'http' : 'file';
                const repr = {
                    jsonClass: 'StillImageRepresentation', // TODO
                    data: `_OOLD:${ooldId}`,
                };
                if (proto === 'file') {
                    repr.mimetype = form[f][0].type;
                }
                dset(update, f, repr);
                const oold = {
                    jsonClass: 'StillImage',
                    source: `${update._id.startsWith('_:') ? '_VV:' : ''}${update._id}`,
                    namespace: '_vedavaapi',
                    _id: ooldId,
                };
                if (proto === 'file') {
                    oold.identifier = form[f][0].name;
                } else {
                    oold.proto = proto;
                    oold.identifier = form[f];
                }
                ooldGraph[ooldId] = oold;
                oolds[f] = oold;
            }
        });
        if (preProcesser) {
            preProcesser(update, oolds);
        }

        const files = ooldFields.filter((f) => !!changes[f]).map((f) => form[f]).reduce((n, s) => [...s, ...n], []);
        return { graph, ooldGraph, files, resId: update._id };
    }

    async function onSubmit({ detail }) {
        ({ form, changes } = detail);
        const { graph, ooldGraph, files, resId } = getGraphs();
        // console.log({ graph, ooldGraph, files });
        postPromise = objstore.Graph.post({
            vc: $vc,
            data: {
                graph,
                files,
                ool_data_graph: ooldGraph,
                upsert: true,
                should_return_resources: true,
                should_return_oold_resources: false,
                response_projection_map: { Library: { resolvedPermissions: 0, hierarchy: 0 } },
            },
        });
        try {
            const { data } = await postPromise;
            dispatch('success', { res: data.graph[resId] });
        } catch (e) {
            dispatch('error', e);
        }
    }

    export async function reset() {
        await tick;
        // eslint-disable-next-line no-unused-expressions
        resetForm && resetForm();
        postPromise = null;
    }

    // eslint-disable-next-line no-unused-expressions
    $: res, (computeInitialValues(), reset());
</script>


<div class="container">
    <div class="form">
        <SchemaForm
            schema="{formSchema}"
            { initialValues }
            { initialReprs }
            {enableSkip}
            {enableCancel}
            on:submit="{onSubmit}"
            on:cancel
            on:skip
            bind:reset="{resetForm}"
        />
    </div>
    {#if postPromise}
        <div class="status">
            {#await postPromise}
                <div class="status__posting">
                    <SyncLoader
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    <br>
                    { actionTitle }...
                </div>
            {:then resp}
                { $_('g.success-in', { values: { a: actionTitle } }) }
            {:catch error}
                <FetchErrorReport
                    { error }
                    action="{actionTitle}"
                    on:retry="{() => onSubmit({ detail: { form, changes } })}"
                />
                <button type="button" class="cancel-button" on:click="{() => dispatch('cancel')}">{$_('forms.cancel')}</button>
            {/await}
        </div>
    {/if}
</div>


<style>
    .container {
        position: relative;
    }

    .status {
        position: absolute;
        top: 0em;
        left: 0em;
        z-index: 100;
        background-color: rgba(255, 250, 240, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .status__posting {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cancel-button {
        margin-top: 3em; 
    }
</style>
