<script>
    import { _ } from 'svelte-i18n';
    import { createEventDispatcher } from 'svelte';

    import TaskDetailsPoller from '../../../../components/tasks/TaskDetailsPoller.svelte';

    export let title;
    export let taskStatusURL;
    export let taskMeta;

    const dispatch = createEventDispatcher();

    function onStateChange({ detail }) {
        if (detail.state === 'SUCCESS') {
            dispatch('success', detail);
            return;
        }
        if (detail.state === 'FAILURE' || detail.state === 'Failure') {
            dispatch('failure', detail);
        }
    }
</script>


<fieldset>
    <legend>{title || $_('g.task-state')}</legend>
    {#if taskStatusURL}
        <div class="poller">
            <TaskDetailsPoller
                meta="{taskMeta}"
                statusURL="{taskStatusURL}"
                on:state-change="{onStateChange}"
            />
        </div>
    {/if}
</fieldset>


<style>
    fieldset {
        border-radius: 0.5em;
    }

    legend {
        color: var(--c-onp-hd);
        margin: 0 auto;
        font-weight: 600;
    }
</style>
