<script>
    import { Moon } from 'svelte-loading-spinners';

    export let spec;
    export let showName = false;
    export let showState = false;
</script>

<div class="task-repr">
    <div class="task-repr__status">
        {#if spec.state === 'PROGRESS'}
             <Moon  size="1" color="var(--c-sd)" unit="em"/>
        {:else}
             <svg class="kicon state-icon state-{spec.state.toLowerCase()}">
                <use xlink:href="symbol-defs.svg#icon-{
                    { PARTIAL: 'close', SUCCESS: 'checkmark', FAILURE: 'close', PENDING: 'queue' }[spec.state]
                }"></use>
            </svg>
        {/if}
    </div>
    {#if showName}
        <div class="task-repr__name">{spec.name}</div>
    {/if}
    {#if showState}
        <div class="task-repr__state">{spec.state}</div>
    {/if}
    <!-- TODO should show error also?-->
</div>


<style>
    .task-repr {
        display: flex;
        align-items: center;
    }

    .task-repr__status {
        margin-right: 0.3em;
    }

    .state-icon {
        height: 1em;
        width: 1em;
    }

    .state-pending {
        color: var(--c-onpxl);
    }

    .state-success {
        color: green;
    }

    .state-failure {
        color: var(--c-st-err-red);
    }

    .state-partial {
        color: yellow;
    }
</style>
