<script>
    import { accounts } from '@vedavaapi/client';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    import { _ } from 'svelte-i18n';
    import { createEventDispatcher, tick } from 'svelte';
    import { SyncLoader } from 'svelte-loading-spinners';

    import { vc } from '../../../../context-stores';
    import SchemaForm from '../../../../components/forms/SchemaForm.svelte';
    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';

    const dispatch = createEventDispatcher();

    export let mode = 'create';
    export let team; // to set initial values. and also to compare for changes in update mode.

    let form;
    let changes;
    let postPromise;
    let resetForm;

    $: actionTitle = $_(`actions.upsert-team.${mode === 'create' ? 'creating' : 'updating'}-team`);

    const formSchema = {
        title: $_('g.team'),
        submit: $_(`g.${mode}`),
        fields: [
            { name: 'source', label: $_('actions.upsert-team.parent-team'), type: 'agent', agentType: AclAgentType.TEAMS },
            { name: 'name', label: $_('actions.upsert-team.name'), type: 'string', required: true },
            { name: 'description', label: $_('actions.upsert-team.descr'), type: 'text' },
            // { name: 'logo', label: $_('actions.upsert-team.logo'), type: 'image' },
        ],
    };

    const initialValues = {};
    const initialReprs = {};

    function computeInitialValues() {
        if (!team) return;
        ['name', 'description', 'source', '_id'].forEach((k) => {
            if (team[k]) {
                initialValues[k] = team[k];
            }
        });
    }

    function getPostPayload() {
        let update = { jsonClass: 'Team' };
        if (mode === 'update') {
            Object.keys(changes).forEach((k) => {
                if (!changes[k]) return;
                update[k] = form[k];
            });
        } else {
            update = { ...update, ...form };
        }
        if (changes.source && !form.source) {
            // update.source = null;
        }
        return update;
    }

    async function onSubmit({ detail }) {
        ({ form, changes } = detail);
        const update = getPostPayload();
        postPromise = accounts.teams.Teams.post({
            vc: $vc,
            data: {
                team_json: update,
                return_projection: { resolvedPermissions: 0 },
            },
        });
        // console.log({ graph, ooldGraph, files });
        try {
            const { data } = await postPromise;
            dispatch('success', { team: data });
        } catch (e) {
            dispatch('error', e);
        }
    }

    export async function reset() {
        await tick;
        // eslint-disable-next-line no-unused-expressions
        resetForm && resetForm();
        postPromise = null;
    }

    // eslint-disable-next-line no-unused-expressions
    $: team && (computeInitialValues(), reset());
</script>


<div class="container">
    <div class="form">
        <SchemaForm
            schema="{formSchema}"
            { initialValues }
            { initialReprs }
            enableCancel="{true}"
            on:submit="{onSubmit}"
            on:cancel
            bind:reset="{resetForm}"
        />
    </div>
    {#if postPromise}
        <div class="status">
            {#await postPromise}
                <div class="status__posting">
                    <SyncLoader
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    <br>
                    { actionTitle }...
                </div>
            {:then resp}
                { $_('g.success-in', { values: { a: actionTitle } }) }
            {:catch error}
                <FetchErrorReport
                    { error }
                    action="{actionTitle}"
                    on:retry="{() => onSubmit({ detail: { form, changes } })}"
                />
                <button type="button" class="cancel-button" on:click="{() => dispatch('cancel')}">{$_('forms.cancel')}</button>
            {/await}
        </div>
    {/if}
</div>


<style>
    .container {
        position: relative;
    }

    .status {
        position: absolute;
        top: 0em;
        left: 0em;
        z-index: 100;
        background-color: rgba(255, 250, 240, 0.8);
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .status__posting {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cancel-button {
        margin-top: 3em; 
    }
</style>
