<script>
    import { _ } from 'svelte-i18n';
    import { createEventDispatcher } from 'svelte';

    import TeamUpserter from './TeamUpserter.svelte';
    import AgentChip from '../../../sangha/_components/agents/AgentChip.svelte';

    const dispatch = createEventDispatcher();

    export let currentTeam;
    export let mode = 'create';
    export let showClose = false;

    let resetForm;
    let resolved = null;
    let team;

    function onSuccess({ detail }) {
        ({ team } = detail);
        resolved = 'success';
    }

    function onCancel() {
        resolved = 'cancel';
    }

    function reset() {
        resetForm();
        resolved = null;
    }

    function requestClose() {
        dispatch('close-request', { team });
    }
</script>


<div class="container">
    <div class="upserter" class:hidden="{!!resolved}">
        <TeamUpserter
            bind:reset="{resetForm}"
            on:cancel="{onCancel}"
            on:success="{onSuccess}"
            team="{currentTeam}"
            { mode }
        />
    </div>

    {#if resolved}
        <div class="resolved">
            {#if resolved === 'cancel'}
                <div class="resolved__cancel">{$_('g.cancelled-for', { values: { a: $_(`actions.upsert-team.${mode === 'create' ? 'creating' : 'updating'}-team`) } })}</div>
            {:else}
                <div class="resolved__success">
                    {$_('g.success-in', { values: { a: $_(`actions.upsert-team.${mode === 'create' ? 'creating' : 'updating'}-team`) } })}
                </div>
                <div class="repr">
                    <AgentChip
                        agent="{team}"
                        agentAnchorTarget="_self"
                    />
                </div>
            {/if}

            {#if mode === 'create'}
                <div class="create-another">
                    <button on:click="{reset}">{$_('actions.upsert-team.create-another')}</button>
                </div>
                {#if showClose}
                    <div class="close">
                        <button on:click="{requestClose}">{$_('g.close')}</button>
                    </div>
                {/if}
            {/if}
        </div>

        {/if}
</div>


<style>
    .container {
        max-width: 55.8em;
        margin: 0 auto;
        padding: 0.5em;
    }

    .resolved__success {
        margin: 0 auto 0.5em auto;
        text-align: center;
        color: green;
        max-width: 15em;
        background: var(--c-contrast2);
    }

    .repr {
        max-width: 25em;
        margin: 0 auto;
        border: 1px solid silver;
        padding: 0.5em;
        border-radius: 1em;
    }

    .resolved__cancel {
        margin: 0 auto 0.5em auto;
        text-align: center;
        max-width: 15em;
        background: var(--c-st-bg-red);
        color: var(--c-st-err-red);
    }

    .create-another, .close {
        margin: 0.5em auto;
        max-width: 15em;
        text-align: center;
    }
</style>
