<script>
    import MeSurface from '../MeSurface.svelte';

    export let user;
</script>

<div class="wrapper">
    <MeSurface {user} on:click/>
</div>

<style>
    .wrapper {
        height: 9rem;
        width: 16rem;
        box-shadow: 0 24px 54px rgba(0,0,0,.15), 0 4.5px 13.5px rgba(0,0,0,.08);
    }
</style>
