<script>
    import ProfilePic from '../ProfilePic.svelte';

    export let agent;
</script>

<div class="wrapper">
    <ProfilePic {agent} on:click/>
</div>

<style>
    .wrapper {
        height: 2rem;
        width: 2rem;
    }
</style>
