<script>
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';

    import { ORD_ASC, ORD_DESC } from '../../../../../constants';
    import { QueryManager } from '../query-helper';

    import SortBy from '../../../../../components/SortBy.svelte';
    import SimpleSearchInput from './SimpleSearchInput.svelte';


    const dispatch = createEventDispatcher();

    export let simpleSearchSpecs = { fields: ['_id'] }; // when no specs are provided
    export let lc;
    export let cmg;
    let smg;
    const qm = new QueryManager();

    $: sortFields = [{ id: 'created', label: $_('g.created') }, ...simpleSearchSpecs.fields.map((f) => ({ id: f, label: f }))]; // TODO change interface of sort by
    let sortBy;
    let sortOrder = ORD_DESC;

    const search = () => {
        if (cmg) {
            qm.mergeToConstantGroup(cmg, true);
        }
        qm.mergeToSimpleGroup(smg, true);
        const selectorDoc = qm.getResultantQuery();
        const sortDoc = (sortBy && sortOrder) ? [[sortBy, sortOrder === ORD_ASC ? 1 : -1]] : undefined;
        dispatch('search', { selectorDoc, sortDoc });
        // console.log({ selector_doc: selectorDoc, sort_doc: sortDoc, sortBy, sortOrder });
        return false;
    };
</script>

<div class="container">

    <div class="input">
        <SimpleSearchInput
            {simpleSearchSpecs}
            {lc}
            bind:mapsGroup="{smg}"
            on:submit="{search}"
        />
    </div>

    <div class="sort-by">
        <SortBy
            keys="{sortFields}"
            bind:by="{sortBy}"
            bind:order="{sortOrder}"
        />
    </div>

    <div class="submit">
        <button type="button" on:click|preventDefault="{search}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-search"></use>
            </svg>
        </button>
    </div>

</div>


<style>

    .container {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    .input {
        flex-grow: 1;
        margin-right: 0.2em;
    }

    .sort-by {
        border: 0.05em dotted var(--c-onpl);
        margin-right: 0.2em;
        background: var(--c-contrast2);
        color: var(--c-onpm);
    }

    button {
        height: 100%;
        background: var(--c-p);
        border: 0.05em solid var(--c-onpl);
        color: var(--c-sml);
    }

</style>
