<script>
    import { debounce } from 'throttle-debounce';
    import { createEventDispatcher } from 'svelte';
    import { LocaleContext } from '@vedavaapi/jsonld-helpers/dist/locale';

    import { _ } from 'svelte-i18n';


    /* @type IUiSearchProfileSimple */
    export let simpleSearchSpecs;
    export let lc = new LocaleContext({});

    $: conj = simpleSearchSpecs.fields.length > 1 ? 'or' : 'and';

    const fvMap = {};
    const frMap = {};
    const fvlMap = {};
    const mgc = { fvMap, frMap, fvlMap };

    export let mapsGroup;
    $: mapsGroup = { [conj]: mgc };

    $: fieldsLabel = (lc.getLocalizedText(simpleSearchSpecs.label) || {}).chars || 'fields';

    let value;
    const onChange = debounce(500, () => {
        simpleSearchSpecs.fields.forEach((f) => {
            fvMap[f] = value || '';
            frMap[f] = 'has';
        });
        // console.log({ mapsGroup });
    });
    // eslint-disable-next-line
    $: value , simpleSearchSpecs && onChange();

    const dispatch = createEventDispatcher();
    const onKeyUp = (e) => {
        if (e.keyCode === 13) {
            dispatch('submit');
        }
    };
</script>


<label>

    <input placeholder="{$_('s.s.search-by-key', { values: { key: fieldsLabel } })}" bind:value on:keyup|preventDefault|stopPropagation="{onKeyUp}"/>

</label>


<style>

    input {
        padding: 0.2em;
        width: 100%;
    }

</style>
