@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #ffffff;
$mdc-theme-secondary: #236192;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
