<script>
    import { _ } from 'svelte-i18n';
    import delve from 'dlv';
    import { debounce } from 'throttle-debounce';
    import { createEventDispatcher } from 'svelte';
    import { LocaleContext } from '@vedavaapi/jsonld-helpers/dist/locale';
    import { fieldSupportedRelationsMap, getFieldLabel } from '../query-helper';

    import IdsInput from '../input-types/IdsInput.svelte';
    import AgentIdsInput from '../../../../sangha/_components/agents/AgentIdsInput.svelte';

    export let advancedSearchFieldSpecs = [];
    export let initialValues = {};
    export let lc = new LocaleContext({});

    const fvMap = {};
    const frMap = {};
    const fvlMap = {};

    const mgc = { fvMap, frMap, fvlMap };
    let conj = 'and';
    export let mapsGroup; // export for binding
    // eslint-disable-next-line no-unused-expressions
    $: mapsGroup = { [conj]: mgc };
    // $: console.log({ mapsGroup });

    const dispatch = createEventDispatcher();

    const errors = [];
    export const validate = () => { // export for bind and use
        errors.length = 0;
        advancedSearchFieldSpecs.forEach((fs) => {
            const f = fs.field;
            const v = fvMap[f];
            if (fs.required && (v === undefined || v === null || v === '')) {
                errors.push({ field: f, error: $_('s.field-is-required', { values: { f: getFieldLabel(fs, lc) } }) });
            }
        });
        return !errors.length;
    };

    const onKeyUp = debounce(300, (e) => {
        if (e.keyCode === 13) {
            dispatch('submit');
        }
    });

    const onFormSubmit = () => { dispatch('submit'); return false; };

    function initializeReferanceValues() {
        advancedSearchFieldSpecs.forEach((fs) => {
            if (['time'].includes(fs.type)) {
                if (!fvMap[fs.field]) {
                    fvMap[fs.field] = {};
                }
            }
            if (frMap && ['in', 'notIn'].includes(frMap[fs.field])) {
                if (!Array.isArray(fvMap[fs.field])) {
                    fvMap[fs.field] = [];
                }
            }
        });
    }

    function initializeValues() {
        conj = delve(initialValues, 'conj', 'and');
        Object.assign(fvMap, delve(initialValues, 'fvMap', {}));
        Object.assign(fvlMap, delve(initialValues, 'fvlMap', {}));
        Object.assign(frMap, delve(initialValues, 'frMap', {}));
        console.log({ fvMap, frMap, fvlMap });
    }

    // eslint-disable-next-line no-unused-expressions
    $: initialValues && initializeValues();
    // eslint-disable-next-line no-unused-expressions
    $: advancedSearchFieldSpecs && frMap && initializeReferanceValues();
</script>


<div on:submit|preventDefault="{onFormSubmit}"> <!-- TODO replaced from form, to avoid nested form submition conflicts-->
    <div class="conj-field">
        {$_('g.match').toLowerCase()}: 
        <!--select bind:value="{conj}" class="conj__select">
            <option value="and">{$_('s.c.allOf')}</option>
            <option value="and">{$_('s.c.anyOf')}</option>
        </select-->
        <label>
            <input type="radio" value="and" bind:group="{conj}">
            {$_('s.c.allOf').toLowerCase()}
        </label>
        <label>
            <input type="radio" value="or" bind:group="{conj}">
            {$_('s.c.anyOf').toLowerCase()}
        </label>
    </div>


    <fieldset>
        <legend>{$_('g.conditions')}</legend>
        <ul class="errors" class:hidden="{!errors.length}">
            {#each errors as e(e.field)}
                <li>{e.error}</li>
            {/each}
        </ul>
        {#each advancedSearchFieldSpecs as fs(fs.field)}
            <label class="qi">
                <span class="qi__f">
                    {getFieldLabel(fs, lc)}{#if fs.required}<sup class="required-sup">*</sup>{/if}
                </span>

                <span class="qi__r">
                    <select bind:value="{frMap[fs.field]}">
                        {#each fieldSupportedRelationsMap[fs.type || 'string'] as r(r)}
                            <option value="{r}">{$_(`s.r.${r}`)}</option>
                        {/each}
                    </select>
                </span>

                <div class="qi__v">
                    {#if fs.type === 'string' || !fs.type}
                        <!--TextAreaAutoSize
                            bind:value="{fvMap[fs.field]}"
                            minRows="{1}"
                            maxRows="{4}"
                        /-->
                        <input bind:value="{fvMap[fs.field]}" type="text" on:keyup="{onKeyUp}">
                    {:else if  fs.type === 'number'}
                         <input bind:value="{fvMap[fs.field]}" type="number"/>
                    {:else if fs.type === 'bool'}
                         <select bind:value="{fvMap[fs.field]}">
                            <option value="{true}">{$_('g.true')}</option>
                            <option value="{false}">{$_('g.false')}</option>
                         </select>
                    {:else if fs.type === '_id'}
                        <div class="id-input-wrapper">
                            {#if ['in', 'notIn'].includes(frMap[fs.field])}
                                <IdsInput
                                    allowedClassNames="{fs.allowedClasses}"
                                    bind:resIds="{fvMap[fs.field]}"
                                    mode="multi"
                                />
                            {:else}
                                <IdsInput
                                    allowedClassNames="{fs.allowedClasses}"
                                    bind:resId="{fvMap[fs.field]}"
                                    mode="single"
                                />
                            {/if}
                        </div>
                    {:else if fs.type === 'agent_id'}
                        <div class="id-input-wrapper">
                            {#if ['in', 'notIn'].includes(frMap[fs.field])}
                                <AgentIdsInput
                                    bind:agentIds="{fvMap[fs.field]}"
                                    mode="multi"
                                    agentType="{fs.agentType || undefined}"
                                />
                            {:else}
                                <AgentIdsInput
                                    bind:agentId="{fvMap[fs.field]}"
                                    mode="single"
                                    agentType="{fs.agentType || undefined}"
                                />
                            {/if}
                        </div>
                    {:else if fs.type === 'enum'}
                        <div class="enum-wrapper">
                            {#if ['in', 'notIn'].includes(frMap[fs.field])}
                                {#each fs.values as val,i (val)}
                                    <label class="label--inline">
                                        <input type="checkbox" value="{val}" bind:group="{fvMap[fs.field]}">
                                        <span>{val.toLowerCase()}</span>
                                    </label>
                                {/each}
                            {:else}
                                {#each fs.values as val,i (val)}
                                    <label class="label--inline">
                                        <input type="radio" bind:group="{fvMap[fs.field]}" value="{val}">
                                        <span>{val.toLowerCase()}</span>
                                    </label>
                                {/each}
                            {/if}
                        </div>
                    {:else if fs.type === 'time'}
                        <div class="time-wrapper">
                            {#if frMap[fs.field] === 'inRange' && fvMap[fs.field]}
                                <label class="label--inline">
                                    <span>{$_('g.from')}</span>:<br>
                                    <input type="date" bind:value="{fvMap[fs.field].from}">
                                </label>
                                <label class="label--inline">
                                    <span>{$_('g.to')}</span>:<br>
                                    <input type="date" bind:value="{fvMap[fs.field].to}">
                                </label>
                            {/if}
                        </div>
                    {/if}
                </div>
            </label>
        {/each}
    </fieldset>
</div>


<style>

    /*.conj__select {
        min-height: 1.7em;
        vertical-align: middle;
    }*/

    .conj-field {
        text-align: center;
        width: 100%;
        margin-bottom: 0.3em;
        font-size: 0.8em;
    }

    .conj-field>label:first-child {
        margin-left: 0.7em;
        margin-right: 0.3em;
    }

    legend {
        color: var(--c-onp-hd);
        margin: 0 auto;
        letter-spacing: 0.05em;
    }

    .errors {
        background-color: var(--c-st-bg-red);
        color: var(--c-st-err-red);
    }

    .qi {
        display: block;
        margin-bottom: 1.3em;
    }

    .qi__f {
        color: var(--c-sd);
    }

    .required-sup {
        color: var(--c-st-red);
    }

    .qi__r {
        min-width: 4em;
    }

    .qi__r>select {
        min-width: 5em;
        background-color: var(--c-surface);
        color: var(--c-onpm);
        border-color: var(--c-onpxl);
    }

    .qi__v {
        margin: 1em 0;
        margin-left: 1em;
    }

    .qi__v>select, .qi__v>input {
        width: 100%;
        padding: 0.3rem;
        border: 1px solid var(--c-onpxl);
        color: var(--c-onp);
        background-color: var(--c-p);
    }

    .qi__v>select {
        min-height: 2.3em;
    }

    .id-input-wrapper {
        width: 100%;
        padding: 0.3rem;
        border: 1px solid var(--c-onpxl);
    }

    .enum-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6em, auto));
        gap: 0.2em;
    }

    .time-wrapper {
        display: grid;
        gap: 0.5em;
    }

    .label--inline, input[type="date"] {
        display: inline-block;
        color: var(--c-onpm);
    }

    .label--inline>span, input[type="checkbox"] {
        vertical-align: middle;
    }

</style>
