<script>
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';

    import { ORD_ASC, ORD_DESC } from '../../../../../constants';
    import { QueryManager, getFieldLabel } from '../query-helper';

    import SortBy from '../../../../../components/SortBy.svelte';
    import AdvancedSearchInput from './AdvancedSearchInput.svelte';

    const dispatch = createEventDispatcher();

    export let advancedSearchFieldSpecs = [{ field: '_id', type: 'string', required: true }]; // when no fields are provided
    export let initialValues;
    export let lc;
    export let cmg;
    
    let amg;
    let validateASForm;
    const qm = new QueryManager();

    $: sortFields = [
        { id: 'created', label: $_('g.created') },
        ...advancedSearchFieldSpecs.map((fs) => ({ id: fs.field, label: getFieldLabel(fs, lc) })),
    ]; // TODO change interface of sort by
    let sortBy;
    let sortOrder = ORD_DESC;

    const search = (event, shouldValidate = true) => {
        if (shouldValidate && (validateASForm && !validateASForm())) {
            return; // TODO notify
        }
        if (cmg) {
            qm.mergeToConstantGroup(cmg, true);
        }
        qm.mergeToSimpleGroup(amg, true);
        const selectorDoc = qm.getResultantQuery();
        const sortDoc = (sortBy && sortOrder) ? [[sortBy, sortOrder === ORD_ASC ? 1 : -1]] : undefined;
        dispatch('search', { selectorDoc, sortDoc });
        // console.log({ selector_doc: selectorDoc, sort_doc: sortDoc });
    };

    export function invokeSearch(shouldValidate = true) {
        return search(null, shouldValidate);
    }
</script>

<div class="container">

    <div class="input">
        <AdvancedSearchInput
            {advancedSearchFieldSpecs}
            {lc}
            bind:mapsGroup="{amg}"
            bind:validate="{validateASForm}"
            on:submit="{search}"
            { initialValues }
        />
    </div>

    <div class="sort-by">
        <label class="sort-by__w">
            <span class="sort-by__l">{$_('s.sort-by').toLowerCase()}:</span>
            <div class="sort-by__i">
                <SortBy
                    keys="{sortFields}"
                    bind:by="{sortBy}"
                    bind:order="{sortOrder}"
                />
            </div>
        </label>
    </div>

    <div class="submit">
        <button type="button" on:click="{search}" class="reset__button submit__button">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-search"></use>
            </svg>
            {$_('s.search')}
        </button>
    </div>

</div>


<style>

    .container {
        width: 100%;
    }

    .sort-by {
        margin-top: 1em;
        font-size: 0.8em;
        text-align: center;
    }

    .sort-by__w {
        display: inline-flex;
        min-height: 2.5em;
        align-items: center;
        justify-content: center;
    }

    .sort-by__l {
        margin-right: 0.7em;
    }

    .sort-by__i {
        border: 0.05em dotted var(--c-onpl);
        border-radius: 0.15em;
        background: var(--c-contrast2);
        padding: 0.2em;
    }

    .submit {
        width: 100%;
        margin: 0.3em auto 0 auto;
        background: var(--c-s);
        color: var(--c-p);
        border-radius: 0.15em;
        box-shadow: -1px 1px 5px 0px var(--c-sl);
    }

    .submit:focus-within {
        box-shadow: -1px 1px 20px 0px var(--c-sl);
    }

    .submit__button {
        height: 100%;
        width: 100%;
        padding: 0.2em;
        text-align: center;
    }

</style>
