<script context="module">
    export async function preload({ query }) {
        const { source } = query;
        return { source };
    }
</script>

<script>
    import { NotificationDisplay } from '@beyonk/svelte-notifications';
    import Header from '../../_components/Header.svelte';
    import PdfBulkImporterFlow from './_components/PdfBulkImporterFlow.svelte';

    export let source;
</script>

<Header/>
<PdfBulkImporterFlow initialValues="{{ source, are_scanned: true }}"/>
<NotificationDisplay/>
