<script context="module">
    export async function preload({ query }) {
        const { source } = query;
        return { source };
    }
</script>

<script>
    import { NotificationDisplay } from '@beyonk/svelte-notifications';
    import Header from '../../_components/Header.svelte';
    import BookUpserterFlow from './_components/BookUpserterFlow.svelte';

    export let source;
    $: currentBook = source ? { jsonClass: 'ScannedBook', source } : undefined;
</script>

<Header/>
<BookUpserterFlow mode="create" { currentBook }/>
<NotificationDisplay/>
