<script>
    import { _ } from 'svelte-i18n';

    import { getLibraryFormSchema } from './_components/schemas/library';
    import Header from '../../_components/Header.svelte';
    import ResUpserterFlow from './_components/ResUpserterFlow.svelte';

    $: formSchema = getLibraryFormSchema($_, 'create');
</script>


<Header/>
<ResUpserterFlow mode="create" className="Library" classLabel="{$_('g.library')}" {formSchema}/>
