<script context="module">
    export async function preload({ query }) {
        const { source } = query;
        return { source };
    }
</script>

<script>
    import { NotificationDisplay } from '@beyonk/svelte-notifications';
    import Header from '../../_components/Header.svelte';
    import PdfImporterFlow from './_components/PdfImporterFlow.svelte';

    export let source;
</script>

<Header/>
<PdfImporterFlow currentBook="{{ source, is_scanned: true }}"/>
<NotificationDisplay/>
