<script context="module">
    export async function preload({ query }) {
        const { source } = query;
        return { source };
    }
</script>

<script>
    import { NotificationDisplay } from '@beyonk/svelte-notifications';
    import Header from '../../_components/Header.svelte';
    import IIIFImporterFlow from './_components/IIIFImporterFlow.svelte';

    export let source;
</script>

<Header/>
<IIIFImporterFlow {source}/>
<NotificationDisplay/>
