<script context="module">
    export async function preload({ query }) {
        const { _id: bookId } = query;
        return { bookId };
    }
</script>

<script>
    import { onMount } from 'svelte';
    import { objstore } from '@vedavaapi/client';
    import { _ } from 'svelte-i18n';
    import { Circle } from 'svelte-loading-spinners';

    import { vc } from '../../../context-stores';

    import FetchErrorReport from '../../../components/FetchErrorReport.svelte';
    import Header from '../../_components/Header.svelte';
    import BookUpserterFlow from './_components/BookUpserterFlow.svelte';

    export let bookId;
    let bookPromise;

    async function getBook() {
        bookPromise = objstore.Resource.get({
            vc: $vc,
            params: { resource_id: bookId, projection: { hierarchy: 0 } },
        }).then((resp) => resp.data);
    }

    onMount(() => {
        if (!bookId) return;
        getBook();
    });
</script>


<Header/>

<div class="container">
    {#if !bookId}
        <div class="fc no-book">{$_('actions.upsert-res.invalid-res-id', { values: { c: $_('g.book') } })}</div>
    {:else if bookPromise}
        <div class="resp">
            {#await bookPromise}
                <div class="fc resp__loading">
                    <Circle
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    {$_('actions.upsert-book.fetching-book')}...
                </div>
            {:then book}
                {#if book.resolvedPermissions.updateContent}
                    <div class="upserter">
                        <BookUpserterFlow
                            currentBook="{book}"
                            mode="update"
                        />
                    </div>
                {:else}
                     <div class="fc np-perms">
                         {$_('g.no-perms-for', { values: { a: $_('actions.upsert-res.updating-res', { values: { c: $_('g.book') } }) } })}
                     </div>
                {/if}
            {:catch error}
                <div class="fc resp__error">
                    <FetchErrorReport
                        action="{$_('actions.upsert-book.fetching-book')}"
                        { error }
                        on:retry="{getBook}"
                    />
                </div>
            {/await}
        </div>
    {/if}
</div>


<style>

    .container {
        width: 100%;
    }

    .fc {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 3.7em);
    }

    .no-book {
        color: var(--c-st-err-red);
    }

    .resp {
        width: 100%;
    }

    .resp__loading {
        flex-direction: column;
    }

    .upserter {
        width: 100%;
    }

</style>
