<script context="module">
    export async function preload({ query }) {
        const { _id: libraryId } = query;
        return { libraryId };
    }
</script>

<script>
    import { _ } from 'svelte-i18n';

    import { getLibraryFormSchema } from './_components/schemas/library';
    import ResUpdater from './_components/ResUpdater.svelte';

    export let libraryId;

    $: formSchema = getLibraryFormSchema($_, 'update');
</script>

<ResUpdater
    resId="{libraryId}"
    classLabel="{$_('g.library')}"
    {formSchema}
/>
