<script context="module">
    export async function preload({ query }) {
        const { _id: teamId } = query;
        return { teamId };
    }
</script>

<script>
    import { onMount } from 'svelte';
    import { accounts } from '@vedavaapi/client';
    import { _ } from 'svelte-i18n';
    import { Circle } from 'svelte-loading-spinners';

    import { vc } from '../../../context-stores';

    import FetchErrorReport from '../../../components/FetchErrorReport.svelte';
    import Header from '../../_components/Header.svelte';
    import TeamUpserterFlow from './_components/TeamUpserterFlow.svelte';

    export let teamId;
    let teamPromise;

    async function getTeam() {
        teamPromise = accounts.teams.Team.get({
            vc: $vc,
            params: { team_identifier: teamId, projection: { hierarchy: 0, members: 0 } },
        }).then((resp) => {
            // console.log(resp.data);
            return resp.data;
        });
    }

    onMount(() => {
        if (!teamId) return;
        getTeam();
    });
</script>


<Header/>

<div class="container">
    {#if !teamId}
        <div class="fc no-team">Invalid team id</div>
    {:else if teamPromise}
        <div class="resp">
            {#await teamPromise}
                <div class="fc resp__loading">
                    <Circle
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    {$_('actions.upsert-team.fetching-team')}...
                </div>
            {:then team}
                {#if team.resolvedPermissions.updateContent}
                    <div class="upserter">
                        <TeamUpserterFlow
                            currentTeam="{team}"
                            mode="update"
                        />
                    </div>
                {:else}
                     <div class="fc np-perms">
                         {$_('g.no-perms-for', { values: { a: $_('actions.upsert-team.updating-team') } })}
                     </div>
                {/if}
            {:catch error}
                <div class="fc resp__error">
                    <FetchErrorReport
                        action="{$_('actions.upsert-team.fetching-team')}"
                        { error }
                        on:retry="{getTeam}"
                    />
                </div>
            {/await}
        </div>
    {/if}
</div>


<style>

    .container {
        width: 100%;
    }

    .fc {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 3.7em);
    }

    .no-team {
        color: var(--c-st-err-red);
    }

    .resp {
        width: 100%;
    }

    .resp__loading {
        flex-direction: column;
    }

    .upserter {
        width: 100%;
    }

</style>
