<script>
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';

    export let action = '';

    const dispatch = createEventDispatcher();
</script>



<div class="container">

    <div class="header">
        <div class="header__title">
            {$_('g.confirm')}
        </div>
    </div>
    
    <div class="confirmation">
        <div class="confirmation__text">
            {@html $_('g.are-you-sure-to', { values: { a: action } })}
        </div>
        <div class="confirmation__actions">
            <button on:click="{() => dispatch('cancel')}">{$_('forms.cancel')}</button>
            <button on:click="{() => dispatch('confirm')}">{$_('g.confirm')}</button>
        </div>
    </div>

</div>


<style>

    .container {
        font-size: 0.8rem;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .header {
        background-color: var(--c-sd);
        color: var(--c-p);
        display: grid;
        grid-template-columns:1fr 1rem;
        padding: 0 0.3rem 0 1.3rem;
        font-size: 0.9rem;
        min-height: 1.3rem;
        align-content: center;
        justify-items: center;
        justify-content: center;
        border-top-left-radius: var(--mhdr-btlr, 0em);
        border-top-right-radius: var(--mhdr-btrr, 0em);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .confirmation {
        display: grid;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: var(--mbd-bg, var(--c-p));
        gap: 1em;
        border-bottom-left-radius: var(--mgo-bblr, 0em);
        border-bottom-right-radius: var(--mhdr-btrr, 0em);
    }

    .confirmation__text {
        text-align: center;
        color: var(--c-st-err-red);
        font-weight: bold;
    }

    .confirmation__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

</style>
