<script>
    import delve from 'dlv';
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';
    // import { FetchError } from '@vedavaapi/web';

    export let status = '';
    export let error;
    export let action = 'Fetching';
    export let shouldAllowRetry = true;
    export let retryLabel = $_('g.retry');

    let message = '';
    const updateMessage = () => {
        if (!error) message = '';
        message = error.networkError ? $_('g.network-error') : delve(error, 'response.data.message') || error.message || '';
    };

    // eslint-disable-next-line no-unused-expressions
    $: error && updateMessage();

    const dispatch = createEventDispatcher();

    const requestRetry = () => dispatch('retry');
</script>


<div class="container">
    <div class="error">
        <div class="error__status">
            { status || $_('g.error-when', { values: { a: action } }) }
        </div>
        <div class="error__message">
            {message}
        </div>
    </div>
    {#if shouldAllowRetry}
        <button type="button" class="retry" on:click="{requestRetry}">
        <svg class="kicon retry-icon">
            <use xlink:href="symbol-defs.svg#icon-reload"></use>
        </svg>
        {retryLabel}
    </button>
    {/if}
</div>



<style>

    .container {
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 0.3rem;
        height: 100%;
        width: 100%;
    }

    .error__status {
        text-align: center;
        font-size: 0.8rem;
    }

    .error__message{
        text-align: center;
        font-size: 0.7rem;
        color: indianred;
    }

    .retry {
        display: block;
        font-size: 0.7rem;
    }

    .retry-icon {
        position: relative;
        top: 0.1rem;
    }

</style>
