<script>

    export let text;

    export let href;

    export let rel = 'noreferrer';

    export let target = '_self';

    export let iconDefs = 'symbol-defs.svg';

    export let iconClass = 'link';
    export let imageURL = null;
</script>


<a {href} {target} {rel}>
    {#if imageURL}
        <img src="{imageURL}" alt="{text}">
    {:else}
        <svg class="kicon">
            <use xlink:href="{iconDefs}#icon-{iconClass}"></use>
        </svg>
    {/if}
    { text }
</a>


<style>

    a {
        display: inline-block;
        color: inherit;
    }

    a:hover {
        text-decoration: none;
    }

    svg {
        vertical-align: text-top;
    }

    img {
        max-height: 1em;
        display: inline-block;
    }

</style>
