<script>
    import { createEventDispatcher } from 'svelte';


    export let loadingPromise;
    export let exhausted = true;
    const dispatch = createEventDispatcher();
</script>


<div class="load-more" class:hidden="{exhausted}">
    
        <button type="button" class="load-more__button reset__button" class:hidden="{nextPageError || nextPageInProgress}" on:click="{nextPage}">
            Load more...
        </button>
        <div class="load-more__status--loading" class:hidden="{!nextPageInProgress}">Loading...</div>
        <div class="load-more__status-error" class:hidden="{!nextPageError}">
            <FetchErrorReport
                action="searching"
                on:retry="{nextPage}"
                error="{nextPageError}"
            />
        </div>
    </div>
