<script>
    import focusLock from 'dom-focus-lock';

    import { onMount } from 'svelte';

    export let visible = false;
    let rootNode;

    onMount(() => {
        focusLock.on(rootNode);
        return () => focusLock.off(rootNode);
    });
</script>


<div class="modal" class:hidden="{!visible}" bind:this="{rootNode}">

    <div class="modal-content">
        <slot>
            Namaste
        </slot>
    </div>

</div>


<style>

    .modal {
        position: fixed; 
        padding: 0.7rem;
        left: 0; 
        top: 0;
        width: 100vw;
        height: 100vh; 
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        font-size: 1rem;
    }
    
    .modal-content {
        position: relative; 
        /* background-color: white;
        padding: 20px; */
        margin: auto; 
        max-width: var(--content-max-width, 75%);
        width: var(--content-width, auto);
        height: var(--content-height, auto);  
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

</style>
