<script>
    import { _ } from 'svelte-i18n';
    import * as animateScroll from 'svelte-scrollto';

    let isHovering = false;
    let buttonEnd;

    function onMouseOver(e) {
        isHovering = true;
        e.path.some((elem) => {
            if (elem.tagName === 'BUTTON') {
                buttonEnd = elem.getAttribute('data-end');
                return true;
            }
            return false;
        });
    }

    function onMouseOut() {
        isHovering = false;
        buttonEnd = null;
    }
</script>

<div class="container" on:mouseover="{onMouseOver}" on:mouseout="{onMouseOut}" class:container-hovered="{isHovering}">
    <button type="button" class="reset__button top" on:click="{() => animateScroll.scrollToTop()}" data-end="top" class:active="{buttonEnd === 'top'}" title="{$_('g.to-top-end')}">
        <span>{$_('g.to-top-end')}</span>
        <svg class="kicon delete-icon">
            <use xlink:href="symbol-defs.svg#icon-arrow-thick-up"></use>
        </svg>
    </button>
    <button type="button" class="reset__button bottom" on:click="{() => animateScroll.scrollToBottom()}" data-end="bottom" class:active="{buttonEnd === 'bottom'}" title="{$_('g.to-bottom-end')}">
        <span>{$_('g.to-bottom-end')}</span>
        <svg class="kicon delete-icon">
            <use xlink:href="symbol-defs.svg#icon-arrow-thick-down"></use>
        </svg>
    </button>
</div>

<style>
    .container {
        position: fixed;
        right: 0;
        top: calc(50vh - 1.5em - 2px);
        background-color: transparent;
        list-style-type: none;
        padding: 0;
        z-index: 1040;
    }

    .top {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        margin-bottom: 1px;
    }

    .bottom {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 1px;
    }

    button {
        background-color: var(--c-contrast2);
        display: block;
        text-align: end;
        height: 2em;
        padding: 0.4em;
        width: 100%;
        border: 1px solid var(--c-onpxl);
        color: var(--c-onp-hd);
    }

    .active {
        background-color: var(--c-surface);
    }

    span {
        display: none;
        font-size: 0.7em;
    }

    .container-hovered span {
        display: inline-block;
    }
</style>
