<script>

    import { debounce } from 'throttle-debounce';
    import { createEventDispatcher } from 'svelte';

    import { ORD_ASC } from '../constants';

    import SortBy from './SortBy.svelte';
    
    export let query = {};
    export let sortKeys;
    export let sortBy = sortKeys && sortKeys.length ? sortKeys[0].id : undefined; // initialize with default, to prevent firing again
    export let sortOrder = ORD_ASC;

    export let queryHint = 'Search';

    const dispatch = createEventDispatcher();

    const dispatchSearchEvent = debounce(500, () => {
        // console.log('search');
        dispatch('search');
    });

    // $: console.log({ query, sortBy, sortOrder });
    // eslint-disable-next-line no-unused-expressions
    $: query.value, dispatchSearchEvent();

    // eslint-disable-next-line no-unused-expressions
    $: sortBy && sortOrder && dispatchSearchEvent();
</script>


<div class="container">
    <div class="query">
        <input bind:value="{query.value}" placeholder="{queryHint}" class="query__box"/>
    </div>
    <div class="sorter">
        <SortBy bind:by="{sortBy}" bind:order="{sortOrder}" keys="{sortKeys}"/>
    </div>
</div>

<style>

    .container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: stretch;
        gap: 0.3rem;
        font-size: 0.8rem;
    }

    .query__box {
        width: 100%;
        height: 1.3rem;
        padding: 0.3rem;
    }

    .sorter {
        border: 1px dotted grey;
    }

</style>
