<script>

    import { ORD_ASC, ORD_DESC } from '../constants';

    export let keys = [];

    export let order = ORD_ASC;

    export let by = keys.length ? keys[0].id : null;

    const toggleOrder = () => {
        order = (order === ORD_ASC ? ORD_DESC : ORD_ASC);
    };

    // $: console.log({ selectedKey });
</script>


<div class="container">
    <div class="key">
        <select bind:value={by} class="key-select">
            {#each keys as key(key.id)}
                 <option value="{key.id}">{key.label}</option>
            {/each}
        </select>
    </div>
    <div class="order">
        <button type="button" class="reset__button" on:click="{toggleOrder}" title="Toggle Sort Order">
            <svg class="kicon delete-icon" title="{ order === ORD_ASC ? 'Ascending' : 'Descending' }">
                <use xlink:href="symbol-defs.svg#icon-cheveron-outline-{order === ORD_ASC ? 'up' : 'down'}"></use>
            </svg>
        </button>
    </div>
</div>


<style>

    .container {
        display: grid;
        grid-template-columns: auto 2rem;
        width: 100%;
        height: 100%;;
        align-content: center;
        align-items: center;
    }

    .key {
        height: 100%;
    }

    .key-select {
        width: 100%;
        height: 100%;
        background-color: inherit;
        border: none;
        margin-right: 0.3rem;
        vertical-align: super; /* TODO keep note of*/
    }

    .order {
        padding: 0 0.3rem 0 0.3rem;
        border-left: 2px solid gray;
        text-align: center;
    }

    .order:focus-within {
        border: 0.05em solid silver;
    }

</style>
