<script>
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';

    import { STATUS_PROGRESS, STATUS_SUCCESS, STATUS_FAILURE } from '../constants';
    import { toSentenseCase } from '../utils';

    import FetchErrorReport from './FetchErrorReport.svelte';

    export let status = STATUS_PROGRESS;

    export let action = '';

    export let error = '';
    export let shouldAllowRetry = true;
    export let retryLabel = 'Retry';

    const dispatch = createEventDispatcher();

    const requestClose = () => dispatch('close-request');

    const requestRetry = () => dispatch('retry-request');
</script>



<div class="container">

    <div class="header">
        <div class="header__title">
            {$_('g.op-status')}
        </div>
        <button type="button" class="close reset__button" title="Close" on:click="{requestClose}" class:hidden="{![STATUS_SUCCESS, STATUS_FAILURE].includes(status)}">
            <svg class="kicon close-selector-icon">
                <use xlink:href="symbol-defs.svg#icon-close-outline"></use>
            </svg>
        </button>
    </div>
    
    <div class="status">
        <div class="status__progress" class:hidden="{status !== STATUS_PROGRESS}">
            {$_('g.in-progress')}.... <br>
            { action }
        </div>
        <div class="status__success" class:hidden="{status !== STATUS_SUCCESS}">
            { $_('g.success-in', { values: { a: toSentenseCase(action) } }) }
        </div>
        <div class="status__failure" class:hidden="{status !== STATUS_FAILURE}">
            {#if typeof error === 'string'}
                 { $_('g.error-when', { values: { a: toSentenseCase(action) } }) }
            {:else if error}
                <FetchErrorReport
                    {action}
                    {error}
                    {shouldAllowRetry}
                    {retryLabel}
                    on:retry="{requestRetry}"
                />
            {/if}
        </div>
    </div>

    <div class="commit" class:hidden="{![STATUS_SUCCESS, STATUS_FAILURE].includes(status)}">
        <button type="button" class="commit__do reset__button " on:click="{requestClose}">{$_('g.close').toUpperCase()}</button>
    </div>

</div>


<style>

    .container {
        font-size: 0.8rem;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .header {
        background-color: var(--c-sd);
        color: var(--c-p);
        display: grid;
        grid-template-columns:1fr 1rem;
        padding: 0 0.3rem 0 1.3rem;
        font-size: 0.9rem;
        min-height: 1.3rem;
        align-content: center;
        justify-items: center;
        justify-content: center;
        border-top-left-radius: var(--mhdr-btlr, 0em);
        border-top-right-radius: var(--mhdr-btrr, 0em);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .status {
        display: grid;
        align-content: center;
        align-items: center;
        background-color: var(--mbd-bg, var(--c-p));
    }

    .status__success, .status__progress, .status__progress {
        text-align: center;
    }

    .commit {
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--c-action-bar);
        justify-items: stretch;
        padding: 0.2rem;
        border-bottom-left-radius: var(--mgo-bblr, 0em);
        border-bottom-right-radius: var(--mhdr-btrr, 0em);
    }

    .commit__do {
        text-align: center;
        text-transform: uppercase;
    }

</style>
