<script>
  export let checked = false;
  export let disabled = false;
  // export let color = "#2196F3";
</script>

<style>
  .switch {
    position: relative;
    display: inline-block;
    /*width: 60px;
    height: 34px;*/
    height: 1.2em;
    width: 2.2em;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sw-unchecked, #ccc);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1.2em;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 0.8em;
    width: 0.8em;
    left: 0.3em;
    bottom: 0.2em;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: var(--sw-checked, #2196f3);
  }

  input:checked + .slider {
    box-shadow: 0 0 1px var(--sw-checked, #2196f3);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(0.8em);
    -ms-transform: translateX(0.8em);
    transform: translateX(0.8em);
  }
</style>

<label class="switch">
  <input type="checkbox" bind:checked {disabled}/>
  <span class="slider" />
</label>
