<script>

    import { AclControl } from '@vedavaapi/acls/dist/controls';

    import { createEventDispatcher } from 'svelte';

    import ResInfo from '../ResInfo.svelte';
    import AgentMembersSet from '../../agents/AgentMembersSet.svelte';
    import ActionsSelector from './ActionsSelector.svelte';


    export let res;
    
    export let agentsSet;

    export let agentsGraph;

    export let selectedActions;

    export let control;

    export let method = 'post';

    const controlLabels = {
        [AclControl.GRANT]: 'grant',
        [AclControl.BLOCK]: 'block',
        [AclControl.REVOKE]: 'revoke-inh',
    };

    const dispatch = createEventDispatcher();

    const getControlLabel = () => `${method === 'post' ? '' : 'un '}${controlLabels[control]}`;

    const requestClose = () => dispatch('close-request');

    const requestCommit = () => dispatch('commit-request');
</script>


<div class="container">

    <div class="header">
        <div class="res-info">
            <ResInfo
                {res}
            />
        </div>
        <button type="button" class="close reset__button" title="Close acl updater" on:click="{requestClose}">
            <svg class="kicon close-updater-icon">
                <use xlink:href="symbol-defs.svg#icon-close-outline"></use>
            </svg>
        </button>
    </div>

    <div class="updater">
        <div class="actions">
            <h5 class="actions__title">Actions</h5>
            <div class="actions__selector">
                <ActionsSelector
                    bind:selectedActions
                />            
            </div>
        </div>

        <div class="seperator"></div>

        <div class="agents-set">
            <AgentMembersSet
                {agentsSet}
                {agentsGraph}
                agentsAnchorTarget="_blank"
                on:add-members-request
            />
        </div>
    </div>


    <div class="commit">
        <button type="button" class="commit__do reset__button " on:click="{requestCommit}">{getControlLabel()}</button>
    </div>

</div>


<style>

    .container {
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .header {
        background-color: var(--c-sd);
        color: var(--c-p);
        display: grid;
        grid-template-columns:1fr 1rem;
        padding: 0 0.3rem 0 1.3rem;
        border-top-left-radius: var(--mhdr-btlr, 0em);
        border-top-right-radius: var(--mhdr-btrr, 0em);
    }

    .updater {
        display: grid;
        grid-template-columns: minmax(auto, 10rem) 0.1rem minmax(auto, 15rem);
        font-size: 0.8rem;
        gap: 0.5rem;
        justify-content: center;
        justify-items: stretch;
        padding: 0.3rem;
        overflow: auto;
        background-color: var(--mbd-bg, var(--c-p));
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .actions {
    }

    .actions__title {
        margin: 0rem;
        background-color: var(--c-sep);
        height: 1.8rem;
        display: flex;
        align-items: center;
        padding: 0.3rem;
        padding-top: 0.8rem;
        color: var(--c-onp-hd);
    }

    .actions__selector {
        margin-left: 0.5rem;
    }

    .seperator {
        border-right: 4px dotted var(--c-sep);
    }

    .agents-set {
        max-height: 100%;
        overflow: auto;
    }

    .commit {
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--c-sep);
        justify-items: stretch;
        padding: 0.2rem;
        border-bottom-left-radius: var(--mgo-bblr, 0em);
        border-bottom-right-radius: var(--mhdr-btrr, 0em);
    }

    .commit__do {
        text-align: center;
        text-transform: uppercase;
    }

</style>
