<script>
    // TODO use xstate machine for flow instead

    import { acls } from '@vedavaapi/client';
    import { AclAgentType, AclAgentTypes } from '@vedavaapi/acls/dist/agent-types';

    import { createEventDispatcher } from 'svelte';

    import { STATUS_PENDING, STATUS_PROGRESS, STATUS_SUCCESS, STATUS_FAILURE } from '../../../../../constants';

    import AclUpdater from './AclUpdater.svelte';
    import MultiAgentsSelectorUi from '../../agents/MultiAgentsSelectorUi.svelte';
    import StatusScreen from '../../../../../components/StatusScreen.svelte';


    const ACL_UPDATER_SCREEN = 'acl-updater';
    const AGENTS_SELECTOR_SCREEN = 'agents-selector';
    const OP_STATUS_SCREEN = 'status';

    export let openingScreen = ACL_UPDATER_SCREEN;
    // let agentsSelectorInvoked = openingScreen === AGENTS_SELECTOR_SCREEN; // initialize flag, to lazy load agents only if required
    let currentScreen = openingScreen;

    // following are proxies ffor AclUpdater
    export let res;
    export let agentsGraph = {};
    export let selectedAgentMembersSet = {
        [AclAgentType.USERS]: [],
        [AclAgentType.TEAMS]: [],
    };
    export let selectedActions;
    export let control;
    export let method = 'post';

    export let vc;
    let agentsSetUpdate;
    let cumulativeAgentsCache;

    const dispatch = createEventDispatcher();

    let opStatus = STATUS_PENDING;
    let opError;
    let updatedAcl;


    const mergeSlectedMembersUpdate = () => {
        if (!agentsSetUpdate) return;
        AclAgentTypes.forEach((agentType) => {
            const newAgentsSelection = agentsSetUpdate[agentType];
            const cumulativeCache = cumulativeAgentsCache[agentType];

            if (!newAgentsSelection || !cumulativeCache) return;
            if (!selectedAgentMembersSet[agentType]) {
                selectedAgentMembersSet[agentType] = [];
            }

            Object.keys(newAgentsSelection).forEach((agentId) => {
                if (!newAgentsSelection[agentId]) return;
                if (!selectedAgentMembersSet[agentType].includes(agentId)) {
                    selectedAgentMembersSet[agentType].push(agentId);
                }
                agentsGraph[agentId] = cumulativeCache[agentId];
            });
            selectedAgentMembersSet[agentType] = selectedAgentMembersSet[agentType];
        });
    };

    const updateAcl = async () => {
        opStatus = STATUS_PROGRESS;
        // console.log({ selectedActions });
        let resp;
        try {
            resp = await acls.Acls[method]({
                vc,
                params: {
                    resource_id: res._id,
                },
                data: {
                    actions: selectedActions,
                    control,
                    user_ids: selectedAgentMembersSet[AclAgentType.USERS] || [],
                    team_ids: selectedAgentMembersSet[AclAgentType.TEAMS] || [],
                },
            });
        } catch (e) {
            opError = e;
            opStatus = STATUS_FAILURE;
            return;
        }
        opStatus = STATUS_SUCCESS;
        updatedAcl = resp.data;
    };


    /*
        Following are state transition methods, which can be refactored to xstate FSM
    */
    const requestClose = () => {
        const opDirectives = {
            resId: res._id,
            actions: selectedActions,
            control,
            method,
            userIds: selectedAgentMembersSet[AclAgentType.USERS],
            teamIds: selectedAgentMembersSet[AclAgentType.TEAMS],
        };
        dispatch('close-request', {
            opStatus,
            opDirectives,
            updatedAcl,
        });
    };

    const onAclUpdaterClose = () => {
        requestClose();
    };

    const onAclUpdaterCommit = () => {
        updateAcl();
        currentScreen = OP_STATUS_SCREEN;
    };

    const onAclUpdaterAddMembersRequest = () => {
        agentsSetUpdate = { [AclAgentType.USERS]: {}, [AclAgentType.TEAMS]: {} };
        currentScreen = AGENTS_SELECTOR_SCREEN;
    };

    const onAgentsSelectorClose = () => {
        if (openingScreen === AGENTS_SELECTOR_SCREEN) {
            requestClose();
            return;
        }
        currentScreen = ACL_UPDATER_SCREEN;
    };

    const onAgentsSelectorCommit = () => {
        mergeSlectedMembersUpdate();
        currentScreen = ACL_UPDATER_SCREEN;
        if (openingScreen === AGENTS_SELECTOR_SCREEN) {
            // set to normal position, from special case
            openingScreen = ACL_UPDATER_SCREEN;
        }
    };

    const onStatusClose = () => {
        requestClose();
    };

    const onStatusFailureRetry = () => {
        updateAcl();
    };
</script>


<div class="container">

    <div class="screen acl-updater" class:hidden="{currentScreen !== ACL_UPDATER_SCREEN}">
        <AclUpdater
            {res}
            agentsSet="{selectedAgentMembersSet}"
            {agentsGraph}
            bind:selectedActions
            {control}
            {method}
            on:close-request="{onAclUpdaterClose}"
            on:commit-request="{onAclUpdaterCommit}"
            on:add-members-request="{onAclUpdaterAddMembersRequest}"
        />
    </div>

    <div class="screen agents-selector" class:hidden="{currentScreen !== AGENTS_SELECTOR_SCREEN}">
        <MultiAgentsSelectorUi
            {vc}
            agentsAnchorTarget="_blank"
            bind:selectedAgentsSet="{agentsSetUpdate}"
            bind:cumulativeAgentsCache
            on:close-request="{onAgentsSelectorClose}"
            on:commit-request="{onAgentsSelectorCommit}"
        />
    </div>

    <div class="screen status" class:hidden="{currentScreen !== OP_STATUS_SCREEN}">
        <StatusScreen
            status="{opStatus}"
            action="updating acl"
            error="{opError}"
            on:close-request="{onStatusClose}"
            on:commit-request="{onStatusFailureRetry}"
        />
    </div>

</div>


<style>

    .container {
        height: 100%;
    }

    .screen {
        height: 100%
    }

</style>
