<script>

    import { AclAction, AclActions, AclActionLabels } from '@vedavaapi/acls/dist/actions';

    export let selectedActions = [];
</script>


<form class="actions">
    <ul class="actions-list">
        {#each AclActions as action(action)}
            <li class="action">
                <label>
                    <input type="checkbox" bind:group="{selectedActions}" value="{action}">
                    <span>{AclActionLabels[action]}</span>
                </label>
            </li>
        {/each}
    </ul>
</form>


<style>

    .actions-list {
        list-style: none;
        padding: 0.3rem;
        margin-top: 0.5rem;
    }

</style>
