<script>
    // TODO use xstate machine for flow instead

    import { accounts } from '@vedavaapi/client';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    import { _ } from 'svelte-i18n';

    import { createEventDispatcher } from 'svelte';

    import { STATUS_PENDING, STATUS_PROGRESS, STATUS_SUCCESS, STATUS_FAILURE } from '../../../../constants';

    import MultiAgentsSelectorUi from '../../_components/agents/MultiAgentsSelectorUi.svelte';
    import StatusScreen from '../../../../components/StatusScreen.svelte';

    const AGENTS_SELECTOR_SCREEN = 'agents-selector';
    const OP_STATUS_SCREEN = 'status';

    let currentScreen = AGENTS_SELECTOR_SCREEN;

    export let vc;
    export let teamId;
    let agentsSetUpdate;
    let cumulativeAgentsCache;

    const dispatch = createEventDispatcher();

    let opStatus = STATUS_PENDING;
    let opError;

    const addMembers = async () => {
        opStatus = STATUS_PROGRESS;
        // console.log({ selectedActions });
        const usersSelection = agentsSetUpdate[AclAgentType.USERS] || {};
        const selectedUserIds = Object.keys(usersSelection).filter((k) => usersSelection[k]);
        if (!selectedUserIds.length) {
            opStatus = STATUS_SUCCESS;
            return;
        }

        try {
            await accounts.teams.TeamMembers.post({
                vc,
                params: { team_identifier: teamId },
                data: { member_identifiers: selectedUserIds },
            });
        } catch (e) {
            opError = e;
            opStatus = STATUS_FAILURE;
            return;
        }
        opStatus = STATUS_SUCCESS;
    };

    /*
        Following are state transition methods, which can be refactored to xstate FSM
    */
    const requestClose = () => {
        dispatch('close-request', {
            opStatus,
        });
    };

    const onAgentsSelectorClose = () => {
        requestClose();
    };

    const onAgentsSelectorCommit = () => {
        addMembers();
        currentScreen = OP_STATUS_SCREEN;
    };

    const onStatusClose = () => {
        requestClose();
    };

    const onStatusFailureRetry = () => {
        addMembers();
    };
</script>


<div class="container">

    <div class="screen agents-selector" class:hidden="{currentScreen !== AGENTS_SELECTOR_SCREEN}">
        <MultiAgentsSelectorUi
            {vc}
            agentsAnchorTarget="_blank"
            bind:selectedAgentsSet="{agentsSetUpdate}"
            bind:cumulativeAgentsCache
            on:close-request="{onAgentsSelectorClose}"
            on:commit-request="{onAgentsSelectorCommit}"
            commitLabel="{$_('teams.add-members-short')}"
            title="{$_('g.select-users')}"
            allowedAgentTypes="{[AclAgentType.USERS, AclAgentType.TEAMS]}"            
        />
    </div>

    <div class="screen status" class:hidden="{currentScreen !== OP_STATUS_SCREEN}">
        <StatusScreen
            status="{opStatus}"
            action="{$_('teams.adding-members')}"
            error="{opError}"
            on:close-request="{onStatusClose}"
            on:commit-request="{onStatusFailureRetry}"
        />
    </div>

</div>


<style>

    .container {
        height: 100%;
    }

    .screen {
        height: 100%
    }

</style>
