<script>
    import { _ } from 'svelte-i18n';

    import TeamUpserterFlow from '../../../vihari/actions/_components/TeamUpserterFlow.svelte';

    export let parentTeamId;

    $: currentTeam = parentTeamId ? { source: parentTeamId } : {};
</script>


<div class="container">
    <div class="tb">
        {$_(`teams.creating-${parentTeamId ? 'sub-' : ''}team`)}
    </div>
    <div class="main">
        <TeamUpserterFlow
            { currentTeam }
            mode="create"
            showClose="{true}"
            on:close-request
        />
    </div>
</div>


<style>
    .container {
        max-width: 55.8em;
        margin: 0 auto;
        padding: 0.5em;
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;
    }

    .tb {
        background-color: var(--c-sd);
        color: var(--c-p);
        display: grid;
        grid-template-columns:1fr 1rem;
        padding: 0 0.3rem 0 1.3rem;
        font-size: 0.9rem;
        min-height: 1.3rem;
        align-content: center;
        justify-items: center;
        border-top-left-radius: var(--mhdr-btlr, 0em);
        border-top-right-radius: var(--mhdr-btrr, 0em);
    }

    .main {
        background-color: var(--mbd-bg, var(--c-p));
        padding: 0.3em;
        width: 100%;
        border-bottom-left-radius: var(--mgo-bblr, 0em);
        border-bottom-right-radius: var(--mhdr-btrr, 0em);
    }
</style>
