<script>
    import { _ } from 'svelte-i18n';
    import { tick, onMount } from 'svelte';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    
    import { STATUS_SUCCESS, STATUS_FAILURE } from '../../../../constants';
    import Modal from '../../../../components/Modal.svelte';
    import AgentsSelector from '../../_components/agents/AgentsSelector.svelte';

    import AddMembersFlow from './AddMembersFlow.svelte';
    import RemoveMembersFlow from './RemoveMembersFlow.svelte';
    import NewUserFlow from './NewUserFlow.svelte';

    export let teamId;
    export let resolvedPermissions;
    export let vc;

    export let usersExpanded = false;
    let expandedOnce = false;
    let usersSelection = {};
    let selectedUserIds = [];
    let usersGraph = {};

    let isMounted = false;

    function toggleNestedUsers() {
        usersExpanded = !usersExpanded;
    }

    function onSelectionChange() {
        selectedUserIds = Object.keys(usersSelection).filter((k) => usersSelection[k]);
    }

    let addMembersFlowActive = false;
    let removeMembersFlowActive = false;
    let newUserFlowActive = false;

    async function refreshMembersIfUpdated(detail) {
        const { opStatus } = detail || {};
        if (opStatus === STATUS_SUCCESS) {
            expandedOnce = false;
            await tick;
            expandedOnce = true;
        }
    }

    function onAddMembersFlowClose({ detail }) {
        addMembersFlowActive = false;
        refreshMembersIfUpdated(detail);
    }

    function onRemoveMembersFlowClose({ detail }) {
        removeMembersFlowActive = false;
        if (detail.opStatus === STATUS_SUCCESS) {
            usersSelection = {};
            selectedUserIds = [];
        }
        refreshMembersIfUpdated(detail);
    }

    function onNewUserFlowClose({ detail }) {
        newUserFlowActive = false;
        refreshMembersIfUpdated({ opStatus: detail.user ? STATUS_SUCCESS : STATUS_FAILURE });
    }

    onMount(() => {
        isMounted = true;
    });

    // eslint-disable-next-line no-unused-expressions
    $: usersSelection && onSelectionChange();
    // eslint-disable-next-line no-unused-expressions
    $: usersExpanded && isMounted && (expandedOnce = true);
</script>


<div class="container">
    <div class="tb" class:tb__expanded="{usersExpanded}">
        <button type="button" class="tb__toggle" class:tb__toggle-expanded="{usersExpanded}" on:click="{toggleNestedUsers}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-list-bullet"></use>
            </svg>
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-cheveron-{usersExpanded ? 'down' : 'right'}"></use>
            </svg>
        </button>
        <span class="tb__label">{ $_('teams.team-members') }</span>
        <div class="tb__actions">
            {#if (!resolvedPermissions || resolvedPermissions.updateContent)}
                <button type="button" class="action--add" on:click="{() => { addMembersFlowActive = true; }}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-list-add"></use>
                    </svg>
                    { $_('teams.add-members-short') }
                </button>
                <button type="button" class="action--remove" class:hidden="{!selectedUserIds || !selectedUserIds.length || !usersExpanded}" on:click="{() => { removeMembersFlowActive = true; }}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-minus-outline"></use>
                    </svg>
                    { $_('teams.remove-members-short') }
                </button>
                <button type="button" class="action--new" on:click="{() => { newUserFlowActive = true; }}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-user-add"></use>
                    </svg>
                    { $_('teams.new-user-short') }
                </button>
            {/if}
        </div>
    </div>

    <div class="members-selector" class:hidden="{!usersExpanded}">
        {#if expandedOnce}
            <AgentsSelector
                agentsAnchorTarget="_blank"
                agentsType="{AclAgentType.USERS}"
                bind:usersSelection
                bind:cumulativeUsersCache="{usersGraph}"
                { vc }
                membersQuery="{true}"
                teamId="{teamId}"
            />
        {/if}
    </div>
</div>


<div class="modal-wrapper">
    {#if addMembersFlowActive}
        <Modal visible="{true}">
            <div class="modal-content-wrapper">
                <AddMembersFlow
                    on:close-request="{onAddMembersFlowClose}"
                    teamId="{teamId}"
                    {vc}
                />
            </div>
        </Modal>
    {/if}
</div>


<div class="modal-wrapper">
    {#if removeMembersFlowActive}
        <Modal visible="{true}">
            <div class="modal-content-wrapper">
                <RemoveMembersFlow
                    on:close-request="{onRemoveMembersFlowClose}"
                    teamId="{teamId}"
                    userIds="{selectedUserIds}"
                    {vc}
                />
            </div>
        </Modal>
    {/if}
</div>


<div class="modal-wrapper">
    {#if newUserFlowActive}
        <Modal visible="{true}">
            <div class="modal-content-wrapper new-user-modal-content">
                <NewUserFlow
                    on:close-request="{onNewUserFlowClose}"
                    initialTeamId="{teamId}"
                    {vc}
                />
            </div>
        </Modal>
    {/if}
</div>


<style>
    .modal-wrapper {
        --content-max-width: 32rem;
        --content-height: 75vh;
    }

    .modal-content-wrapper {
        height: 100%;
        --mhdr-btrr: 0.5em;
        --mhdr-btlr: 0.5em;
        --mgo-bblr: 0.5em;
        --mgo-bbrr: 0.5em;
    }

    .new-user-modal-content {
        height: auto;
    }

    .container {
        max-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .tb {
        background-color: var(--c-surface);
        border-top-left-radius: var(--tb-btr, 0em);
        border-top-right-radius: var(--tb-btr, 0em);
        border-bottom-left-radius: var(--tb-bbr, 0em);
        border-bottom-right-radius: var(--tb-bbr, 0em);

        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: stretch;
        justify-content: space-between;
    }

    .tb__expanded {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    .tb__toggle {
        border: var(--c-tb-t-bordeer, 1px solid var(--c-onpxl));
        border-top-left-radius: var(--tb-btr, 0em);
        border-bottom-left-radius: var(--tb-bbr, 0em);
        outline: none;
    }

    .tb__toggle-expanded {
        border-bottom-left-radius: unset;
    }

    .tb__label {
        color: var(--c-sd);
        padding: 0.5em;
    }

    .tb__actions {
        align-self: center;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 0.85em;
    }

    .action--add>svg {
        color: seagreen;
    }

    .action--remove>svg {
        color: var(--c-st-err-red);
    }

    .action--new>svg {
        color: var(--c-sml);
    }

    .members-selector {
        padding: 0.3em;
        overflow: auto;
    }
</style>
