<script>
    import { _ } from 'svelte-i18n';
    import { createEventDispatcher } from 'svelte';

    import NewUserForm from './NewUserForm.svelte';
    import AgentChip from '../../_components/agents/AgentChip.svelte';

    const dispatch = createEventDispatcher();
    export let initialTeamId;
    export let vc;

    let resetForm;
    let resolved = null;
    let user;

    function onSuccess({ detail }) {
        ({ user } = detail);
        resolved = 'success';
    }

    function onCancel() {
        resolved = 'cancel';
    }

    function requestClose() {
        dispatch('close-request', { user });
    }
</script>


<div class="container">
    <div class="tb">
        {$_('teams.creating-user')}
    </div>
    <div class="main">
        <div class="upserter" class:hidden="{!!resolved}">
            <NewUserForm
                bind:reset="{resetForm}"
                on:cancel="{onCancel}"
                on:success="{onSuccess}"
                { initialTeamId }
                { vc }
            />
        </div>
        {#if resolved}
            <div class="resolved">
                {#if resolved === 'cancel'}
                    <div class="resolved__cancel">{$_('g.cancelled-for', { values: { a: $_('teams.creating-user') } })}</div>
                {:else}
                    <div class="resolved__success">
                        {$_('g.success-in', { values: { a: $_('teams.creating-user') } })}
                    </div>
                    <div class="repr">
                        <AgentChip
                            agent="{user}"
                            agentAnchorTarget="_self"
                        />
                    </div>
                {/if}

                <div class="close">
                    <button on:click="{requestClose}">{$_('g.close')}</button>
                </div>
            </div>
        {/if}
    </div>
</div>


<style>
    .container {
        max-width: 55.8em;
        margin: 0 auto;
        padding: 0.5em;
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;
    }

    .tb {
        background-color: var(--c-sd);
        color: var(--c-p);
        display: grid;
        grid-template-columns:1fr 1rem;
        padding: 0 0.3rem 0 1.3rem;
        font-size: 0.9rem;
        min-height: 1.3rem;
        align-content: center;
        justify-items: center;
        border-top-left-radius: var(--mhdr-btlr, 0em);
        border-top-right-radius: var(--mhdr-btrr, 0em);
    }

    .main {
        background-color: var(--mbd-bg, var(--c-p));
        padding: 0.3em;
        width: 100%;
        border-bottom-left-radius: var(--mgo-bblr, 0em);
        border-bottom-right-radius: var(--mhdr-btrr, 0em);
    }

    .resolved__success {
        margin: 0 auto 0.5em auto;
        text-align: center;
        color: green;
        max-width: 15em;
        background: var(--c-contrast2);
    }

    .repr {
        max-width: 25em;
        margin: 0 auto;
        border: 1px solid silver;
        padding: 0.5em;
        border-radius: 1em;
    }

    .resolved__cancel {
        margin: 0 auto 0.5em auto;
        text-align: center;
        max-width: 15em;
        background: var(--c-st-bg-red);
        color: var(--c-st-err-red);
    }

    .close {
        margin: 0.5em auto;
        max-width: 15em;
        text-align: center;
    }
</style>
