<script>
    import { accounts } from '@vedavaapi/client';
    import { _ } from 'svelte-i18n';
    import { createEventDispatcher, tick } from 'svelte';
    import { SyncLoader } from 'svelte-loading-spinners';

    import SchemaForm from '../../../../components/forms/SchemaForm.svelte';
    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';

    const dispatch = createEventDispatcher();

    export let initialTeamId;
    export let vc;

    let form;
    let changes;
    let postPromise;
    let resetForm;

    const formSchema = {
        title: $_('g.user'),
        submit: $_('g.create'),
        fields: [
            { name: 'name', type: 'string', label: 'Name', required: true },
            { name: 'email', type: 'email', label: 'Email', required: true },
            { name: 'password', type: 'password', label: 'Password', autocomplete: 'current-password' },
        ],
    };

    const initialValues = {};
    const initialReprs = {};

    function getPostPayload() {
        const update = { jsonClass: 'User' };
        Object.keys(changes).forEach((k) => {
            update[k] = form[k];
        });
        return update;
    }

    async function onSubmit({ detail }) {
        ({ form, changes } = detail);
        const update = getPostPayload();
        postPromise = accounts.users.Users.post({
            vc,
            data: {
                user_json: update,
                initial_team_id: initialTeamId,
                return_projection: { resolvedPermissions: 0 },
            },
        });
        // console.log({ graph, ooldGraph, files });
        try {
            const { data } = await postPromise;
            console.log({ user: data });
            dispatch('success', { user: data });
        } catch (e) {
            dispatch('error', e);
        }
    }

    export async function reset() {
        await tick;
        // eslint-disable-next-line no-unused-expressions
        resetForm && resetForm();
        postPromise = null;
    }

    // eslint-disable-next-line no-unused-expressions
    initialTeamId && reset();
</script>


<div class="container">
    <div class="form">
        <SchemaForm
            schema="{formSchema}"
            { initialValues }
            { initialReprs }
            enableCancel="{true}"
            on:submit="{onSubmit}"
            on:cancel
            bind:reset="{resetForm}"
        />
    </div>
    {#if postPromise}
        <div class="status">
            {#await postPromise}
                <div class="status__posting">
                    <SyncLoader
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    <br>
                    { $_('teams.creating-user') }...
                </div>
            {:then resp}
                { $_('g.success-in', { values: { a: $_('teams.creating-user') } }) }
            {:catch error}
                <FetchErrorReport
                    { error }
                    action="{$_('teams.creating-user')}"
                    on:retry="{() => onSubmit({ detail: { form, changes } })}"
                />
                <button type="button" class="cancel-button" on:click="{() => dispatch('cancel')}">{$_('forms.cancel')}</button>
            {/await}
        </div>
    {/if}
</div>


<style>
    .container {
        position: relative;
    }

    .status {
        position: absolute;
        top: 0em;
        left: 0em;
        z-index: 100;
        background-color: rgba(255, 250, 240, 0.8);
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .status__posting {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cancel-button {
        margin-top: 3em; 
    }
</style>
