<script>
    // TODO use xstate machine for flow instead

    import { accounts } from '@vedavaapi/client';
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';

    import { STATUS_PENDING, STATUS_PROGRESS, STATUS_SUCCESS, STATUS_FAILURE } from '../../../../constants';

    import StatusScreen from '../../../../components/StatusScreen.svelte';
    import ConfirmScreen from '../../../../components/ConfirmScreen.svelte';

    export let vc;
    export let teamId;
    export let userIds;

    const dispatch = createEventDispatcher();

    const SCREEN_CONFIRM = 'confirm';
    const SCREEN_STATUS = 'status';

    let currentScreen = SCREEN_CONFIRM;

    let opStatus = STATUS_PENDING;
    let opError;

    const deleteMembers = async () => {
        opStatus = STATUS_PROGRESS;

        if (!userIds || !userIds.length) {
            opStatus = STATUS_SUCCESS;
            return;
        }

        try {
            await accounts.teams.TeamMembers.delete({
                vc,
                params: { team_identifier: teamId },
                data: { member_identifiers: userIds },
            });
        } catch (e) {
            opError = e;
            opStatus = STATUS_FAILURE;
            return;
        }
        opStatus = STATUS_SUCCESS;
    };

    /*
        Following are state transition methods, which can be refactored to xstate FSM
    */
    const requestClose = () => {
        dispatch('close-request', {
            opStatus,
        });
    };

    function onConfirm() {
        deleteMembers();
        currentScreen = SCREEN_STATUS;
    }

    const onClose = () => {
        requestClose();
    };

    const onStatusFailureRetry = () => {
        deleteMembers();
    };
</script>


<div class="container">
    <div class="screen confirm" class:hidden="{currentScreen !== SCREEN_CONFIRM}">
        <ConfirmScreen
            action="{$_('teams.removing-members')}"
            on:confirm="{onConfirm}"
            on:cancel="{onClose}"
        />
    </div>
    <div class="screen status" class:hidden="{currentScreen !== SCREEN_STATUS}">
        <StatusScreen
            status="{opStatus}"
            action="{$_('teams.removing-members')}"
            error="{opError}"
            on:close-request="{onClose}"
            on:commit-request="{onStatusFailureRetry}"
            on:retry-request="{deleteMembers}"
        />
    </div>

</div>


<style>

    .container {
        height: 100%;
    }

    .screen {
        height: 100%
    }

</style>
