<script>
    import { _ } from 'svelte-i18n';
    import { tick, onMount } from 'svelte';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    
    import { STATUS_SUCCESS, STATUS_FAILURE } from '../../../../constants';
    import Modal from '../../../../components/Modal.svelte';
    import AgentsSelector from '../../_components/agents/AgentsSelector.svelte';

    import DeleteTeamsFlow from './DeleteTeamsFlow.svelte';
    import CreateSubTeamFlow from './CreateSubTeamFlow.svelte';

    export let parentTeamId;
    export let memberId;
    export let resolvedPermissions;
    export let vc;

    export let teamsExpanded = false;
    let expandedOnce = false;
    let teamsSelection = {};
    let selectedTeamIds = [];
    let teamsGraph = {};

    let isMounted = false;

    function toggleNestedUsers() {
        teamsExpanded = !teamsExpanded;
    }

    function onSelectionChange() {
        selectedTeamIds = Object.keys(teamsSelection).filter((k) => teamsSelection[k]);
    }

    let deleteTeamsFlowActive = false;
    let newSubTeamFlowActive = false;

    async function refreshSubTeamsIfUpdated(detail) {
        const { opStatus } = detail || {};
        if (opStatus === STATUS_SUCCESS) {
            expandedOnce = false;
            await tick;
            expandedOnce = true;
        }
    }

    function onDeleteTeamsFlowClose({ detail }) {
        deleteTeamsFlowActive = false;
        if (detail.opStatus === STATUS_SUCCESS) {
            teamsSelection = {};
            selectedTeamIds = [];
        }
        refreshSubTeamsIfUpdated(detail);
    }

    function onNewSubTeamsFlowClose({ detail }) {
        newSubTeamFlowActive = false;
        refreshSubTeamsIfUpdated({ opStatus: detail.team ? STATUS_SUCCESS : STATUS_FAILURE });
    }

    onMount(() => {
        isMounted = true;
    });

    // eslint-disable-next-line no-unused-expressions
    $: teamsSelection && onSelectionChange();
    // eslint-disable-next-line no-unused-expressions
    $: teamsExpanded && isMounted && (expandedOnce = true);
</script>


<div class="container">
    <div class="tb" class:tb__expanded="{teamsExpanded}">
        <button type="button" class="tb__toggle" class:tb__toggle-expanded="{teamsExpanded}" on:click="{toggleNestedUsers}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-list-bullet"></use>
            </svg>
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-cheveron-{teamsExpanded ? 'down' : 'right'}"></use>
            </svg>
        </button>
        <span class="tb__label">{ $_(`g.${parentTeamId ? 'sub-' : ''}teams`) }</span>
        <div class="tb__actions">
            <button type="button" class="action-delete" class:hidden="{!selectedTeamIds || !selectedTeamIds.length || !teamsExpanded}" on:click="{() => { deleteTeamsFlowActive = true; }}">
                <svg class="kicon">
                    <use xlink:href="symbol-defs.svg#icon-trash"></use>
                </svg>
                { $_('teams.remove-members-short') }
            </button>
            {#if !resolvedPermissions || resolvedPermissions.createChildren}
                <button type="button" class="action--new" on:click="{() => { newSubTeamFlowActive = true; }}">
                    <svg class="kicon">
                        <use xlink:href="symbol-defs.svg#icon-user-group"></use>
                    </svg>
                    { $_('teams.new-user-short') }
                </button>
            {/if}
        </div>            
    </div>

    <div class="members-selector" class:hidden="{!teamsExpanded}">
        {#if expandedOnce}
            <AgentsSelector
                agentsAnchorTarget="_self"
                agentsType="{AclAgentType.TEAMS}"
                bind:teamsSelection
                bind:cumulativeUsersCache="{teamsGraph}"
                { vc }
                { parentTeamId }
                {memberId}
            />
        {/if}
    </div>
</div>


<div class="modal-wrapper">
    {#if deleteTeamsFlowActive}
        <Modal visible="{true}">
            <div class="modal-content-wrapper">
                <DeleteTeamsFlow
                    on:close-request="{onDeleteTeamsFlowClose}"
                    teamIds="{selectedTeamIds}"
                    {vc}
                />
            </div>
        </Modal>
    {/if}
</div>


<div class="modal-wrapper">
    {#if newSubTeamFlowActive}
        <Modal visible="{true}">
            <div class="modal-content-wrapper create-sub-team-model-content-wrapper">
                <CreateSubTeamFlow
                    on:close-request="{onNewSubTeamsFlowClose}"
                    { parentTeamId }
                />
            </div>
        </Modal>
    {/if}
</div>


<style>
    .modal-wrapper {
        --content-max-width: 32rem;
        --content-height: 75vh;
    }

    .modal-content-wrapper {
        height: 100%;
        --mhdr-btrr: 0.5em;
        --mhdr-btlr: 0.5em;
        --mgo-bblr: 0.5em;
        --mgo-bbrr: 0.5em;
    }

    .create-sub-team-model-content-wrapper {
        height: auto;
    }

    .container {
        max-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .tb {
        background-color: var(--c-surface);
        border-top-left-radius: var(--tb-btr, 0em);
        border-top-right-radius: var(--tb-btr, 0em);
        border-bottom-left-radius: var(--tb-bbr, 0em);
        border-bottom-right-radius: var(--tb-bbr, 0em);

        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: stretch;
        justify-content: space-between;
    }

    .tb__expanded {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    .tb__toggle {
        border: var(--c-tb-t-bordeer, 1px solid var(--c-onpxl));
        border-top-left-radius: var(--tb-btr, 0em);
        border-bottom-left-radius: var(--tb-bbr, 0em);
        outline: none;
    }

    .tb__toggle-expanded {
        border-bottom-left-radius: unset;
    }

    .tb__label {
        color: var(--c-sd);
        padding: 0.5em;
    }

    .tb__actions {
        align-self: center;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 0.85em;
    }

    .action-delete>svg {
        color: var(--c-st-err-red);
    }

    .action--new>svg {
        color: var(--c-sml);
    }

    .members-selector {
        padding: 0.3em;
        overflow: auto;
    }
</style>
