<script>
    import AgentChip from '../AgentChip.svelte';

    export let agent;
</script>


<div class="wrapper">
    <AgentChip {agent} on:click/>
</div>


<style>
    .wrapper {
        /* height: 2.3rem; */
        max-width: 9rem;
        background-color: var(--c-surface);
    }
</style>
