<script>

    import AgentMembersList from '../AgentMembersList.svelte';

    export let agentIds = [];
    export let agentsGraph;
</script>


<div class="wrapper">
    <AgentMembersList
        {agentsGraph}
        {agentIds}
    />
</div>


<style>

    .wrapper {
        max-width: 11rem;
        border: 1px solid var(--c-sep);
        border-radius: 1rem;
        margin-bottom: 0.3rem;
    }

</style>
