<script>
    import AgentMember from '../AgentMember.svelte';

    export let agent;
    export let presense;
</script>


<div class="wrapper">
    <AgentMember {agent} {presense} on:inherit-link-click/>
</div>


<style>
    .wrapper {
        /* height: 2.3rem; */
        max-width: 11rem;
        border: 1px solid var(--c-sep);
        border-radius: 1rem;
    }
</style>
