/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* telugu */
@font-face {
  font-family: 'Mandali';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mandali'), url(https://fonts.gstatic.com/s/mandali/v8/LhWlMVbYOfASNfNUZEI_Zcdc.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}

/* devanagari */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'), url(https://fonts.gstatic.com/s/yantramanav/v5/flU8Rqu5zY00QEpyWJYWN5fyXeZhCQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* tamil */
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mukta Malar Regular'), local('MuktaMalar-Regular'), url(https://fonts.gstatic.com/s/muktamalar/v6/MCoXzAXyz8LOE2FpJMxZqIvpJ_U5wA.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}


body {
	/*margin: 0;
	font-size: 14px;
	line-height: 1.5;*/
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, 'Yantramanav',  'Mandali', 'Mukta Malar',  sans-serif;
    letter-spacing: 0.01em;
    --c-p: #ffffff;
    --c-onp: #333;
    --c-onpm: #555;
    --c-onpl: #737373;
    --c-onpxl: #ddd;
    --c-onpd: #111;
    --c-s:#236192;
    --c-sd: #003764;
    --c-sl: #5a8ec3;
    --c-sxl: #bad8f6;
    --c-sml: #0073AA;
    --c-surface: #f2f2f2;
    --c-sep: #e6e6e6;
    --c-onp-hd: darkslategray;
    --c-contrast: antiquewhite;
    --c-contrast2: oldlace;
    --c-contrast-on: indigo;

    --c-action-bar: khaki;

    --c-os: #DC9E6D;
    --c-osd: #A5713C;
    --c-osl: #FFC89B;

    --c-st-red: #ef6523;
    --c-st-bg-red: #f2dede;
    --c-st-err-red: #a94442;

    color: var(--c-onp);
    background-color: var(--c-p);;
    /*
    break point constants. same as pure.css
    */
    --bp-min-sm: 568px;
    --bp-max-sm: 767px;
    --bp-min-md: 768px;
    --bp-max-md: 1023px;
    --bp-min-lg: 1024px;
    --bp-max-lg: 1279px;
    --bp-min-xl: 1280px;

    /*
    custom threshold break points
    */
    --bphdr-max-sm: 859px;
    --bphdr-min-lg: 860px; 
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

input[type=checkbox] {
    height: 0.65rem;
    width: 0.65rem;
    vertical-align: text-top;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}*/


/**
reset css
*/
.reset__button {
    border-style: none;
    border-width: 0;
    padding: 0;
    margin: 0;
    outline-style: none!important;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
}

/*
svg sprite icons css
*/
.kicon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    position: relative;
    top: 0.1rem;
}


/*
    TODO
    font size changing when internet disconnected due to pure js it seems. shold fix it.
*/

button {
    cursor: pointer;
    color: inherit;
}

fieldset {
    border: 1px solid silver;  /* TODO should experiment with color*/
    border-radius: 0.3em;
}

button, input, select, a, textarea {
    outline-color: var(--c-sl);
}
