<script>
    import { LocaleContext } from '@vedavaapi/jsonld-helpers/dist/locale';
    import { _ } from 'svelte-i18n';

    import QueryItemRepr from './QueryItemRepr.svelte';


    export let lc = new LocaleContext({});

    export let conj = 'and';
    export let fsMap = {}; // field-FieldSpec

    export let frMap = {}; // field: relation
    export let fvMap = {}; // field: value
    export let fvlMap = {}; // field: value-label

    $: fields = Object.keys(fvMap);

    const getFieldLabel = (f) => {
        const fs = fsMap[f];
        if (!fs) return f;
        const lt = lc.getLocalizedText(fsMap[f].label);
        return lt ? lt.chars : f;
    };
</script>


<div class="container">
    <h4 class="conj">{$_(`s.c.${conj === 'and' ? 'allOf' : 'anyOf'}`)}</h4>
    <ul class="q">
        {#each fields as f (f)}
            <li class="qi">
                <QueryItemRepr
                    fieldLabel="{$_, getFieldLabel(f)}"
                    valueLabel="{fvlMap[f] || fvMap[f]}"
                    relation="{frMap[f] || 'is'}"
                />
            </li>
        {/each}
    </ul>
</div>


<style>

    .conj {
        color: var(--c-onpl);
        margin: 0rem auto 0.5em auto;
        text-align: center;
        max-width: 7em;
        border-bottom: 3px solid var(--c-sep);
    }

    .q {
        margin: 0rem;
        padding: 0rem;
    }

    .qi {
        margin-top: 0.3em;
        list-style: none;
    }

    .qi:first-child {
        margin-top: 0em;
    }

</style>
