<script>
    import { createEventDispatcher } from 'svelte';

    import { QueryManager } from '../query-helper';
    import ConstantSearchInput from './ConstantSearchInput.svelte';


    const dispatch = createEventDispatcher();

    export let lc;
    export let cmg;
    export let fieldSpecs;

    const qm = new QueryManager();

    const defaultSortDoc = [['created', -1]]; // most recent;


    export const invokeSearch = () => {
        if (cmg) {
            qm.mergeToConstantGroup(cmg, true);
        }
        const selectorDoc = qm.getResultantQuery();
        dispatch('search', { selectorDoc, sortDoc: defaultSortDoc });
        // console.log({ selector_doc: selectorDoc, sort_doc: sortDoc, sortBy, sortOrder });
        return false;
    };
</script>

<div class="container">

    <ConstantSearchInput
        {lc}
        mapsGroup={cmg}
        {fieldSpecs}
    />

</div>


<style>

    .container {
        width: 100%;
    }

</style>
