<script>
    import { _, locales } from 'svelte-i18n';
    import ConstantConjSearchInput from './ConstantConjSearchInput.svelte';


    export let lc;
    export let fieldSpecs;

    export let mapsGroup = {};

    export let hideIfClassInputAlone = false;

    const jsonClassFieldSpecs = { // We will add a filler jsonClass field spec natively here.
        field: 'jsonClass',
        type: 'string',
        label: $locales.map((l) => ({ chars: $_('g.class', { locale: l }), language: l })),
    };

    const computeFsMap = () => {
        if (!fieldSpecs) return {};
        console.log({ fieldSpecs });
        const m = { jsonClass: jsonClassFieldSpecs };
        fieldSpecs.forEach((fs) => { m[fs.field] = fs; });
        return m;
    };
    $: fsMap = computeFsMap(fieldSpecs);

    function shouldHideConjInput(conj) {
        if (!mapsGroup[conj] || !mapsGroup[conj].fvMap) return true;
        const fieldsCount = Object.keys(mapsGroup[conj].fvMap).length;
        if (!fieldsCount) return true;
        if (hideIfClassInputAlone && fieldsCount === 1 && mapsGroup[conj].fvMap.jsonClass) return true;
        return false;
    }
</script>

<div class="g">

    {#each ['or', 'and'] as conj(conj)}
        {#if !(mapsGroup, shouldHideConjInput(conj))}
            <div class="cg">
                <ConstantConjSearchInput {...mapsGroup[conj]} {lc} {fsMap}/>
            </div>
        {/if}
    {/each}

</div>


<style>

    .cg {
        margin-top: 0.3em;
    }

    .cg:first-child {
        margin-top: 0em;
    }

</style>
