<script>
    import { _ } from 'svelte-i18n';

    export let fieldLabel;
    export let relation;
    export let valueLabel;
</script>


<div class="qi">
    <span class="c qi__f">{fieldLabel}</span>
    <span class="d"></span><!--d for divider-->
    <span class="c qi__r">{$_(`s.r.${relation}`)}</span>
    <span class="d"></span>
    <span class="c qi__v">{valueLabel}</span>
</div>


<style>

    .qi {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .c {
        padding: 0.3rem;
        max-width: 50%;
        text-align: center;
        max-height: 3em; /*TODO should enquire use of em*/
        overflow-y: auto;
    }

    .d {
        flex-grow: 1;
        border-bottom: 0.07rem dotted black;
        margin: 5px
    }

    .qi__f{
        color: var(--c-st-err-red);
    }

    .qi__r {
        color: var(--c-onp);
        background: var(--c-surface);
    }

    .qi__v {
        color: var(--c-s);
        box-shadow: inset 0px 0px 3px 0px #80808080;
    }

</style>
