
<script>
    import { createEventDispatcher } from 'svelte';
    import { _, locale, locales } from 'svelte-i18n';

    import ProfilePic from './ProfilePic.svelte';
    import MeSurface from './MeSurface.svelte';
    import LocaleSetter from './LocaleSetter.svelte';

    export let session;
    const dispatch = createEventDispatcher();

    $: logoURL = $locale && $locales.includes($locale) ? `vedavaapi-${$locale}.png` : 'vedavaapi-en.png';

    const visStatus = {
        vvNav: false,
        meDropdown: false,
    };

    const toggleVVNav = () => {
        visStatus.vvNav = !visStatus.vvNav;
        if (visStatus.vvNav) {
            visStatus.meDropdown = false;
        }
    };
    const toggleMeDropdown = () => {
        visStatus.meDropdown = !visStatus.meDropdown;
        if (visStatus.meDropdown) {
            visStatus.vvNav = false;
        }
    };

    $: user = (session || {}).user;
</script>

<header>

    <button type="button" class="reset__button vv-nav-toggle" on:click={toggleVVNav} title="{$_('c.header.toggle_nav_menu')}">
        <svg class="kicon vv-nav-toggle__icon">
            {#if visStatus.vvNav}
                <use xlink:href="symbol-defs.svg#icon-close"></use>
            {:else}
                <use xlink:href="symbol-defs.svg#icon-menu"></use>
            {/if}
        </svg>
    </button>

    <div class="logo-locale__wrapper">
        <a class="logo" href="">
            <img alt="vedavaapi logo" src="{logoURL}" class="logo__image"/>
        </a>
        <LocaleSetter/>
    </div>

    <nav class="nav-projects">
        <ul>
            <li title="{$_('projects.nalanda.title')}">
                <a href="nalanda">{$_('projects.nalanda.name')}</a>
            </li>
            <li title="{$_('projects.sangha.title')}">
                <a href="sangha">{$_('projects.sangha.name')}</a>
            </li>
            <li title="{$_('projects.vihari.title')}">
                <a href="vihari">{$_('projects.vihari.name')}</a>
            </li>
        </ul>
    </nav>

    <div class="actions">
        <nav class="nav-vv" class:show-on-small={visStatus.vvNav}>
            <ul>
                <li title="{$_('projects.nalanda.title')}">
                    <a href="nalanda">{$_('projects.nalanda.name')}</a>
                </li>
                <li title="{$_('projects.sangha.title')}">
                    <a href="sangha">{$_('projects.sangha.name')}</a>
                </li>
                <li title="{$_('projects.vihari.title')}">
                    <a href="vihari">{$_('projects.vihari.name')}</a>
                </li>
            </ul>
        </nav>

        <div class="me-control">
            <div class="me-control__root">
                {#if !session.authorized}
                    <button type="button" class="me-control__login reset__button" title="login" on:click={() => dispatch('login-click')}>
                        <svg class="kicon kicon-log-in"><use xlink:href="symbol-defs.svg#icon-log-in"></use></svg>
                        <span class="login-text hide-on-small">{$_('account.actions.login')}</span>
                    </button>
                {:else}
                    <div class="me-control__dropdown">
                        <button type="button" class="reset__button me-control__trigger" on:click={toggleMeDropdown}>
                            <ProfilePic agent="{user}"/>
                        </button>
                        <div class="me-control__main-dropdown" class:show={visStatus.meDropdown}>
                            <MeSurface user="{user}" on:logout-click={() => { visStatus.meDropdown = false; dispatch('logout-click'); }}/>
                        </div>
                    </div>
                {/if}
            </div>
        </div>
    </div>

</header>

<style>
    header {
        display: grid;
        grid-template-columns: auto 15rem auto;
        align-items: center;

        height: 3.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        border-bottom: 1px solid var(--c-sep);

        font-size: 0.85rem;
        font-weight: 550;
    }

    .vv-nav-toggle {
        display: block;
        padding-left: 0.5rem;
        padding-inline-start: 0.5rem;
        max-width: 3em;
    }
    .vv-nav-toggle__icon {
        fill: var(--c-sd);

        height: 1.5rem;
        width: 1.5rem;
    }

    .logo-locale__wrapper {
        display: flex;
        align-items: center;
    }

    .logo {
        display: inline-block;
        /* max-width: 13rem; */
        height: 3rem;
        margin-right: 0.5rem;
    }

    .logo__image {
        margin: auto;
    }

    .nav-projects {
        display: none;
    }

    .nav-vv {
        display: none;

        position: absolute;
        left: 0em;
        top: 3.5rem;

        width: 100%;
        z-index: 502;
    }
    .nav-vv ul {
        margin: 0 0 0.3rem 0;
        background-color: var(--c-surface);
        border-bottom: 1px solid var(--c-sd);
    }
    .nav-vv li {
        border-bottom: 1px solid var(--c-sep);
    }
    .nav-vv a {
        display: inline-block;
        width: 100%;
        padding: 0.5rem 1rem;
    }

    .actions {
        justify-self: end;
    }

    ul {
        padding-left: 0rem;
    }
    li {
        list-style-type: none;
        word-break: break-word;
        white-space: nowrap;
    }
    a {
        text-decoration: none;
        color: #262626;
    }

    @media screen and (min-width: 860px) {
        header {
            grid-template-columns: 15rem auto auto;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .logo__image {
            margin: initial;
        }

        .nav-vv {
            display: none;
        }
        .vv-nav-toggle {
            display: none;
        }

        .nav-projects {
            display: flex;
            justify-self: left;

            overflow: hidden;
            white-space: nowrap;

            padding-left: 1rem;
            padding-right: 1px;
        }
        .nav-projects ul {
            list-style: none;
        }
        .nav-projects li {
            display: inline-block;
        }
        .nav-projects a {
            display: inline-block;
            margin-top: 1px;
            padding: 16px 8px 10px 8px;
            border: 1px solid transparent;
            border-bottom: 2px solid transparent;
        }
        .nav-projects a:after{
            content: "";
            display: block;
            height: 2px;
        }
        .nav-projects a:hover:after {
            background-color: var(--c-s);
        }
    }

    @media screen and (max-width: 859px) {
        .show-on-small {
            display: block!important;
        }
        .hide-on-small {
            display: none!important;
        }
    }

    .show {
        display: block!important;
    }

    .me-control__trigger {
        height: 2.5rem;
        width: 2.5rem;
    }

    .me-control__dropdown {
        position: relative;
    }

    .me-control__main-dropdown {
        display: none;
        width: 20rem;
        height: 11.2rem;

        position: absolute;
        top: 2.7rem;
        right: auto;
        bottom: auto;
        left: -17rem;

        box-shadow: 0 24px 54px rgba(0,0,0,.15), 0 4.5px 13.5px rgba(0,0,0,.08);
        z-index: 503;
    }

    .login-text {
        position: relative;
        bottom: 0.5rem;
    }
    .kicon-log-in {
        height: 2rem;
        width: 2rem;
        fill: var(--c-sd);
        top: 0.27rem;
    }

</style>
