<script>
    import { _ } from 'svelte-i18n';
    import ProjectRepr from './ProjectRepr.svelte';

    const metaBaseURL = 'https://bharatikosha.org';
</script>


<div class="container">
    <!--div class="mission">
        <img class="mission__repr" src="dakshinamurthi.png" alt="Shri Dakshinamurti">
        <div class="mission__header">
            <div class="mission__header--act">{$_('vedavaapi.mission_header.act')}</div>
            <div class="mission__header--subject">{$_('vedavaapi.mission_header.subject')}</div>
        </div>
    </div-->

    <div class="nav">
        <div class="sc">
            <img src="sc.png" alt="surya-chandra">
        </div>
        <div class="meta">
            <a  class="meta-link" href="{metaBaseURL}/">
                <svg class="kicon">
                    <use xlink:href="symbol-defs.svg#icon-home"></use>
                </svg>
                {$_('meta.home')}
            </a>
            <a  class="meta-link" href="{metaBaseURL}/about/">
                <svg class="kicon">
                    <use xlink:href="symbol-defs.svg#icon-information-outline"></use>
                </svg>
                {$_('meta.about')}
            </a>
            <a  class="meta-link" href="{metaBaseURL}/charter/">
                <svg class="kicon">
                    <use xlink:href="symbol-defs.svg#icon-shield"></use>
                </svg>
                {$_('meta.charter')}
            </a>
            <a  class="meta-link" href="{metaBaseURL}/contact-us">
                <svg class="kicon">
                    <use xlink:href="symbol-defs.svg#icon-at-symbol"></use>
                </svg>
                {$_('meta.contact')}
            </a>
        </div>
        <blockquote class="bk">
            <span class="bk__title">{$_('bk.title')}</span>: <span class="bk__descr">{$_('bk.description')}</span>
        </blockquote>
        <div class="projects">
            {#each ['nalanda', 'sangha', 'vihari'] as pr(pr)}
                <div class="project">
                    <ProjectRepr
                        name="{pr}"
                    />
                </div>
            {/each}
        </div>
    </div>
</div>

<style>
    .container {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        gap: 1rem;
        /* background-color: var(--c-surface); */
        padding: 0rem 0.5rem;
        height: 100%;
    }

    /*
    .mission {
        position: relative;
    }

    .mission__repr {
        max-height: fit-content;
    }

    .mission__header {
        position: absolute;
        right: 0.3em;
        bottom: 0.3em;
        background: var(--c-action-bar);
        border-radius: 0.2em;
        color: var(--c-s);
        padding: 0.5em;
        min-width: 50%;
        box-shadow: 0px 0px 1px #333;

        display: grid;
        grid-template-rows: auto auto;
        gap: 0.2em;
        justify-content: center;
    }

    .mission__header--act {
        font-size: 1.1em;
    }

    .mission__header--subject {
        font-size: 1.9em;
    }
    */

    .nav {
        padding: 0.3rem;
        height: 100%;
        align-self: start;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 1fr;
        gap: 0.3em;
        justify-items: center;
    }

    .bk {
        max-width: 25em;
        line-height: 1.3em;
    }

    .bk__title {
        color: var(--c-onp-hd);
        font-weight: 600;
    }

    .bk__descr {
        color: var(--c-on-pm);
    }

    .meta {
        border-bottom: 1px solid grey;
    }

    .meta-link {
        margin: 0.5em;
        text-transform: lowercase;
    }

    .meta-link:visited, .meta-link {
        color: var(--c-sd);
    }

    .projects {
        font-size: 0.9em;
        display: grid;
        grid-template-columns: repeat(auto-fit, 87.5%);
        overflow: auto;
        gap: 1em;
        width: 100%;
        justify-content: center;
        padding-top: 0.5em;
    }

    .project {
        width: 100%;
        border-radius: 0.5em;
        overflow: hidden;
        box-shadow: 0 0 5px 1px #aaa;
    }

    @media screen and (min-width: 860px) {
        .container {
            /* grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            grid-template-areas: "mission nav";
            padding: 0.3em 1.5em;*/
        }

        /*
        .mission {
            grid-area: mission;
            height: 100%;
        }

        .mission__repr {
            height: 100%;
            object-fit: cover;
        }

        .mission__header {
            text-align: start;
        }

        .nav {
            grid-area: nav;
        }
        */

        .projects {
            grid-template-columns: repeat(auto-fit, 17.5em);
            grid-template-rows: repeat(auto-fit, 15em);
        }

    }
</style>
