<script>
    import { request } from '@vedavaapi/web';
    import { locales, locale, _ } from 'svelte-i18n';
    // eslint-disable-next-line import/named
    import { LOCALE_LABELS } from '../../i18n';

    const setLocale = async () => {
        request('pref/locale', {
            method: 'POST',
            body: new URLSearchParams({
                lang: $locale,
            }),
        });
    };
</script>


<div class="locale-conf">
    <!-- svelte-ignore a11y-no-onchange -->
    <select class="locale-select" bind:value="{$locale}" on:change="{ setLocale }" title="{$_('g.select-locale')}">
        {#each $locales as l(l)}
            <option value="{l}">{
                LOCALE_LABELS[l] || l
            }</option>
        {/each}
    </select>
</div>


<style>
    .locale-conf {
        position: relative;
        display: inline-block;
    }

    .locale-select {
        height: 1.7rem;
        color: var(--c-sd);
        font-weight: 550;
    }
</style>
