<!--
    16:9 grid container
    1/3, 2/3 columns
    1/4, 3/4 rows

    196:48 logo
-->

<script>
    import { createEventDispatcher } from 'svelte';
    import { _, locale, locales } from 'svelte-i18n';
    import ProfilePic from './ProfilePic.svelte';

    $: logoURL = $locale && $locales.includes($locale) ? `vedavaapi-${$locale}.png` : 'vedavaapi-en.png';

    export let user = {};

    const dispatch = createEventDispatcher();
</script>

<style>
    .ms {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
            "logo logout"
            "profile-pic profile";
        align-items: center;

        height: 100%;

        background-color: white;
    }

    .ms__logo {
        grid-area: logo;
        justify-self: center;
        height: 52%; /* (16/3*48/196*4/9) * 90% */
    }

    .ms__logout {
        grid-area: logout;
        justify-self: end;

        height: 100%;
    }
    .ms__logout__trigger {
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1px;
    }
    .ms__logout__trigger:hover {
        background-color: var(--c-surface);
    }

    .ms__profile-pic {
        grid-area: profile-pic;
        justify-self: center;
        padding: 10%;
    }
    .ms__profile {
        grid-area: profile;
    }
    .ms__profile__item {
        display: block;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .ms__profile__name {
        font-size: 1.2rem;
        font-weight: 700;

        /*
            to setup ellipsis.
            https://stackoverflow.com/a/7993098
        */
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 12rem;
        overflow: hidden;
    }
    
</style>

<div class="ms">
    <div class="ms__logo">
        <img src="{logoURL}" alt="vedavaapi">
    </div>
    <div class="ms__logout">
        <button type="button" class="ms__logout__trigger reset__button"  on:click={() => dispatch('logout-click')}>{$_('account.actions.logout')}</button>
    </div>
    <div class="ms__profile-pic">
        <ProfilePic agent="{user}"/>
    </div>
    <div class="ms__profile">
        {#if user.name}
            <span class="ms__profile__name ms__profile__item">{user.name}</span>
        {/if}
        <span class="ms__profile__email ms__profile__item">{user.email}</span>
        <a class="ms__profile__manger-link ms__profile__item" href="sangha/users/{user._id}" title="manage your account">{$_('account.my_account')}</a>
    </div>
</div>
