<script>

    import { _ } from 'svelte-i18n';

    export let agent;
    export let iconClass = (agent.jsonClass || 'User') === 'User' ? 'user' : 'user-group';
</script>

<style>
    div {
        height: 100%;
        width: 100%;
    }
    .kicon-agent {
        height: 75%;
        width: 75%;
        margin: 12%;
        fill: var(--c-sd);
        max-height: 3.5em;
    }
    img {
        object-fit: cover;
        border-radius: 50%;
    }
</style>

<div title="{$_('c.header.agent_profile_manager', { values: { agent: agent.name } })}">
    {#if agent.picture}
         <img src="{agent.picture}" alt="👤">
    {:else}
        <svg class="kicon kicon-agent"><use xlink:href="symbol-defs.svg#icon-{iconClass}"></use></svg>
    {/if}
</div>
