<script>
    import { _ } from 'svelte-i18n';

    export let name;
</script>

<a class="container" href="{name}">
    <img src="projects/{name}.webp" alt="{$_(`projects.${name}.name`)}">
    <div class="header">
        <div class="header__title">{$_(`projects.${name}.name`)}</div>
        <div class="header__descr">{$_(`projects.${name}.title`)}</div>
    </div>
</a>

<style>
    .container {
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .header {
        position: absolute;
        left: 0.3em;
        bottom: 0.3em;
        background: var(--c-action-bar);
        border-radius: 0.2em;
        padding: 0.5em;
        min-width: 50%;
        box-shadow: 0px 0px 1px #333;

        display: grid;
        grid-template-rows: auto auto;
        gap: 0.2em;
        justify-content: start;
    }

    .header__title {
        font-size: 1.3em;
        color: var(--c-sd);
    }

    .header__descr {
        font-size: 0.9em;
        color: var(--c-onpm);
    }
</style>
