<script>
    export let tabSpecs = []; // array to be able to communicate order
    export let currentTabId;
    // currentTabId = currentTabId || tabSpecs.length ? tabSpecs[0] : undefined;
    // some tabs may want to do lazy render, when they first got clicked. so we will preserve tab click count too, to report them
    export let clickEventsCount = {};

    export let tabsDirtyStatus = {};

    const onTabClick = (spec) => {
        currentTabId = spec.id;
        clickEventsCount[currentTabId] = (clickEventsCount[currentTabId] || 0) + 1;
    };
</script>

<ul class="tabs">
    {#each tabSpecs as spec,i (spec.id)}
        <li class="tabs__item" class:tabs__item--selected="{ currentTabId === spec.id }" title="{spec.title || spec.label}">
            <a class="tabs__anchor" href="javascript:void(0)" on:click|preventDefault="{() => onTabClick(spec)}">
                <span class="tabs__anchor__label">
                    {spec.label}
                    {#if tabsDirtyStatus[spec.id]}
                        <sup class="dirty-asterik">*</sup>
                    {/if}
                </span>
            </a>
        </li>
    {/each}
</ul>

<style>
    .tabs {
        /* this will apply to <body> */
        display: flex;
        justify-self: left;

        overflow: auto;
        white-space: nowrap;

        margin: 0rem;
        padding: 0rem;
        list-style: none;
        color: var(--tabs-text-color, var(--c-onp-hd));

        height: 100%;
        align-items: center;
        font-size: 0.8em;
        line-height: 1em;
        justify-content: var(--tabs-justify, normal);
    }

    .tabs__item {
        /* this will apply to <body> */
        display: inline-block;
        height: 100%;
    }

    .tabs__item--selected a {
        background-color: var(--tabs-selected-tab-bg, var(--c-p));
        /** opacity: 1; */
        cursor: default;
        border-color: var(--tabs-tab-border-color, #ddd);
        border-bottom-color: var(--tabs-sel-border-bottom-color, transperant);
        border-bottom-width: var(--tabs-sel-border-bottom-width, 0px);
    }

    .tabs__anchor {
        /* this will apply to <body> */
        display: inline-block;
        color: inherit;
        /* opacity: 0.9; */
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 100%;

        border: 1px solid transparent;
        border-bottom-color: var(--tabs-tab-border-color, #ddd);
        border-radius: 4px 4px 0 0;
        padding-top: 0.5rem; /* (2rem - 1rem)/2 */
    }

    .tabs__anchor:hover {
        /* this will apply to <body> */
        text-decoration: none;
        color: var(--tabs-anchor-hover-color, var(--c-sd));
    }

    .tabs__anchor:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .tabs__anchor__label {
        /* https://stackoverflow.com/a/24685032/5925119 */
        vertical-align: middle;
        display: inline-block;
    }

    .dirty-asterik {
        color: red;
        font-size: 0.8rem;
    }
</style>
