<script context="module">
    export async function preload({ params }) {
        const { teamId } = params;
        return { teamId };
    }
</script>


<script>
    import { onMount } from 'svelte';
    import { accounts } from '@vedavaapi/client';
    import { _ } from 'svelte-i18n';
    import { Circle } from 'svelte-loading-spinners';

    import { vc } from '../../../../context-stores';

    import { STATUS_SUCCESS } from '../../../../constants';
    import Modal from '../../../../components/Modal.svelte';
    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';
    import Header from '../../../_components/Header.svelte';
    import AgentChip from '../../_components/agents/AgentChip.svelte';
    import MembersEditor from '../_components/MembersEditor.svelte';
    import TeamsEditor from '../_components/TeamsEditor.svelte';
    import DeleteTeamsFlow from '../_components/DeleteTeamsFlow.svelte';

    export let teamId;
    let teamPromise;
    let team;

    let membersExpanded;
    let subTeamsExpanded;

    let deleteFlowActive = false;

    async function getTeam() {
        teamPromise = accounts.teams.Team.get({
            vc: $vc,
            params: { team_identifier: teamId, projection: { hierarchy: 0, members: 0 } },
        }).then((resp) => {
            team = resp.data;
            return team;
        });
    }

    onMount(() => {
        if (!teamId) return;
        getTeam();
    });

    function initializeDeletion() {
        deleteFlowActive = true;
    }

    function onDeleteFlowClose({ detail }) {
        deleteFlowActive = false;
        const { opStatus } = detail;
        if (opStatus === STATUS_SUCCESS) {
            teamId = teamId;
            getTeam();
        }
    }

    function reset() {
        membersExpanded = false;
        subTeamsExpanded = false;
        team = null;
        deleteFlowActive = false;
        getTeam();
    }

    // eslint-disable-next-line no-unused-expressions
    $: teamId, reset();
</script>


<Header/>

<div class="container">
    {#if !teamId}
        <div class="fc no-team">Invalid team id</div>
    {:else if teamPromise}
        <div class="resp">
            {#await teamPromise}
                <div class="fc resp__loading">
                    <Circle
                        size="60"
                        color="var(--c-sd)"
                        unit="px"
                    />
                    {$_('actions.upsert-team.fetching-team')}...
                </div>
            {:then team}
                <div class="primary">
                    <div class="team">
                        <AgentChip
                            agent="{team}"
                            agentAnchorTarget="_self"
                        />
                    </div>
                    <div class="actions">
                        {#if team.source}
                            <a  class="action action__parent-nav" href="sangha/teams/{team.source}">
                                <svg class="kicon">
                                    <use xlink:href="symbol-defs.svg#icon-arrow-thick-up"></use>
                                </svg>
                                {$_('g.parent-team')}
                            </a>
                        {/if}
                        {#if team.resolvedPermissions.updatePermissions}
                            <a class="action action__update-perms" href="sangha/acls/{teamId}">
                                <svg class="kicon">
                                    <use xlink:href="symbol-defs.svg#icon-shield"></use>
                                </svg>
                                {$_('g.permissions')}
                            </a>
                        {/if}
                        {#if team.resolvedPermissions.updateContent}
                            <a  class="action action__update" href="vihari/actions/update-team?_id={teamId}">
                                <svg class="kicon">
                                    <use xlink:href="symbol-defs.svg#icon-edit-pencil"></use>
                                </svg>
                                {$_('g.update')}
                            </a>
                        {/if}
                        {#if team.resolvedPermissions.delete}
                            <a  class="action action__relete" href="?" on:click|preventDefault="{initializeDeletion}">
                                <svg class="kicon">
                                    <use xlink:href="symbol-defs.svg#icon-trash"></use>
                                </svg>
                                {$_('g.delete')}
                            </a>
                        {/if}
                    </div>
                    <div class="editors" class:editors--collapsed="{!membersExpanded && !subTeamsExpanded}">
                        <div class="editor" class:editor--collapsed="{!membersExpanded}" class:hidden="{subTeamsExpanded}">
                            <MembersEditor
                                teamId="{team._id}"
                                vc="{$vc}"
                                bind:usersExpanded="{membersExpanded}"
                                resolvedPermissions="{team.resolvedPermissions}"
                            />
                        </div>
                        <div class="editor" class:editor--collapsed="{!subTeamsExpanded}" class:hidden="{membersExpanded}">
                            <TeamsEditor
                                parentTeamId="{team._id}"
                                vc="{$vc}"
                                resolvedPermissions="{team.resolvedPermissions}"
                                bind:teamsExpanded="{subTeamsExpanded}"
                            />
                        </div>
                    </div>
                </div>
            {:catch error}
                <div class="fc resp__error">
                    <FetchErrorReport
                        action="{$_('actions.upsert-team.fetching-team')}"
                        { error }
                        on:retry="{getTeam}"
                    />
                </div>
            {/await}
        </div>
    {/if}
</div>


<div class="modal-wrapper">
    {#if team && deleteFlowActive}
        <Modal visible="{true}">
            <div class="modal-content-wrapper">
                <DeleteTeamsFlow
                    on:close-request="{onDeleteFlowClose}"
                    teamIds="{[team._id]}"
                    vc="{$vc}"
                />
            </div>
        </Modal>
    {/if}
</div>


<style>

    .container {
        width: 100%;
    }

    .fc {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 3.7em);
    }

    .no-team {
        color: var(--c-st-err-red);
    }

    .resp {
        width: 100%;
        height: calc(100vh - 3.7em);
    }

    .resp__loading {
        flex-direction: column;
    }

    .primary {
        max-width: 55.8em;
        padding: 0.5em;
        margin: 0 auto;
        display: grid;
        height: 100%;
        grid-template-rows: auto auto 1fr;
        justify-items: center;
        gap: 0.5em;
    }

    .team {
        font-weight: bold;
    }

    .action {
        margin: 0.5em;
        text-transform: lowercase;
    }

    .editors {
        overflow: auto;
        justify-self: normal;
        border-radius: 1em;
        box-shadow: 0 0 8px 0 #aaa;
    }

    .editors--collapsed {
        box-shadow: none;
    }

    .editor {
        border: 1px solid var(--c-onpxl);
        border-radius: 1em;
        --tb-btr: 1em;
        --tb-bbr: 1em;
        --sal-aw-br: 0em;
        height: 100%;
    }

    .editor--collapsed {
        height: 2.3em;
        height: fit-content;
        margin-bottom: 0.85em;
    }

    .editor--collapsed:last-child {
        margin-bottom: 0em;
    }

    a:visited {
        color: blue;
    }

    .modal-wrapper {
        --content-max-width: 32rem;
        --content-height: 75vh;
    }

    .modal-content-wrapper {
        height: 100%;
        --mhdr-btrr: 0.5em;
        --mhdr-btlr: 0.5em;
        --mgo-bblr: 0.5em;
        --mgo-bbrr: 0.5em;
    }

</style>
