<!--
    It is hoomogenous collection of agentPresenses. of same agentType
-->

<script>
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';

    import AgentPresense from './AgentPresense.svelte';

    export let agentIdPresenseMap;
    export let agentsGraph;
    export let agentsType = AclAgentType.USERS;

    export let agentsSelection = {};

    function getAgent(agentId) {
        return agentsGraph[agentId] || { jsonClass: agentsType === AclAgentType.USERS ? 'User' : 'Team', _id: agentId };
    }

    const agentIdSortFn = (agentId1, agentId2) => {
        const agentName1 = (getAgent(agentId1).name || '').toLowerCase();
        const agentName2 = (getAgent(agentId2).name || '').toLowerCase();
        if (agentName1 > agentName2) return 1;
        if (agentName1 < agentName2) return -1;
        return 0;
    };
    $: sortedAgentIds = Object.keys(agentIdPresenseMap).sort(agentIdSortFn);

    /*
    const onAgentSelectionChange = (agentId, selected) => {
        agentsSelection[agentId] = selected;
    };
    */
</script>


<div class="presense-map presense-map--{agentsType}">
    {#each sortedAgentIds as agentId(agentId)}
        <div class="presense-wrapper presense-wrapper--{agentsType}">
            <AgentPresense agent="{getAgent(agentId)}" presense="{agentIdPresenseMap[agentId]}" bind:selected="{agentsSelection[agentId]}"/>
        </div>
    {/each}
</div>


<style>
    .presense-map {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 11rem));
        gap: 0.3rem;
        justify-content: center;
    }

    /*.presense-map--teams {
        grid-template-columns: repeat(auto-fill, minmax(auto, 10rem));
    }*/

    .presense-wrapper {
        border: 1px solid transparent;
        border-radius: 1rem;
    }

    .presense-wrapper--users {
        border: 1px solid var(--c-s);
    }

    .presense-wrapper--teams {
        border: 1px solid var(--c-s);
    }

</style>
