<!-- TODO merge with IDInput.svelte-->
<script>
    import { _ } from 'svelte-i18n';
    import { tick, createEventDispatcher } from 'svelte';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    import { accounts } from '@vedavaapi/client';

    import { vc } from '../../../../context-stores';
    import Modal from '../../../../components/Modal.svelte';
    import AgentMembersList from './AgentMembersList.svelte';
    import MultiAgentsSelectorUi from './MultiAgentsSelectorUi.svelte';

    export let agentType = AclAgentType.USERS;
    export let mode = 'single'; // single || multi

    /* in multi mode, we will bind to following */
    export let agentIds = [];
    export let agentsGraph = {};

    /* in single mode we will bind to following */
    export let agentId;

    export let syncExternalChanges = true;
    
    const dispatch = createEventDispatcher();

    export let help;
    let effectiveHelp = help;

    let modalVisible = false;

    let resSyncRaceToken = null;

    const toggleModal = (e) => {
        // console.log('inside toggle modal', modalVisible, e);
        modalVisible = !modalVisible;
    };

    function onSelectionChange(e) {
        const { selectedAgentsSet, cumulativeAgentsCache } = e.detail;
        const agentIdsSelection = selectedAgentsSet[agentType] || {};
        const selectedAgentIds = Object.keys(agentIdsSelection).filter((k) => agentIdsSelection[k]);
        const selectedAgentsGraph = cumulativeAgentsCache[agentType] || {};
        if (mode === 'multi') { // append to existing values
            agentIds = [...agentIds, ...selectedAgentIds];
            agentsGraph = { ...agentsGraph, ...selectedAgentsGraph };
        } else { // replace with single selection
            agentIds = [];
            agentsGraph = {};
            if (selectedAgentIds.length) {
                agentIds.push(selectedAgentIds[0]);
                agentsGraph[selectedAgentIds[0]] = selectedAgentsGraph[selectedAgentIds[0]];
            }
        }
        // eslint-disable-next-line no-use-before-define
        setSingleModeValues();
        modalVisible = false;
        dispatch('change', { agentId, agentIds });
    }

    function setSingleModeValues() {
        if (mode !== 'single') return;
        if (agentIds && agentIds.length) {
            [agentId] = agentIds;
        } else {
            agentId = undefined;
        }
    }

    function onModalCloseRequest() {
        modalVisible = false;
    }

    const onMemberRemoveRequest = (e) => {
        agentIds = agentIds;
        setSingleModeValues();
        dispatch('change', { agentId, agentIds });
    };

    async function syncInerferedResIds() {
        agentsGraph = {};
        agentIds.forEach((aid) => { agentsGraph[aid] = { jsonClass: agentType, _id: aid }; });
        resSyncRaceToken = {};
        await tick; // To sync initial placeholders
        if (!syncExternalChanges) return;

        try {
            const { resp, raceToken } = await accounts[agentType][agentType === AclAgentType.USERS ? 'Users' : 'Teams'].get(
                { vc: $vc, params: { selector_doc: { _id: { $in: agentIds } }, projection: { resolvedPermissions: 0, content: 0, hierarchy: 0 } } },
            ).then((r) => ({ resp: r, raceToken: resSyncRaceToken }));
            if (raceToken !== resSyncRaceToken) return;
            const agents = resp.data.items;
            agents.forEach((agent) => {
                agentsGraph[agent._id] = agent;
            });
            setSingleModeValues();
        } catch (e) {
            //
        }
    }

    function onAgentIdsInterfered() {
        // console.log({ resIds, resourceReprs });
        if (!agentIds || !agentIds.length) {
            return;
        }
        if (agentIds.some((rid) => !agentsGraph[rid])) {
            // console.log('resIds interfered', resIds, resourceReprs);
            syncInerferedResIds();
        }
    }

    function onSingleModeInterfered() {
        agentIds = agentId ? [agentId] : [];
        onAgentIdsInterfered();
    }

    function computeEffectiveHelp() {
        if (help) {
            effectiveHelp = help;
            return;
        }
        effectiveHelp = `Select ${agentType}`;
    }

    // eslint-disable-next-line no-unused-expressions
    $: help, computeEffectiveHelp();

    // eslint-disable-next-line no-unused-expressions
    $: agentIds, ((mode === 'multi') && onAgentIdsInterfered());
    // eslint-disable-next-line no-unused-expressions
    $: agentId, ((mode === 'single') && onSingleModeInterfered());
</script>

<div class="container">

    <button type="button" class="hidden">
        <!--
            It is here to capture click, if component is wrapped inside <label> element.
            no other content should be here.    
        -->
    </button>

    <div class="view">
        {#if agentIds && agentIds.length}
            <AgentMembersList
                {agentIds}
                { agentsGraph }
                agentsAnchorTarget="_blank"
                on:member-remove-request="{onMemberRemoveRequest}"
                collectionViewMode="grid"
            />
        {:else}
            <div class="repr__placeholder" on:click="{toggleModal}">
                {effectiveHelp}
            </div>
        {/if}
    </div>

    <div class="sel-trigger">
        <button type="button" class="sel-trigger__button" title="{$_('s.select-res')}" on:click="{toggleModal}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-mouse"></use>
            </svg>
        </button>
    </div>

</div>

<div class="modal-wrapper">
    {#if modalVisible}
        <Modal visible="{true}">
            <div class="agents-selector-wrapper" on:click|stopPropagation>
                <MultiAgentsSelectorUi
                    on:commit-request="{onSelectionChange}"
                    on:close-request="{onModalCloseRequest}"
                    title="{effectiveHelp}"
                    vc="{$vc}"
                    allowedAgentTypes="{agentType === AclAgentType.USERS ? [AclAgentType.TEAMS, AclAgentType.USERS] : [AclAgentType.TEAMS]}"
                />
            </div>
        </Modal>
    {/if}
</div>


<style>

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .view {
        flex-grow: 1;
        margin-right: 0.3em;
        --agent-bg: var(--c-contrast2);
        --agent-border: 1px solid var(--c-os);
        --agent-grid-justify: start;
        font-size: 0.7em;
    }

    .repr__placeholder {
        color: var(--c-onpxl);
        cursor: pointer;
        font-size: 1.1em;
        padding: 0.2em;
    }

    .modal-wrapper {
        --content-max-width: 32rem;
        --content-height: 95%;
    }

    .agents-selector-wrapper {
        height: 100%;
        border-radius: 0.3em;
        --rs-border-radius: 0.3em;
        --mhdr-btrr: 0.5em;
        --mhdr-btlr: 0.5em;
        --mgo-bblr: 0.5em;
        --mgo-bbrr: 0.5em;
    }

</style>
