<script>
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';

    import ProfilePic from '../../../_components/ProfilePic.svelte';

    export let agent;

    export let agentAnchorTarget = '_self';

    const agentType = `${agent.jsonClass.toLowerCase()}s`;
</script>

<div class="agent agent--{agentType}">
    <div class="agent__picture">
        <ProfilePic agent={agent}/>        
    </div>
    <!--div class="agent__type">{agent.jsonClass}</div-->
    <div class="agent__name">
        <a target="{agentAnchorTarget}" href="sangha/{agentType}/{agent._id}">
            {agent.name || (agent.email ? agent.email.split('@')[0] : agent._id)}
        </a>
    </div>
    {#if agentType === AclAgentType.USERS}
        <div class="agent__email">{agent.email || ''}</div>
    {/if}
</div>

<style>
    .agent {
        display: grid;
        font-size: 0.8rem;
        padding: 0.2rem;
        grid-template-columns: minmax(auto, 2rem) auto;
        height: 100%;;
    }

    .agent--users {
        /* border-left: 2px solid var(--c-sd); */
        grid-template-rows: auto auto;
    }

    .agent--teams {
        /* border-left: 2px solid var(--c-sd); */
        grid-template-rows: auto;
    }


    /*.agent__type {
        align-self: start;
        justify-self: start;
        font-size: 0.6rem;
    }*/

    .agent__picture {
        grid-row: 1/-1;
        grid-column: 1;
        align-self: center;
        justify-self: center;
        height: 1.5rem;
        width: 1.5rem;
    }

    a {
        color: var(--c-onp)
    }

    .agent__name {
        align-self: center;
        justify-self: center;
        /* text-align: center; */
        width: 100%;
        overflow-x: auto;
        word-break: break-word;
    }

    .agent__email {
        align-self: start;
        justify-self: center;
        font-size: 0.45rem;
        /* text-align: center; */
        width: 100%;
        overflow-x: auto;
        /* opacity: 0.8; */
        min-height: 0.45rem;
        word-break: break-word;
    }

</style>
