<script>

    import { createEventDispatcher } from 'svelte';

    import AgentChip from './AgentChip.svelte';

    export let agent;
    export let agentAnchorTarget = '_self';

    const dispatch = createEventDispatcher();
</script>


<div class="membership">
    <div class="agent">
        <AgentChip
            {agent}
            {agentAnchorTarget}
        />
    </div>
    <button type="button" class="delete__action reset__button" on:click="{() => dispatch('delete-request')}">
        <svg class="kicon delete-icon">
            <use xlink:href="symbol-defs.svg#icon-close-outline"></use>
        </svg>
    </button>
</div>


<style>

    .membership {
        display: grid;
        grid-template-columns: auto 1.5rem;
        align-items: center;
        justify-items: stretch;
        height: 100;
    }

    .delete__action {
        height: 100%;
        width: 100%;
        text-align: center;
    }

</style>
