<!--
    classified agent presenses based on their presense.
-->

<script>
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';

    import AgentsPresenseMap from './AgentsPresenseMap.svelte';


    export let agentIdPresenseMap;
    export let agentsGraph;
    export let agentsType = AclAgentType.USERS;

    export let ownAgentsSelection;
    export let inheritedAgentsSelection;

    function classify(presenseMap) {
        const inOwn = {};
        const inherited = {};
        Object.keys(presenseMap).forEach((agentId) => {
            const presense = presenseMap[agentId];
            if (presense.hasInOwn) {
                inOwn[agentId] = {
                    hasInOwn: true,
                };
            }
            if (presense.inheritedFrom) {
                inherited[agentId] = presense;
            }
        });
        return { inOwn, inherited };
    }

    $: ({ inOwn: ownAgentIdPresenseMap, inherited: inheritedAgentIdPresenseMap } = classify(agentIdPresenseMap));


    // $: console.log({ ownAgentsSelection });
    // $: console.log({ inheritedAgentsSelection });
</script>


<div class="wrapper">
    {#if Object.keys(ownAgentIdPresenseMap).length}
        <AgentsPresenseMap {agentsGraph} {agentsType} agentIdPresenseMap="{ownAgentIdPresenseMap}" bind:agentsSelection="{ownAgentsSelection}"/>
    {/if}

    {#if Object.keys(inheritedAgentIdPresenseMap).length}
        <h5 class="presense-class-title"><span>inherited</span></h5>
        <AgentsPresenseMap {agentsGraph} {agentsType} agentIdPresenseMap="{inheritedAgentIdPresenseMap}" bind:agentsSelection="{inheritedAgentsSelection}"/>
    {/if}
    
</div>


<style>

    .wrapper {
        display: grid;
        grid-template-rows: auto auto auto;
    }

    .presense-class-title {
        text-align: center;
        line-height: 0.1rem;
        border-bottom: 1px solid var(--c-sep);
        font-size: 0.6rem;
        font-weight: 450;
        color: var(--c-onp-hd);
        /* opacity: 0.8; */
        width: 9rem;
        justify-self: center;
    }

    .presense-class-title span {
        background: var(--c-p);
        padding: 0 0.5rem;
    }
</style>
