<script>

    import { AclAgentType, AclAgentTypes } from '@vedavaapi/acls/dist/agent-types';

    import { createEventDispatcher } from 'svelte';

    import AgentMembersList from './AgentMembersList.svelte';
    import Tabs from '../../../_components/Tabs.svelte';

    export let agentsSet = {};

    export let agentsGraph;
    export let agentsAnchorTarget;

    const agentTypesTabSpecs = [{ id: AclAgentType.USERS, label: 'Users' }, { id: AclAgentType.TEAMS, label: 'Teams' }];
    let selectedgentTypeTabId = AclAgentType.USERS;

    let worldWarningVisible = false;
    let worldIconVisible = true;

    const dispatch = createEventDispatcher();

    const requestAddMembers = () => dispatch('add-members-request');

    const addWorldToagents = () => {
        if (!Object.prototype.hasOwnProperty.call(agentsSet, AclAgentType.USERS)) {
            agentsSet[AclAgentType.USERS] = [];
        }
        const usersList = agentsSet[AclAgentType.USERS];
        if (usersList.includes('*')) return;
        agentsGraph['*'] = {
            jsonClass: 'User',
            _id: '*',
            name: '',
            email: '',
            picture: 'icon_wildcard.png',
        };
        usersList.push('*');
        agentsSet = agentsSet;
    };

    const isWorldSelected = () => {
        if (!agentsSet[AclAgentType.USERS]) return false;
        if (agentsSet[AclAgentType.USERS].includes('*')) return true;
        return false;
    };

    const onWorldWarningConfirm = () => {
        addWorldToagents();
        worldWarningVisible = false;
    };

    // eslint-disable-next-line no-unused-expressions
    $: agentsSet && (worldIconVisible = !isWorldSelected());
</script>


<div class="container">

    <div class="agents-types" class:agents--types--no-world="{!worldIconVisible}">
        <div class="agents-tabs">
            <Tabs
                tabSpecs="{agentTypesTabSpecs}"
                bind:currentTabId="{selectedgentTypeTabId}"
            />        
        </div>
        <button type="button" class="add-world reset__button" title="Allow world" on:click="{() => { worldWarningVisible = true; }}" class:hidden="{!worldIconVisible}">
            <svg class="kicon add-world-icon">
                <use xlink:href="symbol-defs.svg#icon-globe"></use>
            </svg>
        </button>
        <button type="button" class="add-agent reset__button" title="Add new agents" on:click="{requestAddMembers}">
            <svg class="kicon add-agent-icon">
                <use xlink:href="symbol-defs.svg#icon-add-outline"></use>
            </svg>
        </button>
    </div>

    <div class="agents-set">
        {#each AclAgentTypes as agentType(agentType)}
            <div class="agents-list" class:hidden="{selectedgentTypeTabId !== agentType}">
                {#if !agentsSet[agentType].length}
                    <div class="agents-list__empty-status">
                        No {agentType} selected
                    </div>
                {/if}
                <AgentMembersList
                    { agentType }
                    bind:agentIds="{agentsSet[agentType]}"
                    {agentsGraph}
                    {agentsAnchorTarget}
                />
            </div>
        {/each}
    </div>

    <div class="world-warning" class:hidden="{!worldWarningVisible}">
        <div class="world-warning__text">
            <span class="warning-em">Are you sure?</span> Please confirm that you want to select World for Selected actions.
        </div>
        <button type="button" class="world-warning__cancel reset__button" on:click="{() => { worldWarningVisible = false; }}">
            Cancel
        </button>
        <button type="button" class="world-warning__confirm reset__button" on:click="{ onWorldWarningConfirm }">
            Confirm
        </button>
    </div>


</div>


<style>

    .container {
        position: relative;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .agents-types {
        display: grid;
        grid-template-columns: auto 1rem 1rem;
        padding: 0.1rem 0.3rem;
        background-color: var(--c-sep);
        gap: 0.3rem;
    }

    .agents--types--no-world {
        grid-template-columns: auto 1rem;
    }

    .agents-set {
        padding: 0rem;
        margin-top: 0.5rem;
        overflow: auto;
    }

    .agents-list__empty-status {
        text-align: center;
        color: var(--c-s);
    }

    .world-warning {
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        width: 100%;
        height: 7rem;
        padding: 1rem;
        background-color: var(--c-action-bar);
        box-shadow: 1px -2px 9px 0px rgba(0, 0, 0, 0.3);

        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1.5rem;
        grid-template-areas: 'warning warning'
                                        'cancel confirm';
        gap: 0.5rem;
    }

    .world-warning__text {
        grid-area: warning;
    }

    .warning-em {
        color: darkred;
    }

    .world-warning__cancel {
        grid-area: cancel;
    }

    .world-warning__confirm {
        grid-area: confirm;
    }

    .world-warning__cancel, .world-warning__confirm {
        border: 1px solid var(--c-s);
        padding: 0.15rem;
        font-weight: 600;
        font-size: 0.75rem;
    }

</style>
