<script>
    import { createEventDispatcher, getContext } from 'svelte';
    // eslint-disable-next-line no-unused-vars
    import { AclAgentType, AclAgentTypes } from '@vedavaapi/acls/dist/agent-types';

    import { getAgentType } from '../utils';
    import { kScrollToAndExpandNode } from '../context-keys';

    import AgentChip from './AgentChip.svelte';

    export let presense;
    export let agent;

    export let selected = false;

    const agentType = getAgentType(agent);

    const dispatch = createEventDispatcher();
    const scrollToAndExpandResNode = getContext(kScrollToAndExpandNode);
</script>


<div class="presense" class:presense--inherited="{!!presense.inheritedFrom}">
    <div class="selector">
        <input type="checkbox" bind:checked="{selected}" on:change="{(e) => dispatch('selectionChange', e.target.checked)}">
    </div>

    <div class="agent">
        <AgentChip {agent}/>
    </div>

    {#if presense.inheritedFrom}
        <div class="inherit-link">
            <button type="button" class="reset__button inherit-link__button inherit-link__button--{agentType}" on:click="{() => scrollToAndExpandResNode(presense.inheritedFrom)}" title="{presense.inheritedFrom}">
                <svg class="kicon kicon-arrow"><use xlink:href="symbol-defs.svg#icon-arrow-outline-down"></use></svg>
            </button>
        </div>
    {/if}
</div>


<style>
    .presense {
        display: grid;
        grid-template-columns: 1.5rem auto;
        align-items: center;
        justify-items: stretch;
        height: 100%;;
    }

    .presense--inherited {
        grid-template-columns: 1.5rem auto 1.5rem;
    }

    .selector {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .agent {
        height: 100%;
        border-left: 2px solid var(--c-sd);
    }

    .inherit-link {
        height: 100%;
        width: 100%;
    }

    .inherit-link__button {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .inherit-link__button--users {
        color: var(--c-sd);
    }

    .inherit-link__button--teams {
        color: var(--c-sd);
    }

    .kicon-arrow {
        height: 0.8rem;
        width: 0.8rem;
        /* opacity: 0.7; */
        margin-bottom: 0.05rem;
    }


</style>
