<script>
    import { createEventDispatcher } from 'svelte';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    import AgentMember from './AgentMember.svelte';

    const dispatch = createEventDispatcher();
    export let agentsType = AclAgentType.USERS;
    export let agentIds = [];
    export let agentsGraph;
    export let agentsAnchorTarget;
    export let collectionViewMode = 'list';
    $: isInGridMode = collectionViewMode === 'grid';

    function getAgent(agentId) {
        return agentsGraph[agentId] || { jsonClass: agentsType === AclAgentType.USERS ? 'User' : 'Team', _id: agentId };
    }

    const removeAgent = (agentId) => {
        if (!agentIds.includes(agentId)) return;
        agentIds.splice(agentIds.indexOf(agentId), 1);
        agentIds = agentIds;
        dispatch('member-remove-request');
    };
</script>


<div
    class="container"
    class:container--list="{!isInGridMode}"
    class:container--grid="{isInGridMode}"
>
    {#each agentIds as agentId(agentId)}
        <div class="agent">
            <AgentMember
                agent="{getAgent(agentId)}"
                agentAnchorTarget="{agentsAnchorTarget}"
                on:delete-request="{() => removeAgent(agentId)}"
            />
        </div>
    {/each}
    </div>


<style>
    .container {
        display: grid;
        max-width: 100%;
        gap: 0.3em;
        padding-bottom: 0.3em;
    }

    .container--list {
        grid-template-columns: 1fr;
    }

    .container--grid {
        grid-template-columns: repeat(auto-fill, minmax(auto, var(--agent-max-width, 15em)));
        justify-content: var(--agent-grid-justify, center);
        align-content: center;
        grid-row-gap: 1em;
        grid-column-gap: 0.7em;
    }

    .agent {
        border: var(--agent-border, 1px solid var(--c-sep));
        border-radius: 1rem;
        margin-bottom: 0.3rem;
        background: var(--agent-bg, inherit);
    }

    .agent:last-child {
        margin-bottom: 0.1rem;
    }
</style>
