<script>

    import { AclAgentType, AclAgentTypes } from '@vedavaapi/acls/dist/agent-types';
    import { _ } from 'svelte-i18n';

    import { toTitleCase } from '../../../../utils';

    import Tabs from '../../../_components/Tabs.svelte';
    import AgentsSelector from './AgentsSelector.svelte';

    export let vc;
    export let allowedAgentTypes = AclAgentTypes.reverse();
    export let agentsAnchorTarget;
    let effectiveAgentTypes = allowedAgentTypes.filter((agentType) => AclAgentTypes.includes(agentType));
    effectiveAgentTypes = effectiveAgentTypes.length ? effectiveAgentTypes : AclAgentTypes;

    let currentTabId = effectiveAgentTypes[0];

    const initialized = {
        [AclAgentType.USERS]: false,
        [AclAgentType.TEAMS]: false,
    };

    function initializeTabViews() {
        if (currentTabId === AclAgentType.USERS && !initialized[AclAgentType.USERS]) {
            initialized[AclAgentType.USERS] = true;
        }
        if (currentTabId === AclAgentType.TEAMS && !initialized[AclAgentType.TEAMS]) {
            initialized[AclAgentType.TEAMS] = true;
        }
    }

    export let selectedAgentsSet = {
        [AclAgentType.USERS]: {},
        [AclAgentType.TEAMS]: {},
    };

    export let cumulativeAgentsCache = {
        [AclAgentType.USERS]: {},
        [AclAgentType.TEAMS]: {},
    };

    const agentTypeTabSpecs = effectiveAgentTypes.map((agentType) => ({
        id: agentType,
        label: $_(`g.${agentType}`),
    }));

    // eslint-disable-next-line no-unused-expressions
    $: currentTabId && initializeTabViews();

    // $: console.log({ selectedAgentsSet });
</script>


<div class="container">

    <div class="tabs">
        <Tabs tabSpecs="{agentTypeTabSpecs}" bind:currentTabId="{currentTabId}"/>
    </div>

    <div class="agents-selectors">
        {#each effectiveAgentTypes as agentType(agentType)}
            {#if initialized[agentType]}
                <div class="agents-selector" class:hidden="{currentTabId !== agentType}">
                    <AgentsSelector
                        {vc} agentsType="{agentType}"
                        bind:usersSelection="{selectedAgentsSet[AclAgentType.USERS]}"
                        bind:teamsSelection="{selectedAgentsSet[AclAgentType.TEAMS]}" {agentsAnchorTarget}
                        cumulativeUsersCache="{cumulativeAgentsCache[AclAgentType.USERS]}"
                        cumulativeTeamsCache="{cumulativeAgentsCache[AclAgentType.TEAMS]}"
                    />
                </div>
            {/if}
        {/each}
    </div>

</div>


<style>

    .container {
        display: grid;
        gap: 0.5rem;
        grid-template-rows: auto 1fr;
        height: 100%;
    }

    .agents-selectors {
        overflow: auto;
    }

    .agents-selector {
        height: 100%;
        --sal-aw-br: 1em;
    }

</style>
