<script>

    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    import { createEventDispatcher } from 'svelte';

    import MultiAgentsSelector from './MultiAgentsSelector.svelte';

    export let vc;
    export let allowedAgentTypes = [AclAgentType.TEAMS, AclAgentType.USERS];
    export let selectedAgentsSet;
    export let cumulativeAgentsCache;
    export let agentsAnchorTarget;
    export let title = 'Select agents';
    export let commitLabel = 'GO';

    const dispatch = createEventDispatcher();

    const requestClose = () => dispatch('close-request');

    const requestCommit = () => dispatch('commit-request', { selectedAgentsSet, cumulativeAgentsCache });
</script>


<div class="container">
    <div class="header">
        <div class="header__title">
            {title}
        </div>
        <button type="button" class="close reset__button" title="Close agents selector" on:click="{requestClose}">
            <svg class="kicon close-selector-icon">
                <use xlink:href="symbol-defs.svg#icon-close-outline"></use>
            </svg>
        </button>
    </div>
    
    <div class="selector">
        <MultiAgentsSelector {vc} {allowedAgentTypes} bind:selectedAgentsSet {agentsAnchorTarget} bind:cumulativeAgentsCache/>
    </div>

    <div class="commit">
        <button type="button" class="commit__do reset__button " on:click="{requestCommit}">{commitLabel}</button>
    </div>


</div>


<style>

    .container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;
    }

    .header {
        background-color: var(--c-sd);
        color: var(--c-p);
        display: grid;
        grid-template-columns:1fr 1rem;
        padding: 0 0.3rem 0 1.3rem;
        font-size: 0.9rem;
        min-height: 1.3rem;
        align-content: center;
        justify-items: center;
        border-top-left-radius: var(--mhdr-btlr, 0em);
        border-top-right-radius: var(--mhdr-btrr, 0em);
    }

    .selector {
        overflow: auto;
        background-color: var(--mbd-bg, var(--c-p));
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .commit {
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--c-action-bar);
        /* margin-top: 0.7rem; */
        justify-items: stretch;
        padding: 0.2rem;
        border-bottom-left-radius: var(--mgo-bblr, 0em);
        border-bottom-right-radius: var(--mhdr-btrr, 0em);
    }

    .commit__do {
        text-align: center;
        text-transform: uppercase;
    }

</style>
