<script>
    import SelectableNestedTeam from './SelectableNestedTeam.svelte';


    export let agentsIds = [];
    /** @type {IGraph} */
    export let agentsGraph;
    export let agentsAnchorTarget = '_self';


    export let teamsSelection = {};
    export let nestedUsersSelection = {};
    export let cumulativeUsersCache = {};

    export let vc;
</script>


<div class="container">
    {#each agentsIds as agentId(agentId)}
        <div class="sel-agent-wrapper">
            <SelectableNestedTeam
                {vc}
                team="{agentsGraph[agentId]}"
                bind:selected="{teamsSelection[agentId]}"
                agentsAnchorTarget="{agentsAnchorTarget}"
                bind:nestedUsersSelection
                bind:cumulativeUsersCache
            />
        </div>
    {/each}
</div>


<style>
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.4rem;
        justify-content: center;
        width: 100%;
    }

    /*.selectable-agents-list--teams {
        grid-template-columns: repeat(auto-fill, minmax(auto, 10rem));
    }*/

    .sel-agent-wrapper {
        border: 1px dotted var(--c-s);
        border-radius: 1rem;
        --snt-t-btr: 1rem;
        --snt-t-bbr: 1rem;
        --snt-t-betr: 1rem;
        --snt-t-bebr: 0rem;
        --snt-m-bbr: 1rem;
    }

</style>
