<!--
    It is hoomogenous collection of agentPresenses. of same agentType
-->

<script>
    import SelectableAgent from './SelectableAgent.svelte';

    export let agentsIds = [];
    /** @type {IGraph} */
    export let agentsGraph;
    // $: console.log({ agentsGraph, agentsIds });
    export let agentsAnchorTarget = '_self';

    export let agentsSelection = {};
</script>


<div class="container">
    {#each agentsIds as agentId(agentId)}
        <div class="sel-agent-wrapper">
            <SelectableAgent agent="{agentsGraph[agentId]}" bind:selected="{agentsSelection[agentId]}" agentAnchorTarget="{agentsAnchorTarget}"/>
        </div>
    {/each}
</div>


<style>
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.4rem;
        justify-content: center;
        width: 100%;
    }

    /*.selectable-agents-list--teams {
        grid-template-columns: repeat(auto-fill, minmax(auto, 10rem));
    }*/

    .sel-agent-wrapper {
        /* border: var(--sal-aw-b, 1px dotted var(--c-s));
        border-radius: 1rem;*/
        border-bottom: var(--sal-aw-b, 1px dotted var(--c-s));
        border-radius: var(--sal-aw-br, 1em);
    }

</style>
