<script>
    import { createEventDispatcher } from 'svelte';
    // eslint-disable-next-line no-unused-vars
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';

    import AgentChip from './AgentChip.svelte';
    import AgentsSelector from './AgentsSelector.svelte';

    /** @type {IResource} */
    export let team;
    export let agentsAnchorTarget = '_self';
    export let vc;

    export let selected = false;

    export let nestedUsersSelection = {};
    export let cumulativeUsersCache = {};

    const dispatch = createEventDispatcher();

    let usersExpanded = false;
    let expandedOnce = false;

    function toggleNestedUsers() {
        usersExpanded = !usersExpanded;
        if (!expandedOnce && usersExpanded) {
            expandedOnce = true;
        }
    }

    function onClick(e) {
        if (['A'].includes(e.target.tagname)) return;
        selected = !selected;
    }
</script>


<div class="container">
    <div class="selectable-agent" class:selectable-agent--expanded="{usersExpanded}" on:click="{onClick}">
        <div class="selector">
            <input type="checkbox" bind:checked="{selected}" on:change="{(e) => dispatch('selectionChange', e.target.checked)}">
        </div>

        <div class="agent">
            <AgentChip agent="{team}" agentAnchorTarget="{agentsAnchorTarget}"/>
        </div>

        <button type="button" class="members-toggler" class:members-toggler--expanded="{usersExpanded}" on:click|preventDefault|stopPropagation="{toggleNestedUsers}">
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-list-bullet"></use>
            </svg>
            <svg class="kicon">
                <use xlink:href="symbol-defs.svg#icon-cheveron-{usersExpanded ? 'down' : 'right'}"></use>
            </svg>
        </button>
    </div>

    <div class="members-selector" class:hidden="{!usersExpanded}">
        {#if expandedOnce}
            <AgentsSelector
                {agentsAnchorTarget}
                agentsType="{AclAgentType.USERS}"
                bind:usersSelection="{nestedUsersSelection}"
                { cumulativeUsersCache }
                { vc }
                membersQuery="{true}"
                teamId="{team._id}"
            />
        {/if}
    </div>
</div>


<style>
    .selectable-agent {
        display: grid;
        grid-template-columns: 1.5rem auto minmax(auto, 3.5em);
        align-items: center;
        justify-items: stretch;
        height: 100%;
        cursor: pointer;
    }

    .selectable-agent--expanded {
        border-bottom: 1px solid var(--c-sep);
    }

    .selector {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .agent {
        height: 100%;
        border-left: 2px solid var(--c-sd);
    }

    .members-toggler {
        border: none;
        align-self: stretch;
        border-top-right-radius: var(--snt-t-btr, 0em);
        border-bottom-right-radius: var(--snt-t-bbr, 0em);
    }

    .members-toggler:focus {
        border: none;
        outline: none;
    }

    .members-toggler--expanded {
        border-top-right-radius: var(--snt-t-betr, 0em);
        border-bottom-right-radius: var(--snt-t-bebr, 0em);
    }

    .members-selector {
        --as-max-width: 100%; /*agent-selector*/
        --sa-abl: none; /*selectable-agent: agent-border-left*/
        --sal-aw-b: none; 
        max-width: 85%;
        margin-left: auto;
        border-radius: 0.8em;
        border-top-right-radius: 0em;
        border-bottom-right-radius: var(--snt-m-bbr, 0.8em);
        background-color: var(--c-contrast2);
        overflow: hidden;
        padding: 0.3em;
    }

</style>

