<script>
    // eslint-disable-next-line no-unused-vars
    import { AclAgentType, AclAgentTypes } from '@vedavaapi/acls/dist/agent-types';

    // import { getAgentType } from '../utils';

    import AgentChip from './AgentChip.svelte';

    /** @type {IResource} */
    export let agent;
    export let agentAnchorTarget = '_self';

    export let selected = false;

    // const agentType = getAgentType(agent);
    function onClick(e) {
        if (e.target.tagname === 'A') return;
        selected = !selected;
    }
</script>


<div class="selectable-agent" on:click="{onClick}">
    <div class="selector">
        <input type="checkbox" bind:checked="{selected}">
    </div>

    <div class="agent">
        <AgentChip {agent} {agentAnchorTarget}/>
    </div>
</div>


<style>
    .selectable-agent {
        display: grid;
        grid-template-columns: 1.5rem auto;
        align-items: center;
        justify-items: stretch;
        height: 100%;
        cursor: pointer;
    }

    .selector {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .agent {
        height: 100%;
        border-left: var(--sa-abl, 2px solid var(--c-sd));
    }

</style>
