<script>
    import { request } from '@vedavaapi/web';
    import { onMount } from 'svelte';
    import { createForm } from 'svelte-forms-lib';

    export let apps = [];

    const unAuthorizeApp = async (app) => {
        try {
            await request('apps', {
                method: 'DELETE',
                body: new URLSearchParams({
                    apps: JSON.stringify([app]),
                }),
            });
            apps.pop(app);
            apps = apps;
        } catch (e) {
            alert('error in unauthorizing app');
        }
    };

    const authorizeApp = async (app) => {
        try {
            await request('apps', {
                method: 'POST',
                body: new URLSearchParams({
                    apps: JSON.stringify([app]),
                }),
            });
            apps.push(app);
            apps = apps;
        } catch (e) {
            alert('error in authorizing app');
        }
    };

    const { form: authForm, handleSubmit } = createForm({
        initialValues: {
            _id: null,
            url: null,
        },
        onSubmit: async (data) => {
            await authorizeApp(data);
        },
    });

    onMount(async () => {
        let resp;
        try {
            resp = await request('apps');
        } catch (e) {
            alert('error in getting apps list');
            return;
        }
        apps = Object.keys(resp.data.apps).map((appId) => ({
            _id: appId,
            url: resp.data.apps[appId],
        }));
    });
</script>

<h3>Apps authorized</h3>
<table>
    {#each apps as app (app._id)}
        <tr>
            <td>{app._id}</td>
            <td>{app.url}</td>
            <td>
                <button type="button" on:click={() => unAuthorizeApp(app)}>unauthorize</button>
            </td>
        </tr>
    {/each}
</table>

<br><hr><br>

<form on:submit={handleSubmit}>
    <formset>
        <legend><h3>Authorize an app</h3></legend>
        <label>
            _id<br>
            <input type="text" name="_id" bind:value={$authForm._id}>
        </label>

        <label>
            url: <br>
            <input type="text" name="url" bind:value={$authForm.url}>
        </label>

        <button type="submit">Authorize</button>
    </formset>
</form>

<style>
    label {
        display: block;
        margin: 1em;
    }

    td {
        display: inline-block;
        margin: 2em;
    }
</style>
