<script>

    import { AclsHierarchyHandler } from '@vedavaapi/acls/dist/handler';

    import { STATUS_PENDING, STATUS_PROGRESS, STATUS_SUCCESS, STATUS_FAILURE } from '../../../../constants';

    import FetchErrorReport from '../../../../components/FetchErrorReport.svelte';
    import ResolvedAclsHierararchy from './ResolvedAclsHierararchy.svelte';

    export let vc;
    export let resId;

    let loadStatus = STATUS_PENDING;
    let loadError;

    let lastUpdatedAcl;

    let aclHierarchyHandler = new AclsHierarchyHandler(resId);

    const resolvePromise = async (promise) => {
        loadStatus = STATUS_PROGRESS;
        try {
            await promise;
            loadStatus = STATUS_SUCCESS;
            loadError = undefined;
            aclHierarchyHandler = aclHierarchyHandler;
        } catch (error) {
            loadError = error;
            loadStatus = STATUS_FAILURE;
        }
    };

    const initialize = async () => {
        resolvePromise(aclHierarchyHandler.init(vc));
    };

    const reResolve = async () => {
        resolvePromise(aclHierarchyHandler.syncUpdate(lastUpdatedAcl));
    };

    initialize();
</script>


<div class="container">

    <div class="status status-pending" class:hidden="{loadStatus !== STATUS_PENDING}">
        Initializing
    </div>

    <div class="status status-progress" class:hidden="{loadStatus !== STATUS_PROGRESS}">
        Loading Acls ...
    </div>

    <div class="resolved-acls-hierarchy" class:hidden="{loadStatus !== STATUS_SUCCESS}">
        <ResolvedAclsHierararchy
            resolvedAclsGraph="{aclHierarchyHandler.resolvedAclsGraph}"
            hierarchy="{aclHierarchyHandler.resourcesHierarchy}"
            resGraph="{aclHierarchyHandler.resGraph}"
            agentsGraph="{aclHierarchyHandler.agentsGraph}"
            on:re-resolve-request="{(event) => {
                ({ updatedAcl: lastUpdatedAcl } = event.detail);
                reResolve();
            }}"
            {vc}
        />
    </div>

    <div class="status status-error" class:hidden="{loadStatus !== STATUS_FAILURE}">
        <FetchErrorReport
            action="loading acls"
            error="{loadError}"
            on:retry="{lastUpdatedAcl ? reResolve : initialize}"
        />
    </div>

</div>


<style>

    .container {
        /* display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center; */
        width: 100%;
        height: 100%;
    }

    .status {
        text-align: center;
        font-size: 0.8rem;
        display: grid;
        height: 100%;
        width: 100%;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }

</style>
