<!--
    TODO test with multi parented nodes. optimize ui
-->
<script>
    import { ResHelper } from '../utils';

    import Tabs from '../../../_components/Tabs.svelte';


    /** @type {Array<IResourceHierarchy>} */
    export let hierarchies;

    export let selectedHierarchyResId = hierarchies[0].resId; // for outside

    export let selectedHierarchyCurrentBranch; // for recursion, for outside
    
    /** @type {IGraph} */
    export let resGraph;

    const currentBranches = {};

    const computeTabSpecs = () => hierarchies.map((hierarchy) => {
        const res = resGraph[hierarchy.resId];
        const resName = ResHelper.name(res) || hierarchy.resId;
        return {
            id: hierarchy.resId,
            label: resName,
            title: resName,
        };
    });
    $: tabSpecs = hierarchies && computeTabSpecs();

    $:selectedHierarchyCurrentBranch = [selectedHierarchyResId].concat(currentBranches[selectedHierarchyResId] || []);

    // $: console.log({ selectedHierarchyCurrentBranch, currentBranches });
</script>


<div>
    <div class="hierarchies">
        {#each hierarchies as hierarchy(hierarchy.resId)}
            <div class="hierarchy" class:hidden="{ selectedHierarchyResId !== hierarchy.resId }">
                {#if hierarchy.parents && hierarchy.parents.length}
                     <svelte:self
                        hierarchies="{hierarchy.parents}"
                        {resGraph}
                        bind:selectedHierarchyCurrentBranch="{currentBranches[hierarchy.resId]}"
                     />
                {/if}
            </div>
        {/each}
    </div>
    <div class="tabs">
        <Tabs
            tabSpecs="{tabSpecs}"
            bind:currentTabId="{selectedHierarchyResId}"
        />
    </div>
</div>


<style>
    .hierarchies {
        margin: 0 auto 2.5rem auto;
    }

    .tabs {
        margin: 0 auto;
    }

</style>
