<script>
    import { createEventDispatcher } from 'svelte';

    import { ResHelper } from '../utils';
    import ResHierarchies from './ResHierarchies.svelte';
    import Tabs from '../../../_components/Tabs.svelte';

    export let hierarchy;
    export let resGraph;
    export let currentBranch;

    const contextTabSpecs = [{ id: 'tree', label: 'Tree' }, { id: 'branch', label: 'Branch' }];
    let selectedContextTabId = 'branch';

    const dispatch = createEventDispatcher();
</script>


<div>
    <div class="context-tabs">
        <Tabs
            tabSpecs="{contextTabSpecs}"
            bind:currentTabId="{selectedContextTabId}"
        />
    </div>

    <div class="contexts">
        <div class="context-tree" class:hidden="{selectedContextTabId !== 'tree'}">
            {#if hierarchy}
                <ResHierarchies
                    hierarchies="{[hierarchy]}"
                    {resGraph}
                    bind:selectedHierarchyCurrentBranch="{currentBranch}"
                />
            {/if}
        </div>
        <div class="context-branch" class:hidden="{selectedContextTabId !== 'branch'}">
            {#if currentBranch}
                <div class="branch">
                    {#each [...currentBranch].reverse() as nodeId(nodeId)}
                        <button type="button" class="branch__node" on:click="{() => dispatch('res-node-nav-request', nodeId)}">
                            {ResHelper.name(resGraph[nodeId]) || resGraph[nodeId]._id}
                        </button>
                    {/each}
                </div>
            {/if}
        </div>
    </div>
</div>


<style>

    .branch__node {
        display: block;
        margin: 0 auto 2.5rem auto;
    }

</style>
