<script>
    import { ResHelper } from '../utils';

    export let res;

    $: name = ResHelper.name(res);
    $: classLabel = ResHelper.classLabel(res);
    $: label = ResHelper.label(res);
</script>

<div class="res">
    <div class="label">
        <span class="name">{name}</span>
         : 
        <span class="label__class">{classLabel}</span>
    </div>

    <div class="id">{res._id || ''}</div>
</div>


<style>
    .res {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-template-rows: auto auto;
        font-size: 0.8rem;
    }

    .label {
        font-weight: 600;
    }

    .id {
        font-size: 0.6rem;
    }
</style>
