<script>
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    import { AclControl } from '@vedavaapi/acls/dist/controls';

    import { createEventDispatcher, getContext } from 'svelte';

    import { kAclUpdatePermitted } from '../context-keys';
    import AgentsPresenseMapClassified from '../agents/AgentsPresenseMapClassified.svelte';


    export let control;

    /** @type {IInheritedAgentSet} */
    export let inheritedAgentSet;
    $: nonEmptyAgentTypes = Object.keys(inheritedAgentSet).filter((k) => Object.keys(inheritedAgentSet[k]).length > 0);

    /** @type {IGraph} */
    export let agentsGraph;

    export let opsAvailablities = { add: true, remove: true, revokeInherited: true };

    export let ownAgentsSelectionMap;

    export let inheritedAgentsSelectionMap;

    const resetSelectionMaps = () => {
        ownAgentsSelectionMap = {
            [AclAgentType.USERS]: {},
            [AclAgentType.TEAMS]: {},
        };
        inheritedAgentsSelectionMap = {
            [AclAgentType.USERS]: {},
            [AclAgentType.TEAMS]: {},
        };
    };

    // eslint-disable-next-line no-unused-expressions
    $: inheritedAgentSet, resetSelectionMaps();


    const dispatch = createEventDispatcher();

    const aclsUpdatePermitted = !!getContext(kAclUpdatePermitted);

    function requestAclUpdateOp(method, agentsSelectionMap, cntrl = control) {
        const getSelectedAgentIds = (selection) => Object.keys(selection).filter((agentId) => !!selection[agentId]);
        const opDirectives = {
            method,
            control: cntrl,
            userIds: agentsSelectionMap ? getSelectedAgentIds(agentsSelectionMap[AclAgentType.USERS]) : [],
            teamIds: agentsSelectionMap ? getSelectedAgentIds(agentsSelectionMap[AclAgentType.TEAMS]) : [],
        };
        // console.log({ opDirectives });
        dispatch('aclUpdateRequest', opDirectives);
    }


    const isAnySelected = (selection) => Object.keys(selection).some((k) => !!selection[k]);
</script>

<div class="wrapper">
    {#if aclsUpdatePermitted}
        <div class="ops">
            <button
                class="op reset__button"
                class:hidden="{!opsAvailablities.add}"
                on:click="{() => requestAclUpdateOp('post')}">
                    <svg class="kicon kicon-op"><use xlink:href="symbol-defs.svg#icon-add-outline"></use></svg>ADD
            </button>

            <button
                class="op reset__button"
                class:hidden="{!opsAvailablities.remove || !(isAnySelected(ownAgentsSelectionMap.users) || isAnySelected(ownAgentsSelectionMap.teams))}"
                on:click="{() => requestAclUpdateOp('delete', ownAgentsSelectionMap)}">
                    <svg class="kicon kicon-op"><use xlink:href="symbol-defs.svg#icon-minus-outline"></use></svg>REMOVE
            </button>

            <button
                class="op reset__button"
                class:hidden="{!opsAvailablities.revokeInherited || !(isAnySelected(inheritedAgentsSelectionMap.users) || isAnySelected(inheritedAgentsSelectionMap.teams))}"
                on:click="{() => requestAclUpdateOp('post', inheritedAgentsSelectionMap, AclControl.REVOKE)}">
                    <svg class="kicon kicon-op"><use xlink:href="symbol-defs.svg#icon-close"></use><use xlink:href="symbol-defs.svg#icon-arrow-outline-down"></use></svg>REVOKE-INH
            </button>
        </div>
    {/if}

    <div class="agent-set">
        {#each nonEmptyAgentTypes as agentType(agentType)}
            <div class="agents-presense agents-presense--{agentType}">
                <div class="agents-presense__type">{agentType}</div>
                <AgentsPresenseMapClassified
                    agentIdPresenseMap="{inheritedAgentSet[agentType]}"
                    {agentsGraph}
                    agentsType="{agentType}"
                    bind:ownAgentsSelection="{ownAgentsSelectionMap[agentType]}"
                    bind:inheritedAgentsSelection="{inheritedAgentsSelectionMap[agentType]}"
                />
            </div>
        {/each}
    </div>
</div>


<style>
    .wrapper {
    }

    .agent-set {
        padding: 0.3rem;
    }

    .wrapper > div {
        border-top: 1px dashed grey;
    }

    .wrapper > div:first-child {
        border-top: none;
    }

    .agents-presense {
        border-bottom: 3px dashed var(--c-sep);
        padding: 0.3rem 0.3rem 0.5rem;
    }

    .agents-presense:last-child {
        padding-bottom: 0rem;
        border-bottom: none;
    }

    .agents-presense:first-child {
        padding-top: 0rem;
    }

    .agents-presense__type {
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--c-s);
        margin-bottom: 0.5rem;
    }

    .ops {
        /* background-color: var(--c-contrast); */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3rem, 5rem));
        gap: 0.2rem;
        align-items: center;
        /*justify-items: center;
        justify-content: center;
        max-width: 25rem;*/
        justify-items: center;
        justify-content: end;
        margin: 0 auto;
        padding: 0.1rem;
        height: 1.5rem;
    }

    .op {
        font-size: 0.5rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
        background-color: var(--c-contrast);
        width: 100%;
        text-align: center;
        padding: 0.2rem;
        border-radius: 0.75rem;
    }

    .op:hover {
        background-color: var(--c-sep);
    }

    .kicon-op {
        height: 0.6rem;
        width: 0.6rem;
        margin: 0 0.2rem;
    }
    
</style>
