<script>
    import { setContext, tick } from 'svelte';

    import { kScrollToAndExpandNode } from '../context-keys';
    import ResolvedAclResWrapper from './ResolvedAclResWrapper.svelte';

/** @type {IResolvedAclsGraph} */
    export let resolvedAclsGraph;
    /** @type {IResourceHierarchyBranch} */
    export let hierarchyBranch = [];
    $: hierarchyBranchReversed = [...hierarchyBranch].reverse();
    /** @type {IGraph} */
    export let resGraph;
    /** @type {IGraph} */
    export let agentsGraph;

    $: resIdExpandedMap = hierarchyBranch.length ? { [hierarchyBranch[0]]: true } : {};
    let branchNode;
    const resIdNodeDivMap = {};

    export const toggleResAcl = (resId) => {
        resIdExpandedMap[resId] = !resIdExpandedMap[resId];
    };

    export const setResAclVisibility = (resId) => {
        resIdExpandedMap[resId] = true;
    };

    export const scrollToResNode = (resId) => {
        const resNodeDiv = resIdNodeDivMap[resId];
        if (!resNodeDiv) return;
        resNodeDiv.scrollIntoView({ behaviour: 'smooth' });
        resNodeDiv.style.boxShadow = '1px 1px 10px rgba(0, 0, 0, 0.2)';
        setTimeout(() => {
            resNodeDiv.style.boxShadow = 'none';
        }, 3000);
    };

    export const scrollToAndExpandResNode = async (resId) => {
        setResAclVisibility(resId);
        await tick();
        scrollToResNode(resId);
    };

    setContext(kScrollToAndExpandNode, scrollToAndExpandResNode);
</script>

<div class="branch" bind:this="{branchNode}">
    {#each hierarchyBranchReversed as resId(resId)}
        <div class="branch__node" bind:this="{resIdNodeDivMap[resId]}">
            <ResolvedAclResWrapper
                resolvedAcl="{resolvedAclsGraph[resId]}"
                res="{resGraph[resId]}"
                {agentsGraph}
                expanded="{!!resIdExpandedMap[resId]}"
                on:aclUpdateRequest
            />
        </div>
    {/each}
</div>


<style>

    .branch__node {
        margin-bottom: 1.5rem;
    }

    .branch__node:last-child {
        margin-bottom: 0.3rem;
    }

</style>
