<script>
    import { AclAction } from '@vedavaapi/acls/dist/actions';

    import ResolvedActionControls from './ResolvedActionControls.svelte';
    import Tabs from '../../../_components/Tabs.svelte';

    export let resolvedAcl;
    export let agentsGraph;

    export const AclActionsOrdered = [
        AclAction.READ,
        AclAction.DELETE,
        AclAction.CREATE_CHILDREN, AclAction.CREATE_ANNOS,
        AclAction.UPDATE_CONTENT, AclAction.UPDATE_LINKS, AclAction.UPDATE_PERMISSIONS,
    ];

    export const AclActionLabels = {
        [AclAction.READ]: { s: 'R', l: 'Read' },
        [AclAction.DELETE]: { s: 'D', l: 'Delete' },
        [AclAction.UPDATE_CONTENT]: { s: 'U-content', l: 'Update content' },
        [AclAction.UPDATE_LINKS]: { s: 'U-links', l: 'Update links' },
        [AclAction.UPDATE_PERMISSIONS]: { s: 'U-perms', l: 'Update permissions' },
        [AclAction.CREATE_ANNOS]: { s: 'C-annos', l: 'Create annos' },
        [AclAction.CREATE_CHILDREN]: { s: 'C-children', l: 'Create children' },
    };

    const actionTabSpecs = AclActionsOrdered.map((action) => ({ id: action, label: AclActionLabels[action].s, title: AclActionLabels[action].l }));
    let selectedActionTabId = AclAction.READ;
</script>


<div>
    <div style="display:content;" class="tabs-wrapper">
        <Tabs
            tabSpecs="{actionTabSpecs}"
            bind:currentTabId="{selectedActionTabId}"
        />
    </div>

    <div class="ractions">
        {#each AclActionsOrdered as action(action)}
            <div class="raction" class:hidden="{selectedActionTabId !== action}">
                <ResolvedActionControls
                    {action}
                    actionResolvedAgents="{resolvedAcl[action]}"
                    { agentsGraph }
                    on:aclUpdateRequest
                />
            </div>
        {/each}
    </div>
</div>


<style>
    .tabs-wrapper {
        height: 2rem;
        background-color: var(--c-sep);

        --tabs-text-color: var(--c-onp-hd);
        --tabs-selected-tab-bg: var(--c-p);
        --tabs-tab-border-color: #ddd;
        --tabs-anchor-hover-color: var(--c-sd);
        /* --tabs-justify: center; */
    }

    .ractions {
        padding: 0.2rem;
    }
</style>
