<script>
    // eslint-disable-next-line no-unused-vars
    import { getDefaultResHierarchyBranch } from '@vedavaapi/acls/dist/resolver';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';

    import { onMount, createEventDispatcher } from 'svelte';

    import { STATUS_SUCCESS } from '../../../../constants';

    import Modal from '../../../../components/Modal.svelte';
    import ResHierarchyContext from './ResHierarchyContext.svelte';
    import ResolvedAclsHierarchyBranch from './ResolvedAclsHierarchyBranch.svelte';
    import AclUpdaterFlow from './updater/AclUpdateFlow.svelte';

    /** @type {IResolvedAclsGraph} */
    export let resolvedAclsGraph;
    /** @type {IResourceHierarchy} */
    export let hierarchy;

    let currentBranch;
    /** @type {IGraph} */
    export let resGraph;
    /** @type {IGraph} */
    export let agentsGraph;

    export let vc;

    let resHierarchyVisible = false;

    let aclUpdateOpDirectives;

    let setResAclVisibilityInCurrentBranch;
    let scrollToAndExpandResNodeInCurrentBranch;

    const dispatch = createEventDispatcher();

    const navToResNodeInCurrentBranch = async (resId) => {
        await scrollToAndExpandResNodeInCurrentBranch(resId);
    };

    /*
    const clearOnBranchChange = () => {
        Object.keys(resIdExpandedMap).forEach((nodeId) => {
            if (!currentBranch.includes(nodeId)) {
                delete resIdExpandedMap[nodeId];
            }
        });
    };
    */

    // eslint-disable-next-line
    // $: currentBranch;
    const onAclUpdateRequest = (event) => {
        const opDirectives = event.detail;
        // console.log({ opDirectives });
        aclUpdateOpDirectives = opDirectives;
    };

    onMount(() => {
        if (window.matchMedia('screen and (min-width: 860px').matches) {
            resHierarchyVisible = true;
        }
    });

    const onAclUpdaterClose = (event) => {
        const { opStatus, opDirectives: finalOpDirectives, updatedAcl } = event.detail;
        aclUpdateOpDirectives = undefined; // closes modal;
        if (opStatus !== STATUS_SUCCESS) return;
        dispatch('re-resolve-request', { opDirectives: finalOpDirectives, updatedAcl });
    };

    const getOpeningScreen = (opDirectives) => {
        const isAdd = opDirectives.method === 'post' && !opDirectives.userIds.length && !opDirectives.teamIds.length;
        return isAdd ? 'agents-selector' : 'acl-updater';
    };
</script>


<div class="wrapper">
    <div class="header">
        <div class="header__title">Acls editor</div>
        <button type="button" class="header__rh-toggle reset__button" on:click="{() => { resHierarchyVisible = !resHierarchyVisible; }}">
            <svg class="kicon header__rh-toggle__icon">
                <use xlink:href="symbol-defs.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
    <div class="racls-hierarchy" class:racls-hierarchy--res-h-expanded="{resHierarchyVisible}">
        <div class="racls-current-branch">
            <ResolvedAclsHierarchyBranch
                {resolvedAclsGraph}
                hierarchyBranch="{currentBranch}"
                {resGraph}
                {agentsGraph}
                bind:scrollToAndExpandResNode="{scrollToAndExpandResNodeInCurrentBranch}"
                bind:setResAclVisibility="{setResAclVisibilityInCurrentBranch}"
                on:aclUpdateRequest="{onAclUpdateRequest}"
            />
        </div>
        <div class="res-hierarchy" class:hidden="{!resHierarchyVisible}">
            <ResHierarchyContext
                {hierarchy}
                {resGraph}
                bind:currentBranch="{currentBranch}"
                on:res-node-nav-request="{(e) => { navToResNodeInCurrentBranch(e.detail); }}"
            />
        </div>
    </div>
</div>

<div class="modal-wrapper">
    {#if !!aclUpdateOpDirectives}
        <Modal visible="{true}">
            <div class="acl-updater-wrapper">
                <AclUpdaterFlow
                    res="{resGraph[aclUpdateOpDirectives.resId]}"
                    {agentsGraph}
                    selectedAgentMembersSet="{{
                        [AclAgentType.USERS]: aclUpdateOpDirectives.userIds,
                        [AclAgentType.TEAMS]: aclUpdateOpDirectives.teamIds,
                    }}"
                    bind:selectedActions="{aclUpdateOpDirectives.actions}"
                    control="{aclUpdateOpDirectives.control}"
                    method="{aclUpdateOpDirectives.method}"
                    {vc}
                    openingScreen="{getOpeningScreen(aclUpdateOpDirectives)}"
                    on:close-request="{onAclUpdaterClose}"
                />
            </div>
        </Modal>
    {/if}
</div>

<style>
    .wrapper {
        /* height: 95vh; */
    }

    .header {
        display: grid;
        grid-template-columns: auto 1.5rem;
        font-size: 0.9rem;
        color: var(--c-p);
        background-color: var(--c-sd);
        height: 1.3rem;
        margin-bottom: 0.2rem;
        justify-items: center;
        align-items: center;
    }

    .racls-hierarchy {
        display: grid;
        position: relative;
        padding: 0.3rem;
        padding-top: 0rem;
        /*height: calc(100% - 1.5rem); TODO*/
        height: calc(100vh - 5rem);
        overflow-y: auto;
    }

    .res-hierarchy {
        position: absolute;
        top: 0rem;
        right: 0rem;
        height: 100%;
        width: 30%;
        overflow: auto;
        box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
        background-color: var(--c-p);
        z-index: 5;
        padding: 0.3rem;
    }

    .racls-current-branch {
        padding-top: 0.3rem;
        height: 100%;
        overflow: auto;
    }

    @media screen and (min-width: 860px) {
        .racls-hierarchy {
            grid-template-columns: 1fr;
        }

        .racls-hierarchy--res-h-expanded {
            grid-template-columns: 4fr 1fr;
            gap: 0.3rem;
        }

        .res-hierarchy {
            position: relative;
            z-index: 1;
            width: unset;
            box-shadow: none;
            background-color: unset;
            border-left: 2px solid var(--c-sep);
        }

        .racls-current-branch {
            padding-right: 0.3rem;
        }
    }

    .modal-wrapper {
        --content-max-width: 32rem;
        --content-height: 75vh;
    }

    .acl-updater-wrapper {
        height: 100%;
        --mhdr-btrr: 0.5em;
        --mhdr-btlr: 0.5em;
        --mgo-bblr: 0.5em;
        --mgo-bbrr: 0.5em;
    }
</style>
