<script>
    import { AclResolvedControl, AclResolvedControls, ACL_RESOLVED_CONTROL_CONTROL_MAP } from '@vedavaapi/acls/dist/controls';

    import { createEventDispatcher } from 'svelte';

    import ResolvedActionControlAgents from './ResolvedActionControlAgents.svelte';
    import Tabs from '../../../_components/Tabs.svelte';

    export let action;
    /** @type {IActionResolvedAgents} */
    export let actionResolvedAgents;
    /** @type {IGraph} */
    export let agentsGraph;

    const dispatch = createEventDispatcher();

    const controlTabSpecs = AclResolvedControls.map((rControl) => ({ id: rControl, label: rControl }));
    let selectedControlTabId = AclResolvedControl.GRANTED;

    const onAclUpdateRequest = (event) => {
        const opDirectives = event.detail;
        opDirectives.actions = [action];
        dispatch('aclUpdateRequest', opDirectives);
    };
</script>


<div class="rac">
    <div style="display:content;">
        <Tabs
            tabSpecs="{controlTabSpecs}"
            bind:currentTabId="{selectedControlTabId}"
        />
    </div>
    <div class="resolved-action-controls">
        {#each AclResolvedControls as rControl(rControl)}
            <div class="resolved-control-agents" class:hidden="{selectedControlTabId !== rControl}">
                <ResolvedActionControlAgents
                    inheritedAgentSet="{actionResolvedAgents[rControl]}"
                    {agentsGraph}
                    control="{ ACL_RESOLVED_CONTROL_CONTROL_MAP[rControl] }"
                    on:aclUpdateRequest="{onAclUpdateRequest}"
                />
            </div>
        {/each}
    </div>
</div>

<style>
    .rac {
        /* --tabs-justify: center; */
    }
</style>
