<script>
    import delve from 'dlv';

    import { setContext, createEventDispatcher } from 'svelte';
    import { fade } from 'svelte/transition';

    import { kAclUpdatePermitted } from '../context-keys';
    import ResolvedAcl from './ResolvedAcl.svelte';
    import ResInfo from './ResInfo.svelte';


    /** @type {IResolvedAcl} */
    export let resolvedAcl;
    /** @type {IResource} */
    export let res;
    /** @type {IGraph} */
    export let agentsGraph;

    export let expanded = true;

    const dispatch = createEventDispatcher();

    const aclUpdatePermitted = !!delve(res, 'resolvedPermissions.updatePermissions');

    setContext(kAclUpdatePermitted, aclUpdatePermitted);

    const onAclUpdateRequest = (event) => {
        const opDirectives = event.detail;
        opDirectives.resId = res._id;
        dispatch('aclUpdateRequest', opDirectives);
    };
</script>


<div class="wrapper">
    <div class="header" class:header--racl-hidden="{!expanded}" on:click="{() => { expanded = !expanded; }}">
        <button type="button" class="header__racl-toggler reset__button">
            <svg class="kicon kicon-toggle">
                <use xlink:href="symbol-defs.svg#icon-cheveron-outline-{expanded ? 'down' : 'right'}"></use>
            </svg>
        </button>
        <div class="header__res-info">
            <ResInfo {res}/>
        </div>
        <div
            class="header__acls-update-permission"
            style="background-color:{aclUpdatePermitted ? 'limegreen' : 'indianred'}"
            title="Acl update {aclUpdatePermitted ? '' : 'not'} permitted"
            >
        </div>
    </div>
    
    <div class="racl" class:hidden="{!expanded}" transition:fade>
        <ResolvedAcl
            {resolvedAcl}
            {agentsGraph}
            on:aclUpdateRequest="{onAclUpdateRequest}"
        />
    </div>
</div>


<style>

    .wrapper {
    }

    .header {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: var(--c-s);
        color: var(--c-p);
        padding: 0.1rem 0.3rem;
        cursor: pointer;
    }

    .header--racl-hidden {
        /* background-color: var(--c-sl); */
    }

    .header__acls-update-permission {
        height: 0.8rem;
        width: 0.8rem;
        align-self: center;
        justify-self: end;
        border-radius: 0.5rem;
    }

    .racl {
        border: 1px dashed var(--c-onp-hd);
        border-top: none;
    }
</style>
