<script context="module">
    export async function preload(page) {
        const { taskId } = page.params;
        return { taskId };
    }
</script>


<script>
    import { tasker } from '@vedavaapi/client';
    import { AclAgentType } from '@vedavaapi/acls/dist/agent-types';
    import { tick } from 'svelte';
    import { _ } from 'svelte-i18n';
    
    import { vc } from '../../context-stores';
    import { UiProfilesManager } from '../vihari/_components/res/UiProfilesManager';
    import { collectTargetsAndAgents, getAgents, getTargets } from './_components/tasks-view-helper';

    import Header from '../_components/Header.svelte';
    import FetchErrorReport from '../../components/FetchErrorReport.svelte';
    import TaskRepr from './_components/TaskRepr.svelte';

    export let taskId;
    let task;

    let tasksPromise;
    let targetReprsMap = {};
    let targetAccessorsMap = {};
    let usersGraph = {};

    async function getTask() {
        tasksPromise = tasker.manager.Tasks.get({
            vc: $vc,
            params: {
                selector_doc: { _id: taskId },
                count: 1,
            },
        }).then((resp) => {
            if (resp.data.items.length !== 1) {
                throw Error($_('tasks.flow.cannot-access-task'));
            }
            [task] = resp.data.items;
            return task;
        });
        try {
            await tasksPromise;
            await tick;
            const { targetIds, userIds } = collectTargetsAndAgents([task]);

            const targets = await getTargets($vc, targetIds);
            const { reprs, accessorsMap } = await UiProfilesManager.getReprsAndAccessors(targets);
            targetReprsMap = {};
            reprs.forEach((repr) => { targetReprsMap[repr._id] = repr; });
            targetAccessorsMap = accessorsMap;
            await tick;

            usersGraph = await getAgents($vc, userIds, AclAgentType.USERS);
            await tick;
        } catch (error) {
            //
        }
    }

    // eslint-disable-next-line no-unused-expressions
    $: taskId && getTask();
</script>


<Header/>

<div class="container">
    {#if tasksPromise}
        {#await tasksPromise}
            loading
        {:then task}
            <TaskRepr
                task="{task}"
                reprsMap="{targetReprsMap}"
                accessorsMap="{targetAccessorsMap}"
                agentsGraph="{usersGraph}"
            />
        {:catch error}
            <FetchErrorReport
                {error}
                on:retry="{getTask}"
            />
        {/await}
    {/if}
</div>


<style>
    .container {
        max-width: 55.8em;
        margin: 0.5em auto;
        border-radius: 0.5em;
        --ts-toggle-trr: 0.5em;
        border: var(--repr-grid-border, 1px solid var(--c-sep));
        box-shadow: var(--repr-grid-shadow, 1px 0px 3px #aaa);    }
</style>
