<script context="module">
    export async function preload(page) {
        const { query } = page;
        const frMap = {};
        Object.keys(query).forEach((k) => {
            frMap[k] = 'is'; // TODO support all relations
        });
        return {
            asInitialValues: {
                conj: 'and',
                fvMap: query,
                frMap,
            },
        };
    }
</script>

<script>
    import { _ } from 'svelte-i18n';

    import ScrollToEnds from '../../components/ScrollToEnds.svelte';
    import Header from '../_components/Header.svelte';
    import CollectionInterface from '../vihari/res/_components/CollectionInterface.svelte';

    export let asInitialValues;
</script>


<Header/>

<div class="container">
    <div class="tasks">
        <!--img class="nalanda__repr" src="nalanda.jpg" alt="{$_('projects.nalanda.name')}"-->
        {$_('projects.tasks.welcome')}
    </div>

    <div class="colln-interface-wrapper">
        <CollectionInterface
            mode="tasks"
            allowedClassNames="{['Task']}"
            shouldEnableDelete="{false}"
            hideFlags="{{}}"
            anchorTarget="_self"
            interfaceTitle="{$_('g.tasks')}"
            multiSelect="{true}"
            parentView="{{}}"
            resClassLabel="{$_('g.library')}"
            siVisible="{true}"
            advancedSearchEnabled="{true}"
            searchInputSanityFlags="{{ noSimple: true, noConst: true }}"
            { asInitialValues }
        />
    </div>
</div>

<ScrollToEnds/>

<style>
    .container {
        max-width: 65em;
        min-width: 85%;
        padding: 0.5em;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-items: center;
        gap: 0.5em;
        min-height: calc(100vh - 3.7em);
    }

    .tasks {
        font-weight: bold;
        text-align: center;
        width: max-content;
        margin: 0 auto 0.3em auto;
    }

    .colln-interface-wrapper {
        width: 100%;
    }
</style>
