<script>
    import { createEventDispatcher } from 'svelte';
    import { _ } from 'svelte-i18n';

    import AutoComplete from 'simple-svelte-autocomplete';


    export let classNames;
    export let selectedClass;

    const frMap = { jsonClass: 'is' };
    const fvMap = {};
    export const mapsGroup = { and: { fvMap, frMap } };

    const dispatch = createEventDispatcher();

    const onChange = (selectedItem) => {
        selectedClass = selectedItem;
        dispatch('selection-change');
    };

    // eslint-disable-next-line no-unused-expressions
    $: selectedClass, fvMap.jsonClass = selectedClass;

    // $: console.log({ selectedClass });

    // TODO report bug about binding to selectedItem
</script>

<div class="container">
    <AutoComplete
        items="{classNames}"
        {onChange}
        bind:selectedItem="{selectedClass}"
        placeholder="{$_('g.select-class')}"
        noResultsText="{$_('g.no-results-found')}"
    />
</div>


<style>

    :global(.autocomplete-list-item:hover, .autocomplete-list-item.selected) {
        background-color: var(--c-s)!important;
    }

    .container {
        height: 2em;
    }

</style>
