<script>
    import { onMount } from 'svelte';
    import { _ } from 'svelte-i18n';

    import Tabs from '../../routes/_components/Tabs.svelte';
    import TextAreaAutoResize from './TextAreaAutoSize.svelte';

    export let multiple = false;
    export let files;
    export let url;
    export let value;

    export let name;
    export let accept;
    export let currentRepr;
    export let descr;

    export let protos;
    export let selectedProto;
    let protoTabSpecs;
    function computeTabSpecs() {
        const eProtos = protos && protos.length ? protos : ['file'];
        protoTabSpecs = [];
        eProtos.forEach((p) => {
            if (p === 'file') {
                protoTabSpecs.push({ id: 'file', label: $_('g.local') });
            } else if (p === 'http') {
                protoTabSpecs.push({ id: 'http', label: $_('g.web-adj') });
            }
        });
        protoTabSpecs = protoTabSpecs;
        if (!selectedProto || !eProtos.includes(selectedProto)) {
            [selectedProto] = eProtos;
        }
    }
    // eslint-disable-next-line no-unused-expressions
    $: protos, computeTabSpecs();

    let fileElem;
    let objectURL;

    onMount(() => () => {
        if (objectURL) {
            URL.revokeObjectURL(objectURL);
        }
    });

    function onFilesChange() {
        if (objectURL) {
        // eslint-disable-next-line no-unused-expressions
            URL.revokeObjectURL && URL.revokeObjectURL(objectURL);
        }
        if (!files || !files.length) {
            objectURL = null;
            // eslint-disable-next-line no-unused-expressions
            fileElem && (fileElem.value = '');
            return;
        }
        if (files[0].type.startsWith('image/')) {
            objectURL = URL.createObjectURL(files[0]);
        }
    }

    // eslint-disable-next-line no-unused-expressions
    $:files, onFilesChange();
    // eslint-disable-next-line no-unused-expressions
    $: files, url, value = (selectedProto === 'file' ? files : url);
</script>


<div class="container">
    <div class="tabs">
        <Tabs tabSpecs="{protoTabSpecs}" bind:currentTabId="{selectedProto}"/>
    </div>
    {#if selectedProto === 'file'}
        <div class="file-input">
            <input type="file" bind:files {name} on:change bind:this="{fileElem}" accept="{accept}" {multiple}/>
            <div class="repr">
                {#if (!files || !files.length) && currentRepr}
                    <img src="{currentRepr.url}" alt="{descr}">
                {:else if objectURL}
                    <img src="{objectURL}" alt="{descr}">
                {/if}
            </div>
        </div>
    {:else}
        <div class="url-input">
            {#if multiple}
                <TextAreaAutoResize
                    on:change
                    {name}
                    minRows="{3}"
                    maxRows="{8}"
                    bind:value="{url}"
                    placeholder="{$_('forms.enter-url-multi')}"
                />
            {:else}
                <input type="url" bind:value="{url}" {name} on:change placeholder="{$_('forms.enter-url')}">
            {/if}
        </div>
    {/if}
</div>


<style>

    .tabs {
        height: 2em;
        width: max-content;
        /* margin: 0.3em auto 0 auto; */
        --tabs-justify: center;
        --tabs-sel-border-bottom-width: 2px;
        --tabs-sel-border-bottom-color: var(--c-contrast-on);
        --tabs-text-color: var(--c-onp-hd);
        --tabs-selected-tab-bg: var(--c-contrast2);
        --tabs-tab-border-color: var(--c-contrast2);
        --tabs-anchor-hover-color: var(--c-sd);
        background: var(--c-contrast2);
        padding: 0.15em;
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }

    .file-input {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 100%;
        max-height: 7rem;
    }

    input {
        display: block;
        margin: 0.3em auto;
    }

    input[type="file"] {
        border: none;
        outline: 1px dotted var(--c-onpxl);
    }

    input[type="url"] {
        width: 90%;
    }

    .repr {
        margin: 0.3em auto;
        max-width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
