<script>
    import { _ } from 'svelte-i18n';
    import { notifier } from '@beyonk/svelte-notifications';
    import { createEventDispatcher } from 'svelte';

    import IdsInput from '../../routes/vihari/_components/search/input-types/IdsInput.svelte';
    import AgentIdsInput from '../../routes/sangha/_components/agents/AgentIdsInput.svelte';
    import FileField from './FileField.svelte';
    import TextAreaAutoSize from './TextAreaAutoSize.svelte';

    export let schema;
    export let initialValues = {};
    export let initialReprs = {};

    export let enableCancel = false;
    export let enableSkip = false;

    const form = {};
    let changes = {};
    let errors = {};
    const dispatch = createEventDispatcher();

    function logChange(fieldName) {
        // console.log('log change', fieldName);
        changes[fieldName] = true;
    }

    function onChange(e) {
        const fieldName = e.target.getAttribute('name');
        if (!fieldName) return;
        logChange(fieldName);
    }

    export function reset() {
        // console.log('in reset');
        // TODO ask confirmation
        // console.log('in reset', { form, initialValues });
        schema = schema;
        Object.keys(form).forEach((k) => {
            if (Object.prototype.hasOwnProperty.call(initialValues, k)) {
                form[k] = JSON.parse(JSON.stringify(initialValues[k]));
                return;
            }
            if (typeof form[k] === 'string') {
                form[k] = '';
            } else if (typeof form[k] === 'number') {
                form[k] = 0;
            } else {
                form[k] = undefined;
            }
        });
        Object.keys(initialValues).forEach((k) => {
            if (!Object.prototype.hasOwnProperty.call(form, k)) {
                form[k] = JSON.parse(JSON.stringify(initialValues[k]));
            }
        });
        changes = {};
        errors = {};
    }

    function onCancel() {
        // console.log('in cancel');
        reset();
        // if (notifier) notifier.danger('Form resetted');
        dispatch('cancel');
    }

    function onSkip() {
        reset();
        dispatch('skip');
    }

    function validate() {
        errors = {};
        schema.fields.forEach((fs) => {
            const val = form[fs.name];
            const fErrors = [];
            if (!val && fs.required) {
                fErrors.push($_('forms.errors.required', { values: { f: fs.label || fs.name } }));
            }
            if (fErrors.length) {
                errors[fs.name] = fErrors;
            }
        });
    }

    function onSubmit() {
        validate();
        if (errors && Object.keys(errors).length) {
            if (notifier) notifier.danger('Invalid input. see errors');
            return;
        }
        dispatch('submit', { form, changes });
    }
</script>


<form>
    <fieldset>
        <legend>{schema.title || ''}</legend>
        {#if schema.fields}
            {#each schema.fields as fs(fs.name)}
                <div class="field">
                    <label class="field__label">{fs.label || fs.name}<sup>{fs.required ? '* ' : ''}</sup>:</label>
                    {#if fs.descr}
                        <div class="field__descr">{fs.descr}</div>                        
                    {/if}
                    <div class="field__val" class:field__val--error="{errors && errors[fs.name]}">
                        {#if fs.type === 'string'}
                            <input type="text" name="{fs.name}" bind:value="{form[fs.name]}" on:change="{onChange}">
                        {:else if  fs.type === 'text'}
                             <TextAreaAutoSize
                                minRows="{2}"
                                maxRows="{9}"
                                bind:value="{form[fs.name]}"
                                name="{fs.name}"
                                on:change="{onChange}"
                             />
                        {:else if fs.type === '_id'}
                            <IdsInput
                                bind:resId="{form[fs.name]}"
                                mode="single"
                                allowedClassNames="{fs.allowedClasses || undefined}"
                                on:change="{() => logChange(fs.name)}"
                            />
                        {:else if fs.type === 'agent'}
                            <AgentIdsInput
                                bind:agentId="{form[fs.name]}"
                                mode="single"
                                agentType="{fs.agentType || undefined}"
                                on:change="{() => logChange(fs.name)}"
                            />
                        {:else if fs.type === 'number'}
                             <input type="number" name="{fs.name}" bind:value="{form[fs.name]}" min="{fs.min}" max="{fs.max}" on:change="{onChange}">
                        {:else if fs.type === 'password'}
                             <input type="password" name="{fs.name}" bind:value="{form[fs.name]}" autocomplete="{fs.autocomplete}" on:change="{onChange}">
                        {:else if fs.type === 'email'}
                             <input type="email" name="{fs.name}" bind:value="{form[fs.name]}"  on:change="{onChange}">
                        {:else if fs.type === 'url'}
                             <input type="url" name="{fs.name}" bind:value="{form[fs.name]}"  on:change="{onChange}">
                        {:else if  fs.type === 'checkbox'}
                                <input type="checkbox" name="{fs.name}" bind:checked="{form[fs.name]}"  on:change="{onChange}">
                        {:else if fs.type === 'yn'}
                            <!-- svelte-ignore a11y-no-onchange -->
                            <select bind:value="{form[fs.name]}" name="{fs.name}"  on:change="{onChange}">
                                <option value="{true}">{fs.ynLabels.y}</option>
                                <option value="{false}">{fs.ynLabels.n}</option>
                            </select>
                        {:else if fs.type === 'file'}
                             <FileField
                                bind:value="{form[fs.name]}"
                                name="{fs.name}"
                                accept="{fs.accept}"
                                multiple="{!!fs.multiple}"
                                protos="{fs.protos}"
                                currentRepr="{initialReprs[fs.name] || undefined}"
                                on:change="{onChange}"
                             />
                        {/if}
                    </div>
                    {#if errors && errors[fs.name]}
                        <ul class="field__errors">
                            {#each errors[fs.name] as e}
                                <li>{e}</li>
                            {/each}
                        </ul>
                    {/if}
                </div>
            {/each}
        {/if}
    </fieldset>

    <div class="form__actions">
        {#if enableCancel}
            <button type="button" on:click="{onCancel}">{ $_('forms.cancel')}</button>            
        {/if}
        {#if enableSkip}
            <button type="button" on:click="{onSkip}">{ $_('g.skip')}</button>
        {/if}
        <button type="submit" on:click|preventDefault|stopPropagation="{onSubmit}">{schema.submit || $_('forms.submit')}</button>
    </div>
</form>


<style>

    fieldset {
        border-radius: 0.5em;
    }

    legend {
        color: var(--c-onp-hd);
        margin: 0 auto;
        font-weight: 600;
    }

    .field {
        display: block;
        margin-bottom: 0.85em;
    }

    .field:last-child {
        margin-bottom: 0em;
    }

    .field__label {
        font-weight: 500;
        display: block;
        color: var(--c-onpm);
    }

    sup {
        color: red;
    }

    .field__descr {
        font-size: 0.7em;
        color: var(--c-onp-hd);
    }

    .field__val {
        border: 2px solid transparent; /* placeholder border */
        box-shadow: 0 0 0 1px var(--c-onpxl); /* virtual border */
        border-radius: 0.3em;
        width: 98.5%;
        padding: 0.3em;
        margin-top: 0.1em;
        margin-left: auto;
    }

    .field__val--error {
        box-shadow: 0 0 0 1px var(--c-st-err-red);
    }

    .field__val:focus-within {
        border: 2px solid var(--c-sl);
        box-shadow: none;
    }

    input, select {
        border: none;
        outline: none;
    }

    input, select {
        width: 100%;
    }

    select {
        height: 1.7em;
        background-color: var(--c-p);
    }

    .form__actions {
        margin-top: 0.3em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    button {
        display: block;
        margin: 0 0.3em;
        background: var(--c-action-bar);
        color: var(--c-onp-hd);
        outline: none;
        border: 3px solid var(--c-onpxl);
    }

    button:focus {
        box-shadow: 0 0 3px 1px var(--c-os);
        border-color: transparent;
    }

    .field__errors {
        margin: 0;
        list-style: none;
        font-size: 0.7em;
        color: var(--c-st-err-red);
        margin-left: 1.5%;
        margin-top: 0.3em;
        padding: 0.3em;
        background: var(--c-st-bg-red);
    }
</style>
