<!--
    @see: https://svelte.dev/repl/40f4c7846e6f4052927ff5f9c5271b66?version=3.16.4
-->
<script>
    export let value = '';
    export let name;
    export let placeholder;
    export let minRows = 1;
    export let maxRows;

    $: minHeight = `${minRows * 1.2}em`;
    $: maxHeight = maxRows ? `${maxRows * 1.2}em` : 'auto';
</script>

<div class="container">
	<pre
		aria-hidden="true"
		style="min-height: {minHeight}; max-height: {maxHeight}"
	>{`${value}\n`}</pre>

	<textarea bind:value on:change {name} {placeholder}></textarea>	
</div>

<style>
	.container {
		position: relative;
	}
	
	pre, textarea {
		font-family: inherit;
		padding: 0.5em;
		box-sizing: border-box;
		border: 1px solid #eee;
		line-height: 1.2;
		overflow: auto;
        margin: 0em;
	}
	
	textarea {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
        resize: none;
        border: none;
        outline: none;
	}
</style>
